@function vw($size, $breakpoint: 768) {
	@return ($size / $breakpoint) * 100vw;
}
@mixin media($breakpoint: 768px) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}
#app {
}
.crypto-price {
	display: flex;
	&__box {
		text-align: right;
		margin-right: 1rem;
		&:last-child {
			margin-right: 0;
		}
	}
}
.power-box {
	margin-right: 1rem;
}
.mr-3 {
	margin-right: 1rem;
}
.mb-3 {
	margin-bottom: 1rem;
}
.RollerCoin-wrap {
	display: flex;
	@include media {
		display: none;
	}
}
.red {
	color: red;
	position: relative;
}
.green {
	color: #55aa4f;
	position: relative;
}
@include media {
	body {
		background-color: #14121d;
		color: #fff;
	}
	.crypto-price {
		flex-direction: column;
		padding: vw(16);
		&__title {
			width: 25%;
			position: relative;
			display: flex;
			align-items: center;
			span:nth-child(1) {
				display: inline-block;
				background-size: cover;
				width: vw(50);
				height: vw(50);
				margin-right: vw(12);
			}
		}
		&__box {
			display: flex;
			align-items: center;
			padding: vw(24);
			font-size: vw(32);
			border-bottom: 1px solid #222222;
			margin-right: 0;
			&.btc {
				.crypto-price__title {
					span:nth-child(1) {
						background-image: url("../images/btc.png");
					}
				}
			}
			&.eth {
				.crypto-price__title {
					span:nth-child(1) {
						background-image: url("../images/eth.png");
					}
				}
			}
			&.cake {
				.crypto-price__title {
					span:nth-child(1) {
						background-image: url("../images/cake.png");
					}
				}
			}
			&.doge {
				.crypto-price__title {
					span:nth-child(1) {
						background-image: url("../images/doge.png");
					}
				}
			}
			&.bch {
				.crypto-price__title {
					span:nth-child(1) {
						background-image: url("../images/bch.png");
					}
				}
			}
			&.bnb {
				.crypto-price__title {
					span:nth-child(1) {
						background-image: url("../images/bnb.png");
					}
				}
			}
		}
		&__price {
			width: 45%;
			text-align: right;
		}
		&__dual {
			width: 30%;
			display: grid;
			grid-template-columns: 1fr 0.5fr;
			span:nth-child(1) {
				grid-column: 1/2;
				grid-row: 1/2;
				text-align: right;
			}
			span:nth-child(2) {
				grid-column: 1/2;
				grid-row: 2/3;
				text-align: right;
			}
			span:nth-child(3) {
				grid-row: 1/3;
				align-self: center;
				justify-self: center;
			}
		}
	}
}
