<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RollerCoin 計算機3</title>
		<link rel="stylesheet" href="rollercoin.css" />
		<script src="https://tw.hicdn.beanfun.com/plugins/vue/3.2.1/vue.global.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="crypto-price mb-3">
				<template v-if="Object.keys(CRYPTOS_JSON).length">
					<price v-for="c in CRYPTOS" :crypto="CRYPTOS_JSON[c]"></price>
				</template>
			</div>
			<div class="RollerCoin-wrap mb-3">
				<div class="power-box mr-3">
					<div class="inputlabel">
						<label class="spacing" for="network-power">Enter Network Power For Desired Coin</label>
						<br class="spacerInput" />
						<input class="inputCalc" type="number" step="any" id="network-power" v-model="networkPower" />
						<select name="network-power-prefix" id="network-power-selector" v-model="network">
							<option value="ghs">GH/s</option>
							<option value="ths">TH/s</option>
							<option value="phs">PH/s</option>
							<option value="ehs">EH/s</option>
						</select>
					</div>
					<div class="inputlabel">
						<label for="goal-power" class="spacing">Enter Your Desired Goal Power</label>
						<br class="spacerInput" />
						<input class="inputCalc" type="number" name="goal-power-hash" id="goal-power" v-model="goalPower" />
						<select name="goal-power-prefix" id="goal-power-selector" v-model="goal">
							<option value="ghs">GH/s</option>
							<option value="ths">TH/s</option>
							<option value="phs" selected>PH/s</option>
							<option value="ehs">EH/s</option>
						</select>
					</div>
					<div class="inputlabel">
						<label for="block-reward" class="spacing">Enter Block Reward For Desired Coin</label>
						<br class="spacerInput" />
						<input class="inputCalc inputBlock" type="number" name="block-reward" id="block-reward" :value="blockAmount" />
						<select name="block-type" id="block-type" v-model="block">
							<option value="BTC">Bitcoin (BTC)</option>
							<option value="DOGE">Doge (DOGE)</option>
							<option value="ETH">Etherium (ETH)</option>
							<option value="RLT">RollerToken (RLT)</option>
						</select>
					</div>
					<input type="checkbox" v-model="double" />雙倍
					<br />
					<button id="calcbtn" style="margin-top: 10px" class="spacing" @click="calculateGoalPower">Calculate</button>
				</div>

				<div class="reward-box">
					<span>每10分鐘: <span id="exp_reward">{{expReward}}</span></span>
					<br />
					<span>每天: <span id="daily">{{daily}}</span></span>
					<br />
					<span>每週: <span id="weekly">{{weekly}}</span></span>
					<br />
					<span>每個月: <span id="monthly">{{monthly}}</span></span>
				</div>
			</div>
			<div class="interest-box">
				<div class="interest-price__box"><span>金額:</span><input type="text" v-model="interestPrice" /></div>
				<div class="interest-rate__box"><span>年利率</span><input type="text" v-model="interestRate" /><span>%</span></div>
				<div class="interest-total">{{interestTotal}}</div>
			</div>
		</div>
		<script>
			var app = Vue.createApp({
				created() {
					this.getData();
					this.GetDualCurrency();
				},
				mounted() {
					this.runTime();
				},
				computed: {
					DualCurrencyBTC() {
						return this.BTCUSDT.c < this.DualCurrency[0];
					},
					DualCurrencyBTCU() {
						return this.BTCUSDT.c > this.DualCurrency[1];
					},
					DualCurrencyETH() {
						return this.ETHUSDT.c < this.DualCurrency[2];
					},
					DualCurrencyETHU() {
						return this.ETHUSDT.c > this.DualCurrency[3];
					},
					interestTotal() {
						return (this.interestPrice * (this.interestRate / 100)) / 365;
					},
					blockAmount() {
						if (this.block == "BTC") {
							if (this.double) {
								return 30000 * 2;
							}
							return 30000;
						}
						if (this.block == "DOGE") {
							if (this.double) {
								return 20 * 2;
							}
							return 20;
						}
						if (this.block == "ETH") {
							if (this.double) {
								return 0.005 * 2;
							}
							return 0.005;
						}
						if (this.block == "RLT") {
							if (this.double) {
								return 30 * 2;
							}
							return 30;
						}
					},
				},
				data() {
					return {
						interestPrice: 0,
						interestRate: 0,
						network: "ehs",
						networkPower: 0,
						networkPowerTotal: 0,
						goal: "phs",
						goalPower: 0,
						goalPowerTotal: 0,
						block: "BTC",
						expReward: "",
						daily: "",
						weekly: "",
						monthly: "",
						ghs: 1000000000,
						ths: 1000000000000,
						phs: 1000000000000000,
						ehs: 1000000000000000000,
						double: false,
						CRYPTOS: ["BTC_USDT", "ETH_USDT", "BCH_USDT", "CAKE_USDT", "BNB_USDT", "ALPACA_USDT", "BSW_USDT", "BABY_USDT", "ZOO_USDT"],
						CRYPTOS_JSON: {},
						timer: null,
						ID_TOKEN: "1YXtM-dGqnu5wy8iI3xxl0h92QstxFW5CQ1cyOHQ_nk8",
						API_KEY: "AIzaSyDTc1HMsxlYTyCeGgKRs3GzLSieQtoOQ3I",
						Sheet_Name: "DualCurrency",
						DualCurrency: [],
						duration: 1000,
					};
				},
				watch: {
					double(newVal, oldVal) {
						this.calculateGoalPower();
					},
					networkPower(newVal, oldVal) {
						if (this.network == "ghs") {
							this.networkPowerTotal = newVal * this.ghs;
						}
						if (this.network == "ths") {
							this.networkPowerTotal = newVal * this.ths;
						}
						if (this.network == "phs") {
							this.networkPowerTotal = newVal * this.phs;
						}
						if (this.network == "ehs") {
							this.networkPowerTotal = newVal * this.ehs;
						}
						this.calculateGoalPower();
					},
					goalPower(newVal, oldVal) {
						if (this.goal == "ghs") {
							this.goalPowerTotal = newVal * this.ghs;
						}
						if (this.goal == "ths") {
							this.goalPowerTotal = newVal * this.ths;
						}
						if (this.goal == "phs") {
							this.goalPowerTotal = newVal * this.phs;
						}
						if (this.goal == "ehs") {
							this.goalPowerTotal = newVal * this.ehs;
						}
						this.calculateGoalPower();
					},
				},
				methods: {
					GetSymbol(num) {
						return num > 0 ? "+" : "";
					},
					GetDualCurrency() {
						var API = `https://sheets.googleapis.com/v4/spreadsheets/${this.ID_TOKEN}/values/${this.Sheet_Name}?alt=json&key=${this.API_KEY}`;
						fetch(API)
							.then((res) => {
								return res.json();
							})
							.then((data) => {
								this.DualCurrency = data.values[1];
							});
					},

					toPoint(value, point) {
						if (value) {
							return Number(value).toFixed(point);
						} else {
							return 0;
						}
					},
					toPointPercent(value, point) {
						if (value) {
							var _value = value * 100;
							return Number(_value).toFixed(point);
						} else {
							return 0;
						}
					},
					getData() {
						var API = "/api/hello";
						fetch(API)
							.then((res) => res.json())
							.then((data) => {
								data.data.data.forEach((v, i) => {
									if (this.CRYPTOS.indexOf(v.symbol) > -1) {
										this.CRYPTOS_JSON[v.symbol] = v;
									}
								});
							});
					},
					runTime() {
						this.timer = setInterval(() => {
							this.getData();
						}, this.duration);
					},
					stopTime() {
						clearInterval(this.timer);
					},
					calculateGoalPower() {
						var exp_reward = this.blockAmount * (this.goalPowerTotal / this.networkPowerTotal);
						//All timers are now the same 2021-04-19
						const BlockTimer = 600;
						const secFullDay = 86400;

						const dailyBtcBlocks = secFullDay / BlockTimer;
						const dailyDogeBlocks = secFullDay / BlockTimer;
						const dailyEthBlocks = secFullDay / BlockTimer;
						var btcResult = (exp_reward * dailyBtcBlocks).toFixed(4);
						var dogeResult = (exp_reward * dailyDogeBlocks).toFixed(4);
						var ethResult = (exp_reward * dailyEthBlocks).toFixed(4);
						var rltResult = (exp_reward * dailyEthBlocks).toFixed(4);
						if (this.block == "BTC") {
							this.expReward = `${exp_reward.toFixed(4)} Satoshi`;
							this.daily = `${btcResult} Satoshi = ${Math.round(btcResult) * 0.00000001 * this.BTCUSDT.c} USDT`;
							this.weekly = `${(btcResult * 7).toFixed(4)} Satoshi = ${Math.round((btcResult * 7).toFixed(4)) * 0.00000001 * this.BTCUSDT.c} USDT`;
							this.monthly = `${(btcResult * 30).toFixed(4)} Satoshi = ${Math.round((btcResult * 30).toFixed(4)) * 0.00000001 * this.BTCUSDT.c} USDT`;
						}
						if (this.block == "DOGE") {
							this.expReward = `${exp_reward.toFixed(4)} Doge`;
							this.daily = `${dogeResult} Doge = ${dogeResult * this.DOGEUSDT.c}`;
							this.weekly = `${(dogeResult * 7).toFixed(4)} Doge = ${(dogeResult * 7).toFixed(4) * this.DOGEUSDT.c} USDT`;
							this.monthly = `${(dogeResult * 30).toFixed(4)} Doge = ${(dogeResult * 30).toFixed(4) * this.DOGEUSDT.c} USDT`;
						}
						if (this.block == "ETH") {
							this.expReward = `${exp_reward.toFixed(8)} Etherium`;
							this.daily = `${ethResult}  Etherium = ${ethResult * this.ETHUSDT.c}`;
							this.weekly = `${(ethResult * 7).toFixed(4)} Etherium = ${ethResult * 7 * this.ETHUSDT.c} USDT`;
							this.monthly = `${(ethResult * 30).toFixed(4)} Etherium = ${ethResult * 30 * this.ETHUSDT.c} USDT`;
						}
						if (this.block == "RLT") {
							this.expReward = `${exp_reward.toFixed(8)} Rollertoken`;
							this.daily = `${rltResult} Rollertoken`;
							this.weekly = `${(rltResult * 7).toFixed(4)} Rollertoken`;
							this.monthly = `${(rltResult * 30).toFixed(4)} Rollertoken`;
						}
					},
				},
			});
			app.component("price", {
				props: {
					crypto: {
						type: Function,
						default: {},
					},
				},
				template: `
					<div v-if="Object.keys(crypto).length" class="crypto-price__box" :class="SliceName(crypto.symbol)">
						<h3 class="crypto-price__title"><span></span><span>{{SliceName(crypto.symbol)}}</span></h3>
						<div class="crypto-price__price">
							<div>{{toPoint(crypto.bid,2)}}</div>
							<div :class="[crypto.change_rate > 0?'green':'red']">{{GetSymbol(crypto.change_rate)}}{{toPointPercent(crypto.change_rate,2)}}%</div>
						</div>
					</div>
				`,
				methods: {
					SliceName(name) {
						if (name) {
							return name.slice(0, -5);
						}
					},
					GetSymbol(num) {
						return num > 0 ? "+" : "";
					},
					toPoint(value, point) {
						if (value) {
							return "$" + Number(value).toFixed(point);
						} else {
							return 0;
						}
					},
					toPointPercent(value, point) {
						if (value) {
							var _value = value * 100;
							return Number(_value).toFixed(point);
						} else {
							return 0;
						}
					},
				},
			});
			app.mount("#app");
		</script>
	</body>
</html>
