%default {
	.gbox-wrap {
		max-width: 898px;
		width: 100%;
		margin-top: 80px;
		margin-bottom: 80px;
		background-color: transparent;
		color: #fff;
		background-size: 100% 100%, 139px 139px;
		padding: 40px 0;
		background-image: linear-gradient(to bottom, rgba(29, 20, 51, 0.7) 0%, transparent 100%), url("./images/lb-bg.jpg");
		background-repeat: no-repeat, repeat;
		border: 2px solid #594128;
		box-shadow: inset 0 11px 20px rgba(0, 0, 0, 0.6);
		border-radius: 10px;
		@include media {
			margin-top: vw(80);
			margin-bottom: vw(80);
			background-size: 100% 100%, vw(139) vw(139);
			border-radius: vw(10);
			border: vw(2) solid #594128;
			box-shadow: inset 0 vw(11) vw(20) rgba(0, 0, 0, 0.6);
			padding: vw(40) 0;
			max-width: vw(706);
		}
	}
	.gbox-title {
		margin: 0;
		padding: 0;
		font-size: 0;
		width: 100%;
		height: 76px;
		background-position: center center;
		background-repeat: no-repeat;
		@include media {
			height: vw(60);
		}
	}
	.gbox-content {
		position: relative;
		padding: 0px;
		width: 100%;
	}
}
%btn {
	.gbox-action {
		z-index: 2;
		position: relative;
		padding: 0;
		font-size: 0;
		margin-top: 36px;
		@include media {
		}
	}
	.gbox-btn {
		width: 310px;
		height: 60px;
		padding: 0;
		display: inline-block;
		font-size: 0;
		position: relative;
		margin: 0;
		background-size: 100%;
		background-color: transparent;
		filter: drop-shadow(0 4px 5px rgba(#0b0807, 0.5));
		& + .gbox-btn {
			margin-left: 90px;
			@include media {
				margin-left: vw(107);
			}
		}
		@include hover {
			filter: drop-shadow(0 4px 5px rgba(#0b0807, 0.5)) drop-shadow(0 0 8px #f6b05e);
		}
		@include media {
			width: vw(248);
			height: vw(47);
			background-size: cover;
			background-repeat: no-repeat;
			filter: drop-shadow(0 vw(3) vw(12) rgba(#000, 0.8));
		}
		&.lb-btn-close {
			width: 212px;
			height: 71px;
			background-image: url("./images/lb-btn-close.png");
			@include media {
				width: vw(212);
				height: vw(71);
			}
		}
		&.lb-btn-bind {
			width: 211px;
			height: 70px;
			background-image: url("./images/lb-btn-bind.png");
			@include media {
				width: vw(211);
				height: vw(70);
			}
		}
		&.lb-btn-complete {
			width: 212px;
			height: 71px;
			background-image: url("./images/lb-btn-complete.png");
			@include media {
				width: vw(212);
				height: vw(71);
			}
		}
		&.lb-btn-continue {
			width: 212px;
			height: 71px;
			background-image: url("./images/lb-btn-continue.png");
			@include media {
				width: vw(212);
				height: vw(71);
			}
		}
		&.lb-btn-guide {
			width: 212px;
			height: 71px;
			background-image: url("./images/lb-btn-guide.png");
			@include media {
				width: vw(212);
				height: vw(71);
			}
		}
		&.lb-btn-prev {
			width: 212px;
			height: 71px;
			background-image: url("./images/lb-btn-prev.png");
			@include media {
				width: vw(212);
				height: vw(71);
			}
		}
	}
}
%close {
	.gbox-close {
		width: 35px;
		height: 35px;
		font-size: 0;
		top: 22px;
		right: 20px;
		background-image: url("./img/btn-close.png");
		background-size: cover;
		@include media {
			width: vw(35);
			height: vw(35);
			right: vw(18);
			top: vw(12);
		}
	}
}
.default {
	@extend %default;
	@extend %close;
	@extend %btn;
}

.lb-btn-copy {
	width: 253px;
	height: 82px;
	background-size: 100%;
	background-image: url("./images/lb-btn-copy-sn.png");
	font-size: 0;
	@include media {
		width: vw(253);
		height: vw(82);
	}
}

.lb-btn-share__item {
	background-size: 100%;
	background-repeat: no-repeat;
	&[data-type="f"] {
		width: 182px;
		height: 65px;
		background-image: url("./images/lb-btn-share-f.png");
		@include media {
			width: vw(182);
			height: vw(65);
		}
	}
	&[data-type="line"] {
		width: 183px;
		height: 65px;
		background-image: url("./images/lb-btn-share-line.png");
		@include media {
			width: vw(183);
			height: vw(65);
		}
	}
	&[data-type="link"] {
		width: 183px;
		height: 65px;
		background-image: url("./images/lb-btn-share-link.png");
		@include media {
			width: vw(183);
			height: vw(65);
		}
	}
}

.lb-btn-login__item {
	width: 167px;
	height: 171px;
	background-size: 100%;
	background-repeat: no-repeat;
	&--focus {
		filter: drop-shadow(0px 0px 8px #ffde73);
		@include media {
			filter: drop-shadow(0px 0px vw(8) #ffde73);
		}
	}
	@include media {
		width: vw(167);
		height: vw(171);
	}
	&[data-type="g"] {
		background-image: url("./images/lb-btn-login-g.png");
	}
	&[data-type="f"] {
		background-image: url("./images/lb-btn-login-f.png");
	}
	&[data-type="ios"] {
		background-image: url("./images/lb-btn-login-ios.png");
	}
	&[data-type="bf"] {
		background-image: url("./images/lb-btn-login-bf.png");
	}
}

.lb-title {
	background-size: 100%;
	font-size: 0;
	margin: 0 auto;
}
.lb-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #fff;
	line-height: 1.5;
	@include media {
		font-size: vw(30);
	}
}

// 活動說明
.lb-guide {
	&__title {
		width: 202px;
		height: 50px;
		background-image: url("./images/lb-title-guide.png");
		margin-bottom: 27px;
		@include media {
			width: vw(251);
			height: vw(62);
			margin-bottom: vw(30);
		}
	}
	&__content {
		margin: 0 30px;
		height: 360px;
		overflow-y: auto;
		text-align: left;
		align-items: flex-start;
		justify-content: flex-start;
		line-height: 1.5;
		&::-webkit-scrollbar {
			width: var(--scroll-width, 5px);
			height: var(--scroll-height, 8px);
			background-color: #000;
			border-radius: 100vmax;
		}
		&::-webkit-scrollbar-thumb {
			background: #fff;
			border-radius: 100vmax;
		}
		@include media {
			margin: 0 vw(28);
			width: vw(650);
			height: vw(596);
		}
		p {
			padding-left: 60px;
			padding-right: 30px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			@include media {
				padding-left: vw(60);
				padding-right: vw(30);
				margin-bottom: vw(30);
			}
		}
	}
	&__list {
		padding: 0 30px 0 70px;
		margin-bottom: 24px;
		@include media {
			padding: 0 vw(30) 0 vw(70);
			margin-bottom: vw(24);
		}
	}
	&__li {
		margin-bottom: 28px;
		word-break: break-all;
		@include media {
			margin-bottom: vw(24);
		}
		a {
			color: #6ab4ff;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// 選擇遊戲
.lb-select {
	&__title {
		width: 399px;
		height: 50px;
		background-image: url("./images/lb-title-select.png");
		margin-bottom: 18px;
		@include media {
			width: vw(503);
			height: vw(63);
			margin-bottom: vw(90);
		}
	}
	&__content {
		min-height: 378px;
		@include media {
			min-height: vw(596);
			margin-bottom: vw(200);
		}
	}
	&__logo {
		background-repeat: no-repeat;
		background-size: 100%;
		@include media {
			background-size: contain;
		}
		&[data-game="cso"] {
			width: 213px;
			height: 215px;
			background-image: url("./images/logo-cso.png");
			@include media {
				width: vw(213);
				height: vw(215);
			}
		}
		&[data-game="dn"] {
			width: 307px;
			height: 250px;
			background-image: url("./images/logo-dn.png");
			@include media {
				width: vw(307);
				height: vw(250);
			}
		}
		&[data-game="els"] {
			width: 247px;
			height: 244px;
			background-image: url("./images/logo-els.png");
			@include media {
				width: vw(247);
				height: vw(244);
			}
		}
		&[data-game="lineage-free"] {
			width: 213px;
			height: 255px;
			background-image: url("./images/logo-lineage-free.png");
			@include media {
				width: vw(213);
				height: vw(255);
			}
		}
		&[data-game="lineage-m"] {
			width: 269px;
			height: 235px;
			background-image: url("./images/logo-lineage-m.png");
			@include media {
				width: vw(269);
				height: vw(235);
			}
		}
		&[data-game="lineage-month"] {
			width: 213px;
			height: 249px;
			background-image: url("./images/logo-lineage-month.png");
			@include media {
				width: vw(213);
				height: vw(249);
			}
		}
		&[data-game="lineage-r"] {
			width: 212px;
			height: 242px;
			background-image: url("./images/logo-lineage-r.png");
			@include media {
				width: vw(212);
				height: vw(242);
			}
		}
		&[data-game="maple"] {
			width: 245px;
			height: 218px;
			background-image: url("./images/logo-maple.png");
			@include media {
				width: vw(245);
				height: vw(218);
			}
		}
		&[data-game="mabi"] {
			width: 213px;
			height: 223px;
			background-image: url("./images/logo-mabi.png");
			@include media {
				width: vw(213);
				height: vw(223);
			}
		}
		&[data-game="twp"] {
			width: 338px;
			height: 253px;
			background-image: url("./images/logo-twp.png");
			@include media {
				width: vw(338);
				height: vw(253);
			}
		}
		&-box {
			margin-bottom: 11px;
			height: 255px;
			@include media {
				height: vw(255);
				margin-bottom: vw(30);
			}
		}
	}
	&__select {
		.nice-select {
			width: 500px;
			border: 4px solid #d0ab63;
			background-color: #151021;
			box-shadow: 0 0 0 2px #261103, 0 4px 5px rgba(#0b0807, 0.75), inset 0 0 0 2px #261103;
			border-radius: 4px;
			height: auto;
			font-size: 24px;
			color: #fff;
			padding: 24px 0;
			text-align: center !important;
			@include media {
				width: vw(500);
				font-size: vw(36);
				padding: vw(24) 0;
				border-radius: vw(4);
				box-shadow: 0 0 0 vw(2) #261103, inset 0 0 0 vw(2) #261103;
				border-width: vw(4);
				line-height: vw(40);
			}
			&:after {
				width: 46px;
				height: 38px;
				border: none;
				background-size: 100%;
				background-image: url("./images/select-arrow.png");
				transform: rotate(180deg);
				margin-top: -18px;
				transform-origin: center 50%;
				@include media {
					width: vw(46);
					height: vw(38);
					margin-top: vw(-18);
				}
			}
			&.open {
				border-color: #d0ab63;
				text-align: center;
				&:after {
					transform: rotate(0deg);
				}
				.list {
				}
			}
			.list {
				width: 100%;
				background-color: #151021;
				@include media {
					margin-top: vw(4);
				}
			}
			.option {
				border-bottom: 1px solid #65577a;
				text-align: center;
				@include media {
					line-height: vw(40);
					min-height: vw(40);
					padding-left: vw(18);
					padding-right: vw(29);
					padding-top: vw(12);
					padding-bottom: vw(12);
					font-size: vw(28);
				}
				&.selected.focus {
					background-color: #151938;
				}
				&:last-child {
					border-bottom: none;
				}
			}
			.option:hover {
				background-color: #21283d;
			}
		}
	}
}

// 登入方式
.lb-login {
	&__title {
		width: 254px;
		height: 50px;
		background-image: url("./images/lb-title-login.png");
		margin-bottom: 50px;
		@include media {
			width: vw(315);
			height: vw(62);
			margin-bottom: vw(58);
		}
	}
	&__content {
		margin-bottom: 60px;
		@include media {
			margin-bottom: vw(60);
		}
	}
	&__item-group {
		display: flex;
		column-gap: 24px;
		justify-content: center;
		margin-bottom: 54px;
		@include media {
			display: grid;
			grid-template-columns: repeat(var(--column), vw(167));
			column-gap: vw(24);
			row-gap: vw(24);
			margin-bottom: vw(60);
		}
	}
	&__item {
	}
	&__note {
		color: #fff;
		text-align: center;
		p {
			margin-bottom: 36px;
			@include media {
				margin-bottom: vw(30);
			}
			a {
				color: #6ab4ff;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
// 登入成功提醒
.lb-login-success {
	&__title {
		width: 305px;
		height: 50px;
		background-image: url("./images/lb-title-login-success.png");
		margin-bottom: 40px;
		@include media {
			width: vw(378);
			height: vw(62);
			margin-bottom: 0;
		}
	}
	&__content {
		// min-height: 150px;
		@include media {
			min-height: vw(342);
		}
		p {
			margin-bottom: 28px;
			@include media {
				margin-bottom: vw(28);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
// 活動提醒
.lb-warm {
	&__title {
		width: 203px;
		height: 50px;
		background-image: url("./images/lb-title-warm.png");
		margin-bottom: 40px;
		@include media {
			width: vw(252);
			height: vw(62);
			margin-bottom: 0;
		}
	}
	&__content {
		// min-height: 200px;
		@include media {
			min-height: vw(342);
		}
		p {
			margin-bottom: 28px;
			@include media {
				margin-bottom: vw(28);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.lb-data-share {
	&__title {
		width: 368px;
		height: 39px;
		background-image: url("./images/lb-title-data-share.png");
		margin-bottom: 12px;
		@include media {
			width: vw(578);
			height: vw(62);
			margin-bottom: vw(22);
		}
	}
	&__box {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media {
			margin-bottom: vw(35);
		}
	}
	&__logo {
		margin-right: 4px;
		background-size: 100%;
		background-repeat: no-repeat;
		filter: drop-shadow(0 4px 11px rgba(#000000, 0.75));
		@include media {
			margin-right: vw(4);
			filter: drop-shadow(0 vw(4) vw(11) rgba(#000000, 0.75));
			background-size: contain;
		}
		&[data-game="cso"] {
			width: 98px;
			height: 99px;
			background-image: url("./images/logo-cso.png");
			@include media {
				width: vw(98);
				height: vw(99);
			}
		}
		&[data-game="dn"] {
			width: 142px;
			height: 115px;
			background-image: url("./images/logo-dn.png");
			@include media {
				width: vw(142);
				height: vw(115);
			}
		}
		&[data-game="els"] {
			width: 103px;
			height: 101px;
			background-image: url("./images/logo-els.png");
			@include media {
				width: vw(103);
				height: vw(101);
			}
		}
		&[data-game="lineage-free"] {
			width: 98px;
			height: 118px;
			background-image: url("./images/logo-lineage-free.png");
			@include media {
				width: vw(98);
				height: vw(118);
			}
		}
		&[data-game="lineage-m"] {
			width: 111px;
			height: 98px;
			background-image: url("./images/logo-lineage-m.png");
			@include media {
				width: vw(111);
				height: vw(98);
			}
		}
		&[data-game="lineage-month"] {
			width: 98px;
			height: 114px;
			background-image: url("./images/logo-lineage-month.png");
			@include media {
				width: vw(98);
				height: vw(114);
			}
		}
		&[data-game="lineage-r"] {
			width: 98px;
			height: 112px;
			background-image: url("./images/logo-lineage-r.png");
			@include media {
				width: vw(98);
				height: vw(112);
			}
		}
		&[data-game="maple"] {
			width: 112px;
			height: 101px;
			background-image: url("./images/logo-maple.png");
			@include media {
				width: vw(112);
				height: vw(101);
			}
		}
		&[data-game="mabi"] {
			width: 98px;
			height: 103px;
			background-image: url("./images/logo-mabi.png");
			@include media {
				width: vw(98);
				height: vw(103);
			}
		}
		&[data-game="twp"] {
			width: 140px;
			height: 104px;
			background-image: url("./images/logo-twp.png");
			@include media {
				width: vw(140);
				height: vw(104);
			}
		}
	}
	&__text {
		font-size: 30px;
		font-family: "Noto Serif TC", serif;
		font-optical-sizing: auto;
		font-weight: bold;
		color: #f6e9d0;
		@include media {
			font-size: vw(36);
		}
	}
	&__card-list {
		display: flex;
		column-gap: 42px;
		margin-bottom: 42px;
		@include media {
			flex-direction: column;
			column-gap: 0;
			row-gap: vw(28);
			margin-bottom: vw(36);
		}
		&[data-game="mabi"] {
			.lb-card__title {
				margin-bottom: 28px;
				@include media {
					margin-bottom: vw(16);
				}
			}
			.lb-card__grow {
				display: none;
			}
			.lb-card__year {
				&[data-type="2024"] {
					.lb-card__year-title {
						@include media {
							width: vw(163);
							height: vw(42);
							font-size: vw(32);
						}
					}
					.lb-card__year-day {
						font-size: 24px;
						@include media {
							font-size: vw(36);
						}
					}
				}
				&[data-type="2023"] {
					display: none;
				}
			}
		}
	}
	&__btn-box {
		display: flex;
		justify-content: center;
		column-gap: 32px;
		@include media {
			column-gap: vw(44);
		}
	}
}
.lb-card {
	width: 212px;
	height: 372px;
	background-size: 100%;
	background-image: url("./images/card-bg.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(0 4px 6px rgba(#000000, 0.75));
	padding-top: 65px;
	line-height: 1.2;
	word-break: break-all;
	@include media {
		width: vw(639);
		height: vw(266);
		background-image: url("./images/card-m.png");
		filter: drop-shadow(0 vw(4) vw(6) rgba(#000000, 0.75));
		padding-top: vw(77);
	}
	&__title {
		font-size: 16px;
		color: #ffebd1;
		font-weight: bold;
		margin-bottom: 12px;
		width: 140px;
		height: 58px;
		overflow: hidden;
		@include media {
			font-size: vw(24);
			margin-bottom: vw(24);
			width: 100%;
			height: auto;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media {
			flex-direction: row;
			column-gap: vw(12);
			justify-content: center;
		}
	}
	&__year {
		display: flex;
		flex-direction: column;
		align-items: center;
		&.hide {
			display: none;
		}
		@include media {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-title {
			font-size: 16px;
			font-weight: bold;
			color: #110b1b;
			width: 103px;
			height: 27px;
			background-size: 100%;
			background-image: url("./images/card-desc.png");
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 4px;
			@include media {
				font-size: vw(20);
				width: vw(103);
				height: vw(27);
				margin-bottom: vw(4);
			}
		}
		&-day {
			font-size: 18px;
			color: #d1ac66;
			@include media {
				font-size: vw(26);
				width: vw(175);
				flex-shrink: 0;
			}
		}
	}
	&__grow {
		&.hide {
			display: none;
		}
		color: #fff4db;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 20px;
		line-height: 1;
		@include media {
			font-size: vw(23);
			margin-top: vw(-12);
			margin-bottom: 0;
			width: vw(208);
			flex-shrink: 0;
		}
		span {
			&:nth-child(2) {
				font-size: 38px;
				@include media {
					font-size: vw(48);
				}
			}
		}
	}
}
// 領取抽獎序號
.lb-get-sn {
	&__title {
		width: 404px;
		height: 50px;
		background-image: url("./images/lb-title-get-sn.png");
		margin-bottom: 30px;
		@include media {
			width: vw(504);
			height: vw(62);
			margin-bottom: vw(35);
		}
	}
	&__box {
		display: flex;
		column-gap: 24px;
		justify-content: center;
		margin-bottom: 40px;
		@include media {
			column-gap: vw(34);
			margin-bottom: vw(40);
		}
	}
	&__sn {
		width: 390px;
		border: 4px solid #d0ab63;
		background-color: #151021;
		box-shadow: 0 0 0 3px #261103, inset 0 0 0 2px #261103;
		border-radius: 4px;
		height: auto;
		font-size: 36px;
		color: #fff;
		padding: 12px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media {
			width: vw(340);
			font-size: vw(36);
			padding: vw(12) 0;
			border-radius: vw(4);
			box-shadow: 0 0 0 vw(3) #261103, inset 0 0 0 vw(2) #261103;
			border-width: vw(4);
		}
	}
	&__copy {
		margin-left: auto;
	}
	&__note {
		width: 775px;
		margin: 0 auto;
		background-color: rgba(#181224, 0.75);
		padding: 32px;
		@include media {
			width: vw(628);
			padding: vw(38) vw(25);
		}
		&-title {
			margin-bottom: 20px;
			@include media {
				margin-bottom: vw(20);
			}
		}
		&-list {
			text-align: left;
			padding-left: 24px;
			@include media {
				padding-left: vw(30);
			}
		}
		&-li {
			margin-bottom: 30px;
			@include media {
				margin-bottom: vw(30);
			}
		}
	}
}
// 登出確認
.lb-logout {
	&__title {
		width: 202px;
		height: 50px;
		background-image: url("./images/lb-title-logout.png");
		@include media {
			width: vw(252);
			height: vw(62);
		}
	}
	&__content {
		min-height: 200px;
		@include media {
			min-height: vw(342);
		}
	}
}
