@keyframes moveUp {
	0% {
		bottom: 0%;
	}
	25% {
		bottom: 0%;
	}
	50% {
		bottom: 6%;
	}
	75% {
		bottom: 0%;
	}
	100% {
		bottom: 0%;
	}
}
.gamedata {
	width: 100%;
	background-image: url("./img/gamedata/bg.jpg");
	background-position: center 0;
	background-size: 1920px 870px;
	position: relative;
	overflow: hidden;
	@include media {
		background-size: vw(768) vw(1408);
		background-image: url("./img/gamedata/m-bg.jpg");
	}
	&-head {
		width: 100%;
		height: 576px;
		position: relative;
		background-repeat: no-repeat;
		background-size: 1920px 576px;
		background-image: url("./img/gamedata/header.jpg");
		background-position: center 0;
		overflow: hidden;
		@include media {
			height: vw(576);
			background-size: vw(1920) vw(576);
		}
		&Box {
			width: 1920px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			@include media {
				width: vw(768);
			}
		}
		&Anim1 {
			width: 153px;
			height: 139px;
			position: absolute;
			top: 371px;
			left: 891px;
			z-index: 3;
			clip-path: polygon(100% 0%, 100% 55.98%, 86% 64.47%, 0% 63.18%, 0% 0%);
			span {
				width: 153px;
				height: 89px;
				background-image: url("./img/gamedata/anim1.png");
				background-size: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				animation: moveUp 1.6s linear alternate infinite;
				animation-delay: 0.3s;
				@include media {
					width: vw(153);
					height: vw(89);
				}
			}
			@include media {
				width: vw(153);
				height: vw(139);
				top: vw(371);
				left: vw(319);
			}
		}
		&Anim2 {
			width: 116px;
			height: 137px;
			position: absolute;
			top: 345px;
			left: 947px;
			z-index: 2;
			clip-path: polygon(100% 0%, 100% 66.74%, 66.62% 82%, 0% 82%, 0% 0%);
			span {
				width: 116px;
				height: 87px;
				background-image: url("./img/gamedata/anim2.png");
				background-size: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				animation: moveUp 1.2s linear alternate infinite;
				animation-delay: 0.6s;
				@include media {
					width: vw(116);
					height: vw(87);
				}
			}
			@include media {
				width: vw(116);
				height: vw(137);
				top: vw(345);
				left: vw(374);
			}
		}
		&Anim3 {
			width: 139px;
			height: 132px;
			position: absolute;
			top: 348px;
			left: 940px;
			z-index: 1;
			clip-path: polygon(100% 0%, 100% 58.41%, 57.26% 83%, 0% 83%, 0% 0%);
			span {
				width: 139px;
				height: 82px;
				background-image: url("./img/gamedata/anim3.png");
				background-size: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				animation: moveUp 1.8s linear alternate infinite;
				animation-delay: 0.3s;
				@include media {
					width: vw(139);
					height: vw(82);
				}
			}
			@include media {
				width: vw(139);
				height: vw(132);
				top: vw(348);
				left: vw(369);
			}
		}
	}
	&-container {
		max-width: 1200px;
		position: relative;
		margin: 0 auto;
		padding-top: 101px;
		padding-bottom: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media {
			padding-top: vw(52);
			padding-bottom: vw(80);
		}
	}
	&-select {
		&Group {
			margin-bottom: 39px;
			@include media {
				margin-bottom: vw(39);
			}
			.nice-select {
				width: 467px;
				height: 48px;
				line-height: 48px;
				text-align: center !important;
				background-color: #d3cfc1;
				border: solid 1px #7e7770;
				border-radius: 0;
				color: #4f4f4f;
				font-size: 20px;
				@include media {
					width: vw(467);
					height: vw(48);
					line-height: vw(48);
					font-size: vw(20);
				}
				.current {
					display: inline-block;
				}
				.list {
					width: 100%;
					background-color: #ebe5d5;
					border: solid 1px #7e7770;
					color: #4f4f4f;
					font-size: 20px;
					@include media {
						font-size: vw(20);
					}
				}
				.option {
					text-align: center;
				}
			}
			.nice-select .option:hover,
			.nice-select .option.focus,
			.nice-select .option.selected.focus {
				background-color: #fec633;
			}
		}
		&Game {
			width: 174px;
			height: 174px;
			position: relative;
			border-radius: 50%;
			margin: 0 auto 46px;
			box-shadow: inset 0 0 0 5px #ff9600;
			background-color: #000;
			@include media {
				width: vw(174);
				height: vw(174);
				margin: 0 auto vw(46);
				box-shadow: inset 0 0 0 vw(5) #ff9600;
			}
			&:before {
				content: "";
				width: 208px;
				height: 208px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-size: 100%;
				user-select: none;
				@include media {
					width: vw(208);
					height: vw(208);
				}
			}
			&[data-game="LM"] {
				&:before {
					background-image: url("./img/common/LM.png");
				}
			}
			&[data-game="LR"] {
				&:before {
					background-image: url("./img/common/LR.png");
				}
			}
			&[data-game="LMonth"] {
				&:before {
					background-image: url("./img/common/LMonth.png");
				}
			}
			&[data-game="LFree"] {
				&:before {
					background-image: url("./img/common/LFree.png");
				}
			}
			&[data-game="Maple"] {
				&:before {
					background-image: url("./img/common/Maple.png");
				}
			}
			&[data-game="Mabi"] {
				&:before {
					background-image: url("./img/common/Mabi.png");
				}
			}
			&[data-game="CS"] {
				&:before {
					background-image: url("./img/common/CS.png");
				}
			}
			&[data-game="DN"] {
				&:before {
					background-image: url("./img/common/DN.png");
				}
			}
			&[data-game="ELS"] {
				&:before {
					background-image: url("./img/common/ELS.png");
				}
			}
			&[data-game="SB"] {
				&:before {
					background-image: url("./img/common/SB.png");
				}
			}
			&[data-game="WOD"] {
				&:before {
					background-image: url("./img/common/WOD.png");
				}
			}
		}
		&Control {
		}
	}
	&-dataType {
		&Group {
			display: flex;
			font-size: 0;
			margin-bottom: 63px;
			@include media {
				margin-bottom: vw(63);
			}
		}
		&1 {
			width: 200px;
			height: 65px;
			background-size: 400%;
			margin-right: 64px;
			background-image: url("./img/gamedata/btn-1.png");
			@include hover {
				background-position-x: -100%;
			}
			&.on {
				background-position-x: -200%;
				@include hover {
					background-position-x: -300%;
				}
			}
			@include media {
				width: vw(200);
				height: vw(65);
				margin-right: vw(64);
			}
		}
		&2 {
			width: 200px;
			height: 65px;
			background-size: 400%;
			background-image: url("./img/gamedata/btn-2.png");
			@include hover {
				background-position-x: -100%;
			}
			&.on {
				background-position-x: -200%;
				@include hover {
					background-position-x: -300%;
				}
			}
			@include media {
				width: vw(200);
				height: vw(65);
			}
		}
	}
	&-swiperGroup {
		width: 100%;
		margin-bottom: 91px;
		min-height: 1578px;
		position: relative;
		&.off {
			&:before {
				content: "";
				max-width: 1091px;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to bottom, #d3cfc1 43px, #7e7770 44px, #7e7770 45px, #e7e4dd 46px, #e7e4dd 100%);
				border-radius: 20px;
				box-shadow: 0 0 0 4px #ffc23b, 20px 20px 0 0px #4b453e;
				border: 1px solid #7e7770;
				position: absolute;
				top: 3px;
				left: 48px;
				@include media {
					max-width: vw(642);
					top: vw(3);
					left: vw(56);
					border-radius: vw(20);
					background-image: linear-gradient(to bottom, #d3cfc1 vw(43), #7e7770 vw(44), #7e7770 vw(45), #e7e4dd vw(46), #e7e4dd 100%);
					box-shadow: 0 0 0 vw(4) #ffc23b, vw(20) vw(20) 0 0 #4b453e;
				}
			}
		}
		@include media {
			margin-bottom: vw(91);
			min-height: vw(2589);
		}
		.swiper {
			width: 1200px;
			position: relative;
			@include media {
				width: vw(768);
			}
			.main-1 {
				width: 141px;
				height: 141px;
				background-size: 100%;
				background-image: url("./img/gamedata/main-1.png");
				position: absolute;
				top: 399px;
				left: 0;
				@include media {
					width: vw(113);
					height: vw(113);
					top: vw(319);
					background-image: url("./img/gamedata/m-main-1.png");
				}
			}
			.main-2 {
				width: 174px;
				height: 142px;
				background-size: 100%;
				background-image: url("./img/gamedata/main-2.png");
				position: absolute;
				top: 141px;
				right: 0;
				@include media {
					width: vw(146);
					height: vw(119);
					top: vw(105);
					background-image: url("./img/gamedata/m-main-2.png");
				}
			}
			.user-1 {
				width: 176px;
				height: 144px;
				background-size: 100%;
				background-image: url("./img/gamedata/user-1.png");
				position: absolute;
				top: 141px;
				right: 0;
				@include media {
					width: vw(147);
					height: vw(118);
					top: vw(105);
					background-image: url("./img/gamedata/m-user-1.png");
				}
			}
		}
		.swiper-slide {
			text-align: center;
			img {
				max-width: 100%;
				display: inline-block;
				@include media {
					width: vw(662);
				}
			}
		}
		.swiper-button-prev:after,
		.swiper-button-next:after {
			content: none;
		}
		.swiper-button-next {
			width: 140px;
			height: 108px;
			right: -108px;
			background-size: 100%;
			background-image: url("./img/gamedata/next.png");
			@include media {
				width: vw(140);
				height: vw(108);
				right: 0;
			}
		}
		.swiper-button-prev {
			width: 140px;
			height: 108px;
			left: -108px;
			background-size: 100%;
			background-image: url("./img/gamedata/prev.png");
			@include media {
				width: vw(140);
				height: vw(108);
				left: 0;
			}
		}
	}
	&-btn {
		&Group {
			display: flex;
			font-size: 0;
			margin-bottom: 63px;
			@include media {
				margin-bottom: vw(63);
			}
		}
		&Share {
			width: 130px;
			height: 66px;
			font-size: 0;
			display: block;
			background-size: 200%;
			background-image: url("./img/gamedata/btn-share.png");
			margin-right: 28px;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(130);
				height: vw(66);
				margin-right: vw(28);
			}
		}
		&Download {
			width: 130px;
			height: 66px;
			font-size: 0;
			display: block;
			background-size: 200%;
			background-image: url("./img/gamedata/btn-download.png");
			margin-right: 28px;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(130);
				height: vw(66);
				margin-right: vw(28);
			}
		}
		&CheckIn {
			width: 287px;
			height: 66px;
			font-size: 0;
			display: block;
			background-size: 200%;
			background-image: url("./img/gamedata/btn-checkin.png");
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(287);
				height: vw(66);
			}
		}
	}
	&-ruleBtn {
		color: #4f4f4f;
		font-size: 24px;
		@include media {
			font-size: vw(24);
		}
	}
}
