.loading {
	width: 100%;
	height: 100%;
	// min-height: calc(100vh - 91px);
	// padding: 200px 0;
	background-repeat: repeat;
	background-size: 139px 138px;
	background-image: url("./img/loading/loading-bg.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	// top: 91px;
	top: 0;
	left: 0;
	z-index: 98;
	@include media {
		background-size: vw(139) vw(138);
		// height: calc(100vh - calc(100 / 768 * 100vw));
		// top: calc(100 / 768 * 100vw);
		top: 0;
	}
	&-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 30px;
		color: #000;
		margin-bottom: 40px;
		@include media {
			font-size: vw(30);
			margin-bottom: vw(40);
		}
	}
	&-img {
		&[data-type="personal"] {
			width: 290px;
			height: 288px;
			background-size: 100%;
			background-image: url("./img/loading/personal-loading.png");
			margin-bottom: 79px;
			@include media {
				width: vw(290);
				height: vw(288);
				margin-bottom: vw(79);
			}
		}
		&[data-type="kv"] {
			width: 371px;
			height: 196px;
			background-size: 100%;
			background-image: url("./img/loading/kv-loading.gif");
			margin-bottom: 79px;
			@include media {
				width: vw(371);
				height: vw(196);
				margin-bottom: vw(79);
			}
		}
	}
	#canvas {
		width: 995px;
		height: 24px;
		@include media {
			width: calc(675 / 768 * 100vw);
			height: calc(46 / 768 * 100vw);
		}
	}
}

.lotteryLoading {
	width: 100%;
	height: 100%;
	background-image: none;
	background-color: rgba(#000, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	&:before {
		content: "";
		width: 530px;
		height: 530px;
		background-image: url("./img/loading/lottery-gift.gif");
		background-size: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.personalLoading {
	&-img {
		width: 290px;
		height: 288px;
		background-size: 100%;
		background-image: url("./img/loading/personal-loading.png");
		margin-bottom: 79px;
		@include media {
			width: vw(290);
			height: vw(288);
			margin-bottom: vw(79);
		}
	}
}
