.login {
	width: 100%;
	height: 981px;
	background-image: url("./img/login/bg.jpg");
	background-position: center 0;
	background-size: 1920px 981px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	@include media {
		height: vw(1304);
		background-size: vw(768) vw(1304);
		background-image: url("./img/login/m-bg.jpg");
	}
	&-contentBox {
		max-width: calc(var(--w) * 1px);
		width: 100%;
		background-image: linear-gradient(to bottom, #d3cfc1 40px, #7e7770 41px, #7e7770 42px, #e7e4dd 43px, #e7e4dd 100%);
		border-radius: 20px;
		border: 2px solid #7e7770;
		box-sizing: border-box;
		padding: 94px 20px 50px 20px;
		box-shadow: 0 0 0 4px #ffc23b;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 55px;
		&[data-step="2"] {
			.login-selectGameControl {
				display: none;
			}
		}
		&[data-step="3"] {
			.login-selectGameControl {
				display: none;
			}
		}
		@include media {
			max-width: calc(var(--mw) / 768 * 100vw);
			background-image: linear-gradient(to bottom, #ffa300 vw(40), #7e7770 vw(41), #7e7770 vw(42), #e7e4dd vw(43), #e7e4dd 100%);
			box-shadow: 0 0 0 vw(4) #ffc23b;
			padding: vw(94) vw(20) vw(50) vw(20);
			border-radius: vw(20);
			margin-bottom: vw(55);
		}
		&:after {
			content: "";
			width: 79px;
			height: 14px;
			background-size: 100%;
			background-image: url("./img/login/biggama.jpg");
			position: absolute;
			top: 15px;
			left: 26px;
			@include media {
				width: vw(79);
				height: vw(14);
				top: vw(15);
				left: vw(26);
			}
		}
		&:before {
			content: "";
			width: 84px;
			height: 20px;
			background-size: 100%;
			background-image: url("./img/lottery/desc.png");
			position: absolute;
			top: 10px;
			right: 24px;
			@include media {
				width: vw(84);
				height: vw(20);
				top: vw(10);
				right: vw(24);
			}
		}
	}
	&-contentTitle {
		font-size: 40px;
		color: #2d2d2d;
		margin-bottom: 32px;
		font-weight: bold;
		@include media {
			font-size: vw(40);
			margin-bottom: vw(32);
		}
	}
	&-select {
		&GameGroup {
			margin-bottom: 26px;
			@include media {
				margin-bottom: vw(26);
			}
			.nice-select {
				width: 467px;
				height: 48px;
				line-height: 48px;
				text-align: center !important;
				background-color: #d3cfc1;
				border: solid 1px #7e7770;
				border-radius: 0;
				color: #4f4f4f;
				font-size: 20px;
				@include media {
					width: vw(467);
					height: vw(48);
					line-height: vw(48);
					font-size: vw(20);
				}
				.current {
					display: inline-block;
				}
				.list {
					width: 100%;
					background-color: #ebe5d5;
					border: solid 1px #7e7770;
					color: #4f4f4f;
					font-size: 20px;
					@include media {
						font-size: vw(20);
					}
				}
				.option {
					text-align: center;
				}
			}
			.nice-select .option:hover,
			.nice-select .option.focus,
			.nice-select .option.selected.focus {
				background-color: #fec633;
			}
		}
		&Game {
			width: 146px;
			height: 146px;
			position: relative;
			border-radius: 50%;
			margin: 0 auto 19px;
			box-shadow: inset 0 0 0 5px #ff9600;
			background-color: #000;
			@include media {
				width: vw(146);
				height: vw(146);
				margin: 0 auto vw(19);
				box-shadow: inset 0 0 0 vw(5) #ff9600;
			}
			&:before {
				content: "";
				width: 170px;
				height: 170px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-size: 100%;
				user-select: none;
				@include media {
					width: vw(170);
					height: vw(170);
				}
			}
			&[data-game="LM"] {
				&:before {
					background-image: url("./img/common/LM.png");
				}
			}
			&[data-game="LR"] {
				&:before {
					background-image: url("./img/common/LR.png");
				}
			}
			&[data-game="LMonth"] {
				&:before {
					background-image: url("./img/common/LMonth.png");
				}
			}
			&[data-game="LFree"] {
				&:before {
					background-image: url("./img/common/LFree.png");
				}
			}
			&[data-game="Maple"] {
				&:before {
					background-image: url("./img/common/Maple.png");
				}
			}
			&[data-game="Mabi"] {
				&:before {
					background-image: url("./img/common/Mabi.png");
				}
			}
			&[data-game="CS"] {
				&:before {
					background-image: url("./img/common/CS.png");
				}
			}
			&[data-game="DN"] {
				&:before {
					background-image: url("./img/common/DN.png");
				}
			}
			&[data-game="ELS"] {
				&:before {
					background-image: url("./img/common/ELS.png");
				}
			}
			&[data-game="SB"] {
				&:before {
					background-image: url("./img/common/SB.png");
				}
			}
			&[data-game="WOD"] {
				&:before {
					background-image: url("./img/common/WOD.png");
				}
			}
		}
		&GameControl {
		}
	}
	&-userInfo {
		display: flex;
		flex-direction: column;
		margin-bottom: 34px;
		@include media {
			margin-bottom: vw(34);
		}
	}
	&-select {
		&ServerGroup {
			.nice-select {
				width: 467px;
				height: 48px;
				line-height: 48px;
				background-color: #d3cfc1;
				border: solid 1px #7e7770;
				border-radius: 0;
				color: #4f4f4f;
				font-size: 20px;
				@include media {
					width: vw(467);
					height: vw(48);
					line-height: vw(48);
					font-size: vw(20);
				}
				.current {
					display: inline-block;
				}
				.list {
					width: 100%;
					background-color: #ebe5d5;
					border: solid 1px #7e7770;
					color: #4f4f4f;
					font-size: 20px;
					@include media {
						font-size: vw(20);
					}
				}
			}
			.nice-select .option:hover,
			.nice-select .option.focus,
			.nice-select .option.selected.focus {
				background-color: #fec633;
			}
		}
		&ServerControl {
			margin-bottom: 26px;
			@include media {
				margin-bottom: vw(26);
			}
		}
	}
	&-inputControl {
		width: 467px;
		height: 48px;
		line-height: 48px;
		background-color: #d3cfc1;
		border: solid 1px #7e7770;
		border-radius: 0;
		color: #4f4f4f;
		font-size: 20px;
		margin-bottom: 22px;
		box-sizing: border-box;
		padding-left: 22px;
		&:last-child {
			margin-bottom: 0;
		}
		@include media {
			width: vw(467);
			height: vw(48);
			line-height: vw(48);
			font-size: vw(20);
			margin-bottom: vw(22);
			padding-left: vw(22);
		}
	}
	&-notice {
		font-size: 18px;
		color: #555555;
		margin-bottom: 44px;
		line-height: 1.5;
		@include media {
			font-size: vw(18);
			margin-bottom: vw(64);
		}
		span {
			display: block;
		}
	}
	&-btnLogin {
		transition: all 0.3s;
		@include hover {
			filter: drop-shadow(0 0 8px rgba(#fffb00, 1));
			// filter: drop-shadow(0 0 6px rgba(#ffc23b, 1)) drop-shadow(0 0 8px rgba(#ffe2a4, 1));
			@include media {
				filter: drop-shadow(0 0 vw(8) rgba(#ffae00, 1));
			}
		}
		&Group {
			display: flex;
			margin-bottom: 64px;
			@include media {
				margin-bottom: vw(87);
				flex-direction: column;
				align-items: center;
			}
			a + a {
				margin-left: 36px;
				@include media {
					margin-left: vw(36);
				}
			}
		}
		&Box {
			display: flex;
			&:first-child {
				margin-right: 36px;
				@include media {
					margin-right: 0;
					margin-bottom: vw(38);
				}
			}
		}
		&-A {
			width: 100px;
			height: 77px;
			background-size: 100%;
			background-image: url("./img/login/btn-a.png");
			@include media {
				width: vw(100);
				height: vw(77);
			}
		}
		&-G {
			width: 100px;
			height: 77px;
			background-size: 100%;
			background-image: url("./img/login/btn-g.png");
			@include media {
				width: vw(100);
				height: vw(77);
			}
		}
		&-Bf {
			width: 100px;
			height: 77px;
			background-size: 100%;
			background-image: url("./img/login/btn-bf.png");
			@include media {
				width: vw(100);
				height: vw(77);
			}
		}
		&-Id {
			width: 100px;
			height: 77px;
			background-size: 100%;
			background-image: url("./img/login/btn-id.png");
			@include media {
				width: vw(100);
				height: vw(77);
			}
		}
		&-F {
			width: 100px;
			height: 77px;
			background-size: 100%;
			background-image: url("./img/login/btn-f.png");
			@include media {
				width: vw(100);
				height: vw(77);
			}
		}
	}
	&-btn {
		&Group {
			display: flex;
			a {
				font-size: 0;
			}
			a + a {
				margin-left: 74px;
				@include media {
					margin-left: vw(74);
				}
			}
		}
		&Back {
			width: 200px;
			height: 65px;
			background-image: url("./img/login/btn-back.png");
			background-size: 200%;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(200);
				height: vw(65);
			}
		}
		&Next {
			width: 200px;
			height: 65px;
			background-image: url("./img/login/btn-next.png");
			background-size: 200%;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(200);
				height: vw(65);
			}
		}
		&Guide {
			width: 200px;
			height: 65px;
			background-image: url("./img/login/btn-guide.png");
			background-size: 200%;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(200);
				height: vw(65);
			}
		}
		&Confirm {
			width: 200px;
			height: 65px;
			background-image: url("./img/login/btn-confirm.png");
			background-size: 200%;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(200);
				height: vw(65);
			}
		}
	}
}
