@function vw($size, $breakpoint: 768) {
	@return ($size / $breakpoint) * 100vw;
}
@mixin media($breakpoint: 768px) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}

@mixin media2($width: 768px, $height: 1080px) {
	@media screen and (min-width: $width) and (max-height: $height) {
		@content;
	}
}
@mixin hover($breakpoint: 768px) {
	@media screen and (min-width: $breakpoint) {
		&:hover {
			@content;
		}
	}
	@media screen and (max-width: $breakpoint) {
		&:active {
			@content;
		}
	}
}

@mixin backContain {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
