.navbar {
	background-color: #2d2d2d;
	display: flex;
	align-items: stretch;
	padding-left: 32px;
	position: relative;
	z-index: 99;
	@include media {
		// display: none;
		flex-wrap: wrap;
		padding-left: vw(46);
		padding-right: vw(46);
		padding-top: vw(20);
		padding-bottom: vw(20);
		align-items: center;
	}
	&-home {
		width: 121px;
		height: 63px;
		background-size: cover;
		background-image: url("./img/navbar/slogan.png");
		display: inline-block;
		margin-right: 18px;
		align-self: center;
		flex-shrink: 0;
		@include media {
			width: vw(116);
			height: vw(60);
			margin-right: auto;
		}
	}
	&-hamburger {
		display: none;
		@include media {
			display: block;
			width: vw(51);
			height: vw(44);
			background-size: 100%;
			background-image: url("./img/navbar/btn-hamburger.png");
		}
	}
	&-box {
		width: 100%;
		display: flex;
		@include media {
			background-color: #625c55;
			position: absolute;
			top: vw(100);
			left: 0;
			z-index: 9;
			flex-direction: column;
			height: 100vh;
			display: none;
			&.on {
				display: block;
			}
		}
	}
	&-list {
		font-size: 0;
		margin-right: auto;
		@include media {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			order: 2;
		}
	}
	&-nav {
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		padding: 32px 12px;
		box-sizing: border-box;
		display: inline-block;
		@include hover {
			background-color: #ff9d00;
			color: #2d2d2d;
		}
		@include media {
			margin-right: 0;
			font-size: vw(36);
			padding: vw(38);
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&-login {
		padding: 0 37px;
		display: flex;
		align-items: center;
		border-left: 1px solid #8b8682;
		box-sizing: border-box;
		@include media {
			order: 1;
			border-left: 0;
			padding: 0;
			margin-top: vw(48);
		}
		&Info {
			display: flex;
			align-items: center;
			span {
				color: #fff;
				font-size: 20px;
				margin-right: 18px;
				@include media {
					font-size: vw(20);
				}
			}
		}
	}
	&-btnLogin {
		width: 179px;
		height: 58px;
		background-size: 200%;
		background-image: url("./img/navbar/btn-login.png");
		@include hover {
			background-position-x: 100%;
		}
		@include media {
			width: vw(244);
			height: vw(113);
			background-image: url("./img/navbar/m-btn-login.png");
			margin: 0 auto;
		}
	}
	&-btnLogout {
		width: 89px;
		height: 58px;
		background-size: 200%;
		background-image: url("./img/navbar/btn-logout.png");
		@include hover {
			background-position-x: 100%;
		}
		@include media {
			width: vw(154);
			height: vw(100);
		}
	}
	&-btnEventNotice {
		width: 180px;
		height: 59px;
		background-size: 200%;
		background-image: url("./img/navbar/btn-eventNotice.png");
		@include hover {
			background-position-x: 100%;
		}
		@include media {
			width: vw(243);
			height: vw(116);
			background-image: url("./img/navbar/m-btn-eventNotice.png");
			margin: 0 auto;
		}
	}
}
