.top {
	width: 134px;
	height: 134px;
	position: fixed;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-image: url("./img/common/btn-top.png");
	z-index: 10;
	@include media {
		width: vw(134);
		height: vw(134);
	}
}
