.event {
	margin-top: vw2(88px);
	padding-bottom: vw2(85px);
	@include media {
		margin-top: vw(44);
		padding-bottom: vw(126);
	}
	&-box {
		position: relative;
	}
	&-title {
		width: vw2(404px);
		height: vw2(148px);
		// background-size: cover;
		background-image: url("./images/index/title-event.png");
		margin: 0 auto;
		@include media {
			width: vw(395);
			height: vw(144);
			margin-bottom: vw(14);
		}
	}

	&-tab {
		display: flex;
		justify-content: center;
		column-gap: vw2(14px);
		margin-bottom: vw2(14px);
		@include media {
			column-gap: vw(57);
			row-gap: vw(24);
			margin-bottom: vw(36);
			flex-wrap: wrap;
		}
		&__item {
			width: vw2(248px);
			height: vw2(92px);
			background-size: 200%;
			background-image: url("./images/index/tab-bg.png");
			font-size: vw2(25px);
			font-weight: bold;
			color: #9bd1ff;
			word-break: break-all;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			padding: vw2(12px) vw2(24px) vw2(22px);
			text-align: center;
			&.active {
				background-position-x: 100%;
				@include media {
					background-image: url("./images/index/m-tab-bg-on.png");
				}
			}
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				font-size: vw(30);
				width: vw(275);
				height: vw(92);
				background-image: url("./images/index/m-tab-bg-off.png");
				background-size: cover;
				padding: vw(12) vw(24) vw(22);
			}
		}
	}
	&-swiper {
		width: vw2(890px);
		height: vw2(844px);
		border-radius: vw2(15px);
		background-color: rgba(#110025, 0.8);
		border: vw2(2px) solid rgba(#fff, 0.8);
		box-shadow: inset 0 0 vw2(13px) rgba(#dd53ff, 0.83), 0 0 vw2(12px) rgba(#e63eff, 0.67), 0 0 vw2(20px) rgba(#e63eff, 0.67), 0 0 vw2(27px) rgba(#e63eff, 0.67);
		margin: 0 auto;
		position: relative;
		&.comingsoon {
			.event-swiper-button-prev,
			.event-swiper-button-next,
			.event-swiper-pagination {
				display: none;
			}
			&:before {
				content: "";
				width: vw2(650);
				height: vw2(365);
				background-image: url("./images/comingsoon.jpg");
				background-size: cover;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include media {
					width: vw(650);
					height: vw(365);
				}
			}
		}
		@include media {
			width: vw(745);
			height: vw(924);
			border-radius: vw(15);
			border-width: vw(2);
			box-shadow: inset 0 0 vw(13px) rgba(#dd53ff, 0.83), 0 0 vw(12px) rgba(#e63eff, 0.67), 0 0 vw(20px) rgba(#e63eff, 0.67), 0 0 vw(27px) rgba(#e63eff, 0.67);
		}
	}
	&-slide {
		padding: vw2(32px);
		& > * {
			opacity: 0;
		}
		&.swiper-slide-active {
			z-index: 9;
			& > * {
				opacity: 1;
			}
		}
		&__source {
			// width: vw2(650px);
			// height: vw2(365px);
			aspect-ratio: 16 / 9;
			margin: 0 auto;
			margin-bottom: vw2(16px);
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--color);
			@include media {
				// width: vw(609);
				// height: vw(342);
				margin-bottom: vw(52);
			}
			img {
				width: 100%;
				height: 100%;
			}
			iframe {
				width: 100%;
				height: 100%;
			}
		}
		&__info {
			font-size: vw2(22px);
			color: #fff;
			text-shadow: 0 0 vw2(5) #000;
			word-break: break-all;
			padding: 0 vw2(22px);
			line-height: 1.5;
			@include media {
				font-size: vw(25);
				padding: 0 vw(25);
			}
			a {
				color: #00d9ff;
			}
		}
		&__btn-more {
			width: vw2(288px);
			height: vw2(85px);
			background-size: 200%;
			background-image: url("./images/index/btn-more.png");
			margin: vw2(20px) auto 0;
			display: block;
			font-size: 0;
			background-repeat: no-repeat;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(278);
				height: vw(76);
				background-image: url("./images/index/m-btn-more-off.png");
				background-size: cover;
				margin-top: vw(31);
			}
		}
	}
	&-swiper-button-prev {
		width: vw2(18px);
		height: vw2(34px);
		background-image: url("./images/swiper-left.png");
		background-size: cover;
		position: absolute;
		top: 50%;
		left: vw2(32px);
		transform: translateY(-50%);
		z-index: 22;
		cursor: pointer;
		&.swiper-button-disabled {
			display: none;
		}
		@include hover {
			filter: drop-shadow(0 0 vw2(2px) rgba(#e63bff, 0.85)) drop-shadow(0 0 vw2(4px) rgba(#e63bff, 0.85)) drop-shadow(0 0 vw2(8px) rgba(#e63bff, 0.85));
		}
		@include media {
			width: vw(27);
			height: vw(50);
			background-size: 100%;
			left: vw(26);
		}
	}
	&-swiper-button-next {
		width: vw2(18px);
		height: vw2(34px);
		background-image: url("./images/swiper-right.png");
		background-size: cover;
		position: absolute;
		top: 50%;
		right: vw2(32px);
		transform: translateY(-50%);
		z-index: 22;
		cursor: pointer;
		@include hover {
			filter: drop-shadow(0 0 vw2(2px) rgba(#e63bff, 0.85)) drop-shadow(0 0 vw2(4px) rgba(#e63bff, 0.85)) drop-shadow(0 0 vw2(8px) rgba(#e63bff, 0.85));
		}
		@include media {
			width: vw(27);
			height: vw(50);
			background-size: 100%;
			right: vw(26);
		}
	}
	&-swiper-pagination {
		position: absolute;
		left: 50% !important;
		bottom: vw2(-60px) !important;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		gap: vw2(36px);
		@include media {
			gap: vw(70);
			bottom: vw(-60) !important;
		}
		.swiper-pagination-bullet {
			width: vw2(18px);
			height: vw2(18px);
			margin: 0;
			opacity: 1;
			background-color: #0e0022;
			box-shadow: inset 0 0 vw2(4px) rgba(#5d0890, 1), inset 0 0 vw2(8px) rgba(#5d0890, 1);
			position: relative;
			@include media {
				width: vw(36);
				height: vw(36);
				box-shadow: inset 0 0 vw(4) rgba(#5d0890, 1), inset 0 0 vw(8) rgba(#5d0890, 1);
			}
			&:last-child {
				&:before {
					content: none;
				}
			}
			&:before {
				content: "";
				width: vw2(28px);
				height: vw2(1px);
				background-color: rgba(#e7c2f4, 0.5);
				position: absolute;
				top: 50%;
				right: -100%;
				transform: translateX(vw2(18)) translateY(-50%);
				@include media {
					width: vw(56);
					height: vw(1);
					transform: translateX(vw(32)) translateY(-50%);
				}
			}
			&.swiper-pagination-bullet-active {
				box-shadow: inset 0 0 vw2(2px) rgba(#a3f1ff, 0.75), inset 0 0 vw2(6px) rgba(#a3f1ff, 0.75), inset 0 0 vw2(10px) rgba(#a3f1ff, 1), 0 0 vw2(2px) rgba(#baf6ff, 0.75), 0 0 vw2(4px) rgba(#baf6ff, 0.75), 0 0 vw2(12px) rgba(#baf6ff, 0.75);
				@include media {
					box-shadow: inset 0 0 vw(2) rgba(#a3f1ff, 0.75), inset 0 0 vw(6) rgba(#a3f1ff, 0.75), inset 0 0 vw(10) rgba(#a3f1ff, 1), 0 0 vw(2) rgba(#baf6ff, 0.75), 0 0 vw(4) rgba(#baf6ff, 0.75), 0 0 vw(12) rgba(#baf6ff, 0.75);
				}
			}
		}
	}
}
.hash-tag-group {
	display: flex;
	flex-wrap: wrap;
	column-gap: vw2(4);
	@include media {
		column-gap: vw(8);
	}
}
