@charset "UTF-8";
/* 中文 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", "PingFangTC-Regular", "Heiti TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  touch-callout: none;
  -webkit-touch-callout: none;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
::-webkit-input-placeholder {
  font-size: 20px;
}
::-moz-placeholder {
  font-size: 20px;
}
:-ms-input-placeholder {
  font-size: 20px;
}
::-ms-input-placeholder {
  font-size: 20px;
}
::placeholder {
  font-size: 20px;
}

a {
  display: inline-block;
}
a:focus-visible {
  outline: none;
}

a[href] {
  cursor: pointer;
}

.cur-p {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

[v-cloak] {
  display: none;
}

.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.inter {
  font-family: "Inter";
}

.noto {
  font-family: "Noto Sans TC", sans-serif;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.default .gbox-wrap {
  max-width: 898px;
  width: 100%;
  padding: 0px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-image: -o-linear-gradient(bottom, #f49c00 43px, #f49c00 44px, #fff 45px, #fff 100%);
  background-image: linear-gradient(to top, #f49c00 43px, #f49c00 44px, #fff 45px, #fff 100%);
  color: #fff;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 126px;
  border: 2px solid #f49c00;
  -webkit-box-shadow: 12px 12px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 12px 12px 0 0 rgba(0, 0, 0, 0.15);
}
.default .gbox-wrap:before {
  content: "";
  width: 38px;
  height: 93px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("./img/lb-deco1.png");
}
.default .gbox-wrap:after {
  content: "";
  width: 64px;
  height: 18px;
  position: absolute;
  bottom: 54px;
  right: 20px;
  background-size: cover;
  background-image: url("./img/lb-deco2.png");
}
.default .gbox-title {
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  height: 76px;
  background-position: center center;
  background-repeat: no-repeat;
}
.default .gbox-content {
  position: relative;
  padding: 0 62px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

.default .gbox-action {
  z-index: 2;
  position: relative;
  padding: 0;
  font-size: 0;
  margin-top: 69px;
}
.default .gbox-btn {
  width: 403px;
  height: 68px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  position: relative;
  margin: 0;
  font-weight: bold;
  background-size: cover;
  font-size: 32px;
  background-color: transparent;
  background-image: url("./img/btn-enable.png");
  -webkit-filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
}
.default .gbox-btn.enable {
  background-image: url("./img/btn-enable.png");
}
.default .gbox-btn.disable {
  background-image: url("./img/btn-disable.png");
}

.default .gbox-close {
  width: 35px;
  height: 35px;
  font-size: 0;
  top: 22px;
  right: 20px;
  background-size: cover;
}
.default .gbox-close:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.default .gbox-close:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.lb-warning {
  width: 129px;
  height: 111px;
  background-size: cover;
  background-image: url("./img/lb-warning.png");
  margin-bottom: 72px;
}

.lb-title {
  font-size: 32px;
  color: #ff8300;
  font-weight: 900;
  margin-bottom: 32px;
}

.lb-msg {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.lb-sub-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-top: 30px;
}

.lb-btn__text {
  font-size: 14px;
  color: #000;
  margin-top: 11px;
  display: block;
}

.lb-list {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  letter-spacing: -1px;
}
.lb-input__box {
  width: 356px;
  margin-bottom: 39px;
  text-align: left;
}
.lb-input__title {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-bottom: 18px;
}
.lb-input__control {
  width: 100%;
  height: 55px;
  background-color: #f6f6f6;
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.4);
  padding: 12px;
}

.lb-checkbox__box {
  width: 356px;
  position: relative;
  text-align: left;
  cursor: pointer;
}
.lb-checkbox__title {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-bottom: 18px;
}
.lb-checkbox__control {
  display: none;
}
.lb-checkbox__control:checked + .lb-checkbox__style:before {
  background-color: #ff8300;
  background-image: url("./img/icon-checked.png");
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center center;
}
.lb-checkbox__style {
  color: #333;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding-left: 32px;
}
.lb-checkbox__style:before {
  content: "";
  width: 25px;
  height: 25px;
  border: 2px solid #ff8300;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lb1 .gbox-wrap {
  max-width: 560px;
}

.lb2 .gbox-wrap {
  max-width: 880px;
}
.lb2 .gbox-content {
  padding: 0 72px;
}

:root {
  --bg-color: #fff;
  --safe-area-left: 0;
  --safe-area-right: 0;
  --safe-area-top: 0;
  --safe-area-bottom: 0;
  --scroll-width: 5px;
  --scroll-height: 8px;
  --scroll-bar-color: #ddd;
  --scroll-bar-thumb: #000;
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --safe-area-left: env(safe-area-inset-left);
    --safe-area-right: env(safe-area-inset-right);
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
  }
}
#header {
  padding-top: calc(1em + var(--safe-area-top));
}

#footer {
  bottom: calc(1em + var(--safe-area-bottom));
}

body {
  background-color: var(--bg-color, #fff);
  position: relative;
  width: 100%;
  min-width: 1200px;
}

.scroll-style::-webkit-scrollbar {
  width: var(--scroll-width, 5px);
  height: var(--scroll-height, 8px);
  background-color: var(--scroll-bar-color, #ddd);
}
.scroll-style::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb, #000);
}

#app {
  width: 100%;
  position: relative;
  width: calc(var(--width) * 1px);
}

.home {
  width: 100%;
  min-height: 1024px;
  height: 100vh;
  background-image: url("./img/home-bg.jpg");
  background-size: 1920px 1024px;
  background-position: center 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.home-deco {
  width: 1920px;
  height: 770px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -958px;
  background-size: 1920px 770px;
  background-image: url("./img/home-deco1.png");
}
.home-container {
  width: 1100px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 36px;
  -webkit-filter: drop-shadow(4px 15px 15px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 15px 15px rgba(0, 0, 0, 0.3));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 127px;
  padding-bottom: 58px;
}
.home-container:before {
  content: "";
  position: absolute;
  top: 86px;
  right: 35px;
  width: 56px;
  height: 129px;
  background-image: url("./img/home-deco2.png");
  background-size: cover;
}
.home-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 405px;
  height: 12px;
  background: transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #f49c00;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.home-title {
  width: 758px;
  height: 126px;
  background-size: cover;
  background-image: url("./img/home-title.png");
  font-size: 0;
  position: absolute;
  top: -85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home-content {
  position: relative;
}
.home-content__title {
  font-size: 32px;
  font-weight: bold;
  color: #ff8300;
  margin-bottom: 27px;
}
.home-content__info {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 54px;
}
.home-content__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
.home-content__event-btn {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 398px;
  height: 68px;
  background-size: cover;
  background-image: url("./img/home-btn.png");
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 22px;
}
.home-content__event-link {
  font-size: 14px;
  color: #000;
}

.main {
  width: 100%;
  background-image: url("./img/main-bg.jpg");
  background-size: 1920px 1729px;
  background-position: center 0;
  padding-top: 70px;
  padding-bottom: 214px;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-title {
  width: 646px;
  height: 109px;
  font-size: 55px;
  font-weight: 900;
  color: #ff8300;
  background-color: #fff;
  border-radius: 54.5px;
  -webkit-box-shadow: 13px 37px 16px rgba(0, 0, 0, 0.01), 7px 21px 13px rgba(0, 0, 0, 0.05), 3px 9px 10px rgba(0, 0, 0, 0.09), 1px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 13px 37px 16px rgba(0, 0, 0, 0.01), 7px 21px 13px rgba(0, 0, 0, 0.05), 3px 9px 10px rgba(0, 0, 0, 0.09), 1px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}
.main-info {
  font-size: 400px;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 58px;
}
.main-step {
  margin-bottom: 75px;
  position: relative;
}
.main-step[data-step="1"].complete .step circle,
.main-step[data-step="1"].complete .step path {
  stroke: #ff8300;
}
.main-step[data-step="2"].complete .step circle,
.main-step[data-step="2"].complete .step path {
  stroke: #ff8300;
}
.main-step:last-child {
  margin-bottom: 0;
}
.main-step__title {
  color: #ff8300;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 46px;
  position: relative;
}
.main-step__title .step {
  position: absolute;
  top: 50%;
  left: -72px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-step__input-group {
  width: 355px;
  margin: 0 auto 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-step__input-group:last-child {
  margin-bottom: 0;
}
.main-step__input-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 6px;
}
.main-step__input-text {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-top: 12px;
  margin-bottom: 24px;
  letter-spacing: -1px;
}
.main-step__input-text span {
  color: #ff8300;
}
.main-step__input-type1 {
  width: 100%;
  position: relative;
}
.main-step__input-type1.check:before {
  content: "";
  width: 21px;
  height: 21px;
  background-size: cover;
  background-image: url("./img/input-check.png");
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-step__input-type1.complete:before {
  content: "";
  width: 21px;
  height: 21px;
  background-size: cover;
  background-image: url("./img/input-check.png");
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.4;
}
.main-step__input-type1.complete input {
  background: #f6f6f6;
  border: 1px solid rgba(51, 51, 51, 0.4);
  color: #a8a8a8;
}
.main-step__input-type1 input {
  width: 100%;
  height: 55px;
  background: #ffffff;
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
}
.main-step__input-type1 ::-webkit-input-placeholder {
  font-size: 18px;
}
.main-step__input-type1 ::-moz-placeholder {
  font-size: 18px;
}
.main-step__input-type1 :-ms-input-placeholder {
  font-size: 18px;
}
.main-step__input-type1 ::-ms-input-placeholder {
  font-size: 18px;
}
.main-step__input-type1 ::placeholder {
  font-size: 18px;
}
.main-step__input-msg {
  text-align: center;
  font-size: 15px;
  color: #ff0606;
}
.main-step__input-type2 {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 14px;
}
.main-step__input-type2 input {
  height: 53px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  min-width: auto;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  background: #ffffff;
}
.main-step__input-type2 input:last-child {
  margin-right: 0;
}
.main-step__input-type2 ::-webkit-input-placeholder {
  font-size: 18px;
}
.main-step__input-type2 ::-moz-placeholder {
  font-size: 18px;
}
.main-step__input-type2 :-ms-input-placeholder {
  font-size: 18px;
}
.main-step__input-type2 ::-ms-input-placeholder {
  font-size: 18px;
}
.main-step__input-type2 ::placeholder {
  font-size: 18px;
}
.main-step__btn {
  width: 355px;
  height: 55px;
  background: #cccccc;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  cursor: default !important;
}
.main-step__btn.enable {
  background: #ff8300;
  cursor: pointer !important;
}
.main-step__btn.disable {
  background: #ffcd99;
  cursor: default !important;
}
.main-step__re {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.main-step__re-again {
  margin-right: auto;
  color: #333;
}
.main-step__re-no {
  color: #333;
}