@charset "UTF-8";
/* 中文 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  touch-callout: none;
  -webkit-touch-callout: none;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
input {
  font-size: initial !important;
}

::-webkit-input-placeholder {
  font-size: 20px;
}

::-moz-placeholder {
  font-size: 20px;
}

:-ms-input-placeholder {
  font-size: 20px;
}

::-ms-input-placeholder {
  font-size: 20px;
}

::placeholder {
  font-size: 20px;
}

a {
  display: inline-block;
}
a:focus-visible {
  outline: none;
}

a[href] {
  cursor: pointer;
}

.cur-p {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

[v-cloak] {
  display: none;
}

.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.default .gbox-wrap {
  max-width: 1132px;
  width: 100%;
  padding: 0px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: transparent;
  color: #fff;
  background-size: cover;
  padding-top: 38px;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .default .gbox-wrap {
    max-width: 100vw;
    margin-top: 10.4166666667vw;
    margin-bottom: 10.4166666667vw;
    padding-top: 4.8177083333vw;
    padding-bottom: 2.9947916667vw;
  }
}
.default .gbox-title {
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  height: 76px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .default .gbox-title {
    height: 7.8125vw;
  }
}
.default .gbox-content {
  position: relative;
  padding: 0px;
  width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .default .gbox-content {
    width: 92.1875vw;
  }
}

.default .gbox-action {
  z-index: 2;
  position: relative;
  padding: 0;
  font-size: 0;
  margin-top: 38px;
}
@media screen and (max-width: 768px) {
  .default .gbox-action {
    margin-top: 4.9479166667vw;
  }
}
.default .gbox-btn {
  width: 294px;
  height: 65px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  position: relative;
  margin: 0;
  background-color: #e5006e;
  color: #fff;
  border-radius: 100vmax;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .default .gbox-btn:hover {
    background-color: #ffea94;
    color: #63190e;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-btn {
    width: 38.28125vw;
    height: 8.4635416667vw;
    font-size: 2.6041666667vw;
  }
}

.default .gbox-close {
  width: 50px;
  height: 50px;
  font-size: 0;
  top: -25px;
  right: 25px;
  border: 2px solid #f08200;
}
.default .gbox-close:before, .default .gbox-close:after {
  content: "";
  width: 2px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f08200;
}
@media screen and (max-width: 768px) {
  .default .gbox-close:before, .default .gbox-close:after {
    width: 0.2604166667vw;
    height: 3.2552083333vw;
  }
}
.default .gbox-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.default .gbox-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}
@media screen and (max-width: 768px) {
  .default .gbox-close {
    width: 6.5104166667vw;
    height: 6.5104166667vw;
    top: -3.2552083333vw;
    right: 3.90625vw;
    border-width: 0.2604166667vw;
  }
}

.lb-coming .gbox-wrap {
  background-image: url("./images/lb-bg-coming.png");
  height: 317px;
}
@media screen and (max-width: 768px) {
  .lb-coming .gbox-wrap {
    background-image: url("./images/lb-bg-coming-m.png");
    height: 41.1458333333vw;
  }
}
.lb-coming .gbox-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lb-coming-text-box {
  font-size: 60px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
}
@media screen and (max-width: 768px) {
  .lb-coming-text-box {
    font-size: 5.859375vw;
    -webkit-column-gap: 2.6041666667vw;
       -moz-column-gap: 2.6041666667vw;
            column-gap: 2.6041666667vw;
    text-shadow: -0.390625vw -0.390625vw 0 #63190e, 0 -0.390625vw 0 #63190e, 0.390625vw -0.390625vw 0 #63190e, 0.390625vw 0 0 #63190e, 0.390625vw 0.390625vw 0 #63190e, 0 0.390625vw 0 #63190e, -0.390625vw 0.390625vw 0 #63190e, -0.390625vw 0 0 #63190e;
  }
}
.lb-coming-text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lb-coming-text-group span:nth-child(1) {
  color: #fc989e;
}
.lb-coming-text-group span:nth-child(2) {
  color: #72dafe;
}
.lb-coming-text-group span:nth-child(3) {
  color: #a8cf40;
}
.lb-coming-text-group span:nth-child(4) {
  color: #ffbf7b;
}

.lb-lottery .gbox-wrap {
  background-image: url("./images/lb-bg-lottery.png");
  height: 317px;
}
@media screen and (max-width: 768px) {
  .lb-lottery .gbox-wrap {
    background-image: url("./images/lb-bg-lottery-m.png");
    height: 41.1458333333vw;
  }
}
.lb-lottery .gbox-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lb-lottery-text-box {
  font-size: 45px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 36px;
  text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
}
@media screen and (max-width: 768px) {
  .lb-lottery-text-box {
    font-size: 5.859375vw;
    row-gap: 4.6875vw;
    text-shadow: -0.390625vw -0.390625vw 0 #63190e, 0 -0.390625vw 0 #63190e, 0.390625vw -0.390625vw 0 #63190e, 0.390625vw 0 0 #63190e, 0.390625vw 0.390625vw 0 #63190e, 0 0.390625vw 0 #63190e, -0.390625vw 0.390625vw 0 #63190e, -0.390625vw 0 0 #63190e;
  }
}
.lb-lottery-text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lb-lottery-text-group span:nth-child(1) {
  color: #fc989e;
}
.lb-lottery-text-group span:nth-child(2) {
  color: #72dafe;
}
.lb-lottery-text-group span:nth-child(3) {
  color: #a8cf40;
}
.lb-lottery-text-group span:nth-child(4) {
  color: #ffbf7b;
}

.lb-lottery-log .gbox-wrap {
  background-image: url("./images/lb-bg-log.png");
  height: 881px;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log .gbox-wrap {
    background-image: url("./images/lb-bg-log-m.png");
    height: 166.2760416667vw;
  }
}
.lb-lottery-log .gbox-content {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log .gbox-content {
    padding-top: 6.5104166667vw;
  }
}
.lb-lottery-log-title {
  font-size: 45px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
  margin-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-title {
    margin-bottom: 1.5625vw;
    font-size: 5.859375vw;
    text-shadow: -0.390625vw -0.390625vw 0 #63190e, 0 -0.390625vw 0 #63190e, 0.390625vw -0.390625vw 0 #63190e, 0.390625vw 0 0 #63190e, 0.390625vw 0.390625vw 0 #63190e, 0 0.390625vw 0 #63190e, -0.390625vw 0.390625vw 0 #63190e, -0.390625vw 0 0 #63190e;
  }
}
.lb-lottery-log-account {
  font-weight: bold;
  font-size: 30px;
  color: #63190e;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-account {
    font-size: 3.90625vw;
    margin-bottom: 1.5625vw;
  }
}
.lb-lottery-log-text-box {
  font-size: 45px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-text-box {
    margin-bottom: 3.90625vw;
    font-size: 5.859375vw;
    text-shadow: -0.390625vw -0.390625vw 0 #63190e, 0 -0.390625vw 0 #63190e, 0.390625vw -0.390625vw 0 #63190e, 0.390625vw 0 0 #63190e, 0.390625vw 0.390625vw 0 #63190e, 0 0.390625vw 0 #63190e, -0.390625vw 0.390625vw 0 #63190e, -0.390625vw 0 0 #63190e;
  }
}
.lb-lottery-log-text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lb-lottery-log-text-group span:nth-child(1) {
  color: #fc989e;
}
.lb-lottery-log-text-group span:nth-child(2) {
  color: #72dafe;
}
.lb-lottery-log-text-group span:nth-child(3) {
  color: #a8cf40;
}
.lb-lottery-log-text-group span:nth-child(4) {
  color: #ffbf7b;
}
.lb-lottery-log-list {
  width: 935px;
  font-size: 30px;
  font-weight: bold;
  color: #63190e;
  margin: 0 auto;
  overflow-y: auto;
}
.lb-lottery-log-list-box {
  max-height: 522px;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-list-box {
    max-height: 117.1875vw;
  }
}
.lb-lottery-log-list-box .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.lb-lottery-log-list-box .mCSB_scrollTools {
  right: 16px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-list-box .mCSB_scrollTools {
    right: 2.0833333333vw;
  }
}
.lb-lottery-log-list-box .mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background-color: #fff;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-list-box .mCSB_scrollTools .mCSB_draggerRail {
    width: 0.78125vw;
  }
}
.lb-lottery-log-list-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 16px;
  background-color: #63190e;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-list-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 2.0833333333vw;
  }
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-list {
    width: 75.1302083333vw;
    font-size: 3.90625vw;
  }
}
.lb-lottery-log-list__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.lb-lottery-log-list__item {
  padding: 12px 0;
  border: 3px solid #63190e;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .lb-lottery-log-list__item {
    padding: 1.8229166667vw 0;
    border-width: 0.390625vw;
  }
}
.lb-lottery-log-list__item:first-child {
  border-right: 0px;
}

.lb-gameworld .gbox-wrap {
  background-image: url("./images/lb-bg-gameworld.png");
  height: 538px;
}
@media screen and (max-width: 768px) {
  .lb-gameworld .gbox-wrap {
    background-image: url("./images/lb-bg-gameworld-m.png");
    height: 70.0520833333vw;
  }
}
.lb-gameworld .gbox-content {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .lb-gameworld .gbox-content {
    padding-top: 6.5104166667vw;
  }
}
.lb-gameworld-box {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .lb-gameworld-box {
    margin-bottom: 4.5572916667vw;
  }
}
.lb-gameworld-box:last-child {
  margin-bottom: 0;
}
.lb-gameworld-text-box {
  font-size: 45px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
  margin-bottom: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .lb-gameworld-text-box {
    margin-bottom: 6.7708333333vw;
    font-size: 5.859375vw;
    text-shadow: -0.390625vw -0.390625vw 0 #63190e, 0 -0.390625vw 0 #63190e, 0.390625vw -0.390625vw 0 #63190e, 0.390625vw 0 0 #63190e, 0.390625vw 0.390625vw 0 #63190e, 0 0.390625vw 0 #63190e, -0.390625vw 0.390625vw 0 #63190e, -0.390625vw 0 0 #63190e;
  }
}
.lb-gameworld-text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lb-gameworld-text-group span:nth-child(1) {
  color: #fc989e;
}
.lb-gameworld-text-group span:nth-child(2) {
  color: #72dafe;
}
.lb-gameworld-text-group span:nth-child(3) {
  color: #a8cf40;
}
.lb-gameworld-text-group span:nth-child(4) {
  color: #ffbf7b;
}

.lb-select {
  background-color: #63190e;
  color: #fff;
  font-size: 30px;
  border: 2px solid #ed9c45;
  width: 693px;
  text-align: center;
  padding: 20px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0;
  color: inherit;
  background-image: url("./images/lb-select-arrow.png");
  background-size: 29px 16px;
  background-position: 648px center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .lb-select {
    font-size: 3.90625vw;
    border-width: 0.2604166667vw;
    width: 90.234375vw;
    padding: 2.6041666667vw 0;
    background-size: 3.7760416667vw 2.0833333333vw;
    background-position: 84.375vw center;
  }
}

.lb-msg-content {
  font-size: 45px;
  color: #63190e;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .lb-msg-content {
    font-size: 5.859375vw;
  }
}

:root {
  --bg-color: #fff;
  --safe-area-left: 0;
  --safe-area-right: 0;
  --safe-area-top: 0;
  --safe-area-bottom: 0;
  --scroll-width: 5px;
  --scroll-height: 8px;
  --scroll-bar-color: #ddd;
  --scroll-bar-thumb: #000;
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --safe-area-left: env(safe-area-inset-left);
    --safe-area-right: env(safe-area-inset-right);
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
  }
}
#header {
  padding-top: calc(1em + var(--safe-area-top));
}

#footer {
  bottom: calc(1em + var(--safe-area-bottom));
}

body {
  background-color: var(--bg-color, #fff);
  position: relative;
  width: 100%;
  min-width: 1200px;
}
@media screen and (max-width: 768px) {
  body {
    min-width: auto;
  }
}

.scroll-style::-webkit-scrollbar {
  width: var(--scroll-width, 5px);
  height: var(--scroll-height, 8px);
  background-color: var(--scroll-bar-color, #ddd);
}
.scroll-style::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb, #000);
}

#app {
  width: 100%;
  position: relative;
  width: calc(var(--width) * 1px);
}

[v-cloak] {
  display: none;
}

.event-copy-right {
  font-size: 20px;
  font-family: Arial;
  color: #515050;
  margin-top: 59px;
}
@media screen and (max-width: 768px) {
  .event-copy-right {
    font-size: 2.6041666667vw;
    margin-top: 7.8125vw;
  }
}

.header {
  width: 100%;
  height: 1200px;
  overflow: hidden;
  background-image: url("./images/header-bg.jpg");
  background-position: center 0;
}
@media screen and (max-width: 768px) {
  .header {
    height: 123.3072916667vw;
    background-image: url("./images/header-bg-m.jpg");
    background-size: cover;
  }
}
.header-btn-download {
  width: 512px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1045px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e5006e;
  border-radius: 100vmax;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header-btn-download:hover {
    background-color: #f7f9e2;
    color: #e5006e;
  }
}
@media screen and (max-width: 768px) {
  .header-btn-download {
    width: 66.6666666667vw;
    height: 14.3229166667vw;
    top: 101.0416666667vw;
    font-size: 5.46875vw;
  }
}

.wrap {
  width: 100%;
  position: relative;
}
.wrap:before {
  content: "";
  background-image: url("./images/bg-repeat.png");
  background-position: center 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .wrap:before {
    background-image: url("./images/bg-repeat-m.png");
    background-size: cover;
  }
}
.wrap .content {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .wrap .content {
    width: 100%;
  }
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.menu-toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-toggle {
    position: fixed;
    top: 3.90625vw;
    left: 3.90625vw;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 8.59375vw;
    height: 7.1614583333vw;
  }
  .menu-toggle span {
    width: 100%;
    height: 1.0416666667vw;
    background-color: #63190e;
  }
  .menu-toggle span:nth-child(2) {
    margin: auto 0;
  }
}

.menu {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}
.menu:before {
  content: "";
  width: 43px;
  height: 32px;
  position: absolute;
  top: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("./images/menu-dot.png");
}
@media screen and (max-width: 768px) {
  .menu:before {
    content: none;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    display: none;
  }
  .menu.open {
    display: block;
  }
}
.menu-box {
  background-image: url("./images/menu-bg.jpg"), url("./images/menu-bg.jpg");
  background-position: center 0, center bottom;
  background-repeat: no-repeat;
  background-color: #f7f9e2;
  position: relative;
  width: 220px;
  padding-top: 34px;
  padding-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), inset 4px 0 0 #560700, inset -4px 0 0 #560700;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), inset 4px 0 0 #560700, inset -4px 0 0 #560700;
}
@media screen and (max-width: 768px) {
  .menu-box {
    background-image: url("./images/menu-bg-m.jpg"), url("./images/menu-bg-m.jpg");
    background-size: 33.7239583333vw 4.4270833333vw, 33.7239583333vw 4.4270833333vw;
    width: 33.7239583333vw;
    padding-top: 4.4270833333vw;
    padding-bottom: 4.4270833333vw;
    -webkit-box-shadow: 0 0 1.953125vw rgba(0, 0, 0, 0.6), inset 0.5208333333vw 0 0 #560700, inset -0.5208333333vw 0 0 #560700;
            box-shadow: 0 0 1.953125vw rgba(0, 0, 0, 0.6), inset 0.5208333333vw 0 0 #560700, inset -0.5208333333vw 0 0 #560700;
  }
}
.menu-close {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-close {
    display: block;
    position: absolute;
    top: 0;
    right: -5.9895833333vw;
    width: 6.5104166667vw;
    height: 6.5104166667vw;
    border: 0.78125vw solid #63190e;
    background-color: #f7f9e2;
  }
  .menu-close:before, .menu-close:after {
    content: "";
    width: 0.5208333333vw;
    height: 5.2083333333vw;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #63190e;
  }
}
.menu-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.menu-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}
.menu-logo {
  width: 100%;
  height: 100%;
  background-image: url("./images/logo.png");
  background-size: cover;
  display: block;
}
.menu-logo-box {
  width: 128px;
  height: 149px;
  padding: 6px 0 11px;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  .menu-logo-box {
    width: 16.6666666667vw;
    height: 19.4010416667vw;
    padding: 0.78125vw 0 1.4322916667vw;
  }
}
.menu-logo-box:before {
  content: "";
  width: 182px;
  height: 3px;
  background-color: #560700;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .menu-logo-box:before {
    width: 27.4739583333vw;
    height: 0.390625vw;
  }
}
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}
.menu-list__link {
  font-size: 23px;
  font-weight: bold;
  color: #560700;
  text-decoration: none;
  padding: 8px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .menu-list__link {
    font-size: 3.90625vw;
    padding: 3.515625vw 0;
  }
}
.menu-list__link:before {
  content: "";
  width: 182px;
  height: 3px;
  background-color: #560700;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .menu-list__link:before {
    width: 27.4739583333vw;
    height: 0.390625vw;
  }
}
.menu-list__link:nth-child(odd):before {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .menu-list__link:nth-child(odd):before {
    margin-left: 1.8229166667vw;
  }
}
@media screen and (min-width: 768px) {
  .menu-list__link:hover {
    color: #f48120;
  }
}
.menu-list__link.comming-soon {
  cursor: default;
}
.menu-list__link.comming-soon:after {
  content: "";
  width: 141px;
  height: 57px;
  background-image: url("./images/menu-coming.png");
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .menu-list__link.comming-soon:after {
    width: 25.390625vw;
    height: 10.2864583333vw;
  }
}
.menu-icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .menu-icon-group {
    padding: 2.6041666667vw 0;
  }
}
.menu-icon-group:before {
  content: "";
  width: 182px;
  height: 3px;
  background-color: #560700;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .menu-icon-group:before {
    width: 27.4739583333vw;
    height: 0.390625vw;
  }
}
.menu-icon__f {
  width: 41px;
  height: 41px;
  background-size: 200%;
  background-image: url("./images/icon-f.png");
}
@media screen and (min-width: 768px) {
  .menu-icon__f:hover {
    background-position-x: 100%;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon__f {
    width: 6.5104166667vw;
    height: 6.5104166667vw;
  }
}
.menu-icon__h {
  width: 41px;
  height: 42px;
  background-size: 200%;
  background-image: url("./images/icon-h.png");
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .menu-icon__h:hover {
    background-position-x: 100%;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon__h {
    width: 6.640625vw;
    height: 6.7708333333vw;
    margin-right: 5.46875vw;
  }
}
.menu-status {
  width: 100%;
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .menu-status {
    min-height: 21.3541666667vw;
  }
}
.menu-status__btn-login {
  width: 116px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #e5006e;
  border-radius: 100vmax;
  text-decoration: none;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .menu-status__btn-login {
    width: 23.6979166667vw;
    height: 5.46875vw;
    font-size: 3.90625vw;
  }
}
@media screen and (min-width: 768px) {
  .menu-status__btn-login:hover {
    background-color: #f48120;
    color: #fff;
  }
}
.menu-status__nickname {
  width: 140px;
  font-size: 20px;
  font-weight: bold;
  color: #63190e;
  text-align: center;
  margin-bottom: 10px;
  word-break: break-all;
}
@media screen and (max-width: 768px) {
  .menu-status__nickname {
    width: 26.0416666667vw;
    font-size: 3.90625vw;
    margin-bottom: 3.125vw;
  }
}

.top {
  font-size: 30px;
  font-weight: bold;
  color: #63190e;
  background-color: #f7f9e2;
  width: 80px;
  height: 80px;
  border: 4px solid #63190e;
  border-radius: 100vmax;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .top:hover {
    color: #f48120;
    border-color: #f48120;
  }
}
.top--pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 18px;
}
@media screen and (max-width: 768px) {
  .top--pc {
    display: none;
  }
}
.top--mb {
  display: none;
}
@media screen and (max-width: 768px) {
  .top--mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
  }
}
@media screen and (max-width: 768px) {
  .top {
    font-size: 3.90625vw;
    width: 10.4166666667vw;
    height: 10.4166666667vw;
    border: 0.5208333333vw solid #63190e;
    right: 3.90625vw;
    bottom: 0;
  }
}

.page1 {
  background-image: url("./images/page1-bg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  padding-top: 46px;
  padding-bottom: 46px;
}
@media screen and (max-width: 768px) {
  .page1 {
    padding-top: 7.8125vw;
    padding-bottom: 7.8125vw;
    background-image: url("./images/page1-bg-m.jpg");
  }
}
.page1-content-img {
  width: 1200px;
  height: 1484px;
  background-image: url("./images/page1-content-img.png");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .page1-content-img {
    width: 92.1875vw;
    height: 314.453125vw;
    background-image: url("./images/page1-content-img-m.png");
  }
}
.page1-content-btn {
  width: 512px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  background-color: #e5006e;
  border-radius: 100vmax;
  text-decoration: none;
  margin-top: 57px;
}
@media screen and (min-width: 768px) {
  .page1-content-btn:hover {
    background-color: #f7f9e2;
    color: #e5006e;
  }
}
@media screen and (max-width: 768px) {
  .page1-content-btn {
    width: 66.6666666667vw;
    height: 14.3229166667vw;
    top: 101.0416666667vw;
    font-size: 5.46875vw;
    margin-top: 7.8125vw;
  }
}

.page2 {
  background-color: #46b8e0;
  background-image: url("./images/page2-content-left.png"), url("./images/page2-content-right.png");
  background-size: 450px 502px, 548px 569px;
  background-repeat: no-repeat;
  background-position: 0 0, right bottom;
  padding-top: 46px;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .page2 {
    background-image: url("./images/page2-content-left-m.png"), url("./images/page2-content-right-m.png");
    background-size: 53.515625vw 61.9791666667vw, 35.2864583333vw 42.96875vw;
    padding-top: 7.8125vw;
    padding-bottom: 7.8125vw;
  }
}
.page2-content-title {
  width: 286px;
  height: 71px;
  background-size: cover;
  background-image: url("./images/page2-content-title.png");
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .page2-content-title {
    width: 37.2395833333vw;
    height: 9.2447916667vw;
    margin-bottom: 4.9479166667vw;
  }
}
.page2-content-list {
  font-size: 28px;
  font-weight: bold;
  color: #63190e;
  line-height: 1.5;
  padding-left: 112px;
  padding-right: 50px;
  list-style: none;
  counter-reset: list-counter;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .page2-content-list {
    padding-left: 10.9375vw;
    padding-right: 3.90625vw;
    font-size: 3.90625vw;
    margin-bottom: 7.8125vw;
  }
}
.page2-content-list__li {
  margin-bottom: 24px;
  position: relative;
  counter-increment: list-counter;
}
@media screen and (max-width: 768px) {
  .page2-content-list__li {
    margin-bottom: 3.125vw;
  }
}
.page2-content-list__li::before {
  content: counter(list-counter);
  position: absolute;
  left: -54px;
  top: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #63190e;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .page2-content-list__li::before {
    width: 4.5572916667vw;
    height: 4.5572916667vw;
    font-size: 3.90625vw;
    left: -7.03125vw;
    top: 0.78125vw;
  }
}
.page2-content-list__li:last-child {
  margin-bottom: 0;
}
.page2-content-dot {
  list-style-type: none;
}
.page2-content-dot__item {
  padding-left: 28px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .page2-content-dot__item {
    padding-left: 3.6458333333vw;
  }
}
.page2-content-dot__item:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #63190e;
  position: absolute;
  top: 18px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .page2-content-dot__item:before {
    width: 1.5625vw;
    height: 1.5625vw;
    top: 2.34375vw;
  }
}
.page2-content-dot__item.example {
  padding: 16px 26px;
  border: 3px solid #63190e;
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .page2-content-dot__item.example {
    margin-top: 3.125vw;
    padding: 1.5625vw 3.3854166667vw;
    border-width: 0.390625vw;
  }
}
.page2-content-dot__item.example:before {
  content: none;
}
.page2-content-dot2 {
  list-style-type: disc;
  padding-left: 36px;
}
@media screen and (max-width: 768px) {
  .page2-content-dot2 {
    padding-left: 4.6875vw;
  }
}
.page2-content-img {
  width: 1083px;
  height: 567px;
  background-image: url("./images/page2-content-img.jpg");
  background-size: cover;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .page2-content-img {
    width: 92.1875vw;
    height: 48.3072916667vw;
    background-image: url("./images/page2-content-img-m.jpg");
  }
}
.page2-content-info {
  font-size: 28px;
  font-weight: bold;
  color: #63190e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 185px;
     -moz-column-gap: 185px;
          column-gap: 185px;
}
@media screen and (max-width: 768px) {
  .page2-content-info {
    font-size: 3.90625vw;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 3.2552083333vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page2-content-btn {
  width: 512px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  background-color: #e5006e;
  border-radius: 100vmax;
  text-decoration: none;
  margin-top: 57px;
}
@media screen and (min-width: 768px) {
  .page2-content-btn:hover {
    background-color: #f7f9e2;
    color: #e5006e;
  }
}
@media screen and (max-width: 768px) {
  .page2-content-btn {
    font-size: 5.46875vw;
    width: 40.8854166667vw;
    height: 14.3229166667vw;
  }
}
@media screen and (max-width: 768px) {
  .page2-content-btn--lottery {
    width: 66.6666666667vw;
    height: 14.3229166667vw;
    font-size: 5.46875vw;
  }
}
.page2-content-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 78px;
     -moz-column-gap: 78px;
          column-gap: 78px;
}
@media screen and (max-width: 768px) {
  .page2-content-btn-group {
    -webkit-column-gap: 10.4166666667vw;
       -moz-column-gap: 10.4166666667vw;
            column-gap: 10.4166666667vw;
  }
}

.page2-notice {
  background-image: url("./images/page1-bg.jpg");
  padding-top: 32px;
  padding-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .page2-notice {
    padding-top: 7.8125vw;
    padding-bottom: 4.9479166667vw;
  }
}
.page2-notice-title {
  width: 289px;
  height: 71px;
  background-size: cover;
  background-image: url("./images/page2-notice-title.png");
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .page2-notice-title {
    width: 37.6302083333vw;
    height: 9.2447916667vw;
    margin-bottom: 5.078125vw;
  }
}
.page2-notice-list {
  font-size: 28px;
  font-weight: bold;
  color: #63190e;
  line-height: 1.5;
  padding-left: 112px;
  padding-right: 50px;
  list-style: none;
  counter-reset: list-counter;
}
@media screen and (max-width: 768px) {
  .page2-notice-list {
    font-size: 3.90625vw;
    padding-left: 10.9375vw;
    padding-right: 3.90625vw;
  }
}
.page2-notice-list__li {
  margin-bottom: 24px;
  position: relative;
  counter-increment: list-counter;
}
@media screen and (max-width: 768px) {
  .page2-notice-list__li {
    margin-bottom: 3.6458333333vw;
  }
}
.page2-notice-list__li::before {
  content: counter(list-counter);
  position: absolute;
  left: -54px;
  top: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #63190e;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .page2-notice-list__li::before {
    width: 4.5572916667vw;
    height: 4.5572916667vw;
    font-size: 3.90625vw;
    top: 0.78125vw;
    left: -7.03125vw;
  }
}
.page2-notice-list__li:last-child {
  margin-bottom: 0;
}

.page3 {
  background-image: url("./images/page3-bg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  padding-top: 46px;
  padding-bottom: 46px;
}
@media screen and (max-width: 768px) {
  .page3 {
    background-image: url("./images/page3-bg-m.jpg");
    padding-top: 7.8125vw;
    padding-bottom: 7.8125vw;
  }
}
.page3-content-title {
  width: 289px;
  height: 72px;
  margin-bottom: -30px;
  background-size: cover;
  background-image: url("./images/page3-content-title.png");
}
@media screen and (max-width: 768px) {
  .page3-content-title {
    width: 37.6302083333vw;
    height: 9.375vw;
    margin-bottom: -3.90625vw;
  }
}
.page3-content-img {
  width: 1165px;
  height: 1089px;
  background-image: url("./images/page3-content-img.png");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .page3-content-img {
    width: 73.6979166667vw;
    height: 269.140625vw;
    background-image: url("./images/page3-content-img-m.png");
  }
}
.page3-content-btn {
  width: 512px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  background-color: #e5006e;
  border-radius: 100vmax;
  text-decoration: none;
  margin-top: 57px;
}
@media screen and (min-width: 768px) {
  .page3-content-btn:hover {
    background-color: #f7f9e2;
    color: #e5006e;
  }
}
@media screen and (max-width: 768px) {
  .page3-content-btn {
    width: 66.6666666667vw;
    height: 14.3229166667vw;
    font-size: 5.46875vw;
    margin-top: 7.8125vw;
  }
}