:root {
	--bg-color: #fcfcfc;
	--safe-area-left: 0;
	--safe-area-right: 0;
	--safe-area-top: 0;
	--safe-area-bottom: 0;
	--scroll-width: 5px;
	--scroll-height: 8px;
	--scroll-bar-color: #ddd;
	--scroll-bar-thumb: #000;
}
@supports (bottom: env(safe-area-inset-top)) {
	:root {
		--safe-area-left: env(safe-area-inset-left);
		--safe-area-right: env(safe-area-inset-right);
		--safe-area-top: env(safe-area-inset-top);
		--safe-area-bottom: env(safe-area-inset-bottom);
	}
}
#header {
	padding-top: calc(1em + var(--safe-area-top));
}
#footer {
	bottom: calc(1em + var(--safe-area-bottom));
}
body {
	background-color: var(--bg-color, #fcfcfc);
	position: relative;
	width: 100%;
	min-width: 1200px;
	@include media2 {
		min-width: auto;
	}
	@include media {
		min-width: auto;
	}
}
.scroll-style {
	&::-webkit-scrollbar {
		width: var(--scroll-width, 5px);
		height: var(--scroll-height, 8px);
		background-color: var(--scroll-bar-color, #ddd);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--scroll-bar-thumb, #000);
	}
}

#app {
	width: 100%;
	position: relative;
	width: calc(var(--width) * 1px);
}

.home {
	width: 100%;
	min-height: 1024px;
	height: 100dvh;
	background-image: url("./img/home-bg.jpg");
	background-size: cover;
	background-position: center center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	@include media {
		min-height: vw(1024);
		height: 100dvh;
		background-image: url("./img/m-home-bg.jpg");
		background-size: cover;
	}
	&-deco {
		width: 1920px;
		height: 770px;
		position: absolute;
		bottom: 0;
		margin-bottom: -260px;
		left: 50%;
		margin-left: -958px;
		background-size: 1920px 770px;
		background-image: url("./img/home-deco1.png");
		z-index: 1;
		@include media {
			width: vw(768);
			height: vw(455);
			background-image: url("./img/m-home-deco1.png");
			background-size: vw(768) vw(455);
			margin-left: vw(-385);
			margin-bottom: vw(-385);
		}
	}
	&-container {
		width: 1100px;
		background-color: #fff;
		margin: 0 auto;
		border-radius: 36px;
		box-shadow: 4px 15px 15px rgba(0, 0, 0, 0.3);
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 127px;
		padding-bottom: 58px;
		@include media {
			width: vw(674);
			border-radius: vw(36);
			box-shadow: vw(4) vw(15) vw(15) rgba(0, 0, 0, 0.3);
			padding-top: vw(54);
			padding-bottom: vw(38);
		}
		&:before {
			content: "";
			position: absolute;
			top: 86px;
			right: 35px;
			width: 56px;
			height: 129px;
			background-image: url("./img/home-deco2.png");
			background-size: cover;
			@include media {
				width: vw(56);
				height: vw(129);
				top: vw(60);
				right: vw(22);
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 405px;
			height: 12px;
			background: transparent;
			border-top: 12px solid transparent;
			border-bottom: 12px solid #f49c00;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			@include media {
				width: vw(245);
				height: vw(12);
				border-top: vw(12) solid transparent;
				border-bottom: vw(12) solid #f49c00;
				border-left: vw(12) solid transparent;
				border-right: vw(12) solid transparent;
			}
		}
	}
	&-title {
		width: 758px;
		height: 126px;
		background-size: cover;
		background-image: url("./img/home-title.png");
		font-size: 0;
		position: absolute;
		top: -85px;
		left: 50%;
		transform: translateX(-50%);
		@include media {
			width: vw(425);
			height: vw(71);
			top: vw(-40);
			background-image: url("./img/m-home-title.png");
		}
	}
	&-content {
		position: relative;
		&__title {
			font-size: 32px;
			font-weight: bold;
			color: #ff8300;
			margin-bottom: 27px;
			@include media {
				font-size: vw(40);
				margin-bottom: vw(28);
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		&__info {
			font-size: 20px;
			text-align: center;
			line-height: 32px;
			margin-bottom: 54px;
			@include media {
				font-size: vw(30);
				line-height: vw(43);
				margin-bottom: vw(30);
			}
		}
		&__event {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 2;
			&-btn {
				font-size: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 398px;
				height: 68px;
				background-size: cover;
				background-image: url("./img/home-btn.png");
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
				margin-bottom: 22px;
				@include media {
					font-size: vw(30);
					width: vw(345);
					height: vw(59);
					margin-bottom: vw(24);
				}
			}
			&-link {
				font-size: 14px;
				color: #000;
				@include media {
					font-size: vw(24);
				}
			}
		}
	}
}
