:root {
	--bg-color: #fff;
	--safe-area-left: 0;
	--safe-area-right: 0;
	--safe-area-top: 0;
	--safe-area-bottom: 0;
	--scroll-width: 5px;
	--scroll-height: 8px;
	--scroll-bar-color: #ddd;
	--scroll-bar-thumb: #000;
}
@supports (bottom: env(safe-area-inset-top)) {
	:root {
		--safe-area-left: env(safe-area-inset-left);
		--safe-area-right: env(safe-area-inset-right);
		--safe-area-top: env(safe-area-inset-top);
		--safe-area-bottom: env(safe-area-inset-bottom);
	}
}
#header {
	padding-top: calc(1em + var(--safe-area-top));
}
#footer {
	bottom: calc(1em + var(--safe-area-bottom));
}
// 一版到底
// html {
// 	font-size: 768px;
// 	@include media {
// 		font-size: 100vw;
// 	}
// }
// .gbox {
// 	font-size: rem(30);
// }
body {
	background-color: var(--bg-color, #fff);
	position: relative;
	width: 100%;
	min-width: 1200px;
	@include media {
		min-width: auto;
	}
}
.scroll-style {
	&::-webkit-scrollbar {
		width: var(--scroll-width, 5px);
		height: var(--scroll-height, 8px);
		background-color: var(--scroll-bar-color, #ddd);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--scroll-bar-thumb, #000);
	}
}

#app {
	width: 100%;
	position: relative;
	width: calc(var(--width) * 1px);
}
[v-cloak] {
	display: none;
}
.event-copy-right {
	font-size: 20px;
	font-family: Arial;
	color: #515050;
	margin-top: 59px;
	@include media {
		font-size: vw(20);
		margin-top: vw(60);
	}
}
.header {
	width: 100%;
	height: 1200px;
	overflow: hidden;
	background-image: url("./images/header-bg.jpg");
	background-position: center 0;
	// background-size: 1920px 1200px;
	@include media {
		height: vw(947);
		background-image: url("./images/header-bg-m.jpg");
		background-size: cover;
	}
	&-btn-download {
		width: 512px;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 42px;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: 1045px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #e5006e;
		border-radius: 100vmax;
		text-decoration: none;
		@include hover {
			background-color: #f7f9e2;
			color: #e5006e;
		}
		@include media {
			width: vw(512);
			height: vw(110);
			top: vw(776);
			font-size: vw(42);
		}
	}
}

.wrap {
	width: 100%;
	position: relative;
	&:before {
		content: "";
		background-image: url("./images/bg-repeat.png");
		background-position: center 0;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		@include media {
			background-image: url("./images/bg-repeat-m.png");
			background-size: cover;
		}
	}
	.content {
		width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		@include media {
			width: 100%;
		}
	}
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
