.menu-toggle {
	display: none;
	@include media {
		position: fixed;
		top: vw(30);
		left: vw(30);
		z-index: 9;
		display: flex;
		flex-direction: column;
		width: vw(66);
		height: vw(55);
		span {
			width: 100%;
			height: vw(8);
			background-color: #63190e;
			&:nth-child(2) {
				margin: auto 0;
			}
		}
	}
}
.menu {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 9;
	&:before {
		content: "";
		width: 43px;
		height: 32px;
		position: absolute;
		top: -28px;
		left: 50%;
		transform: translateX(-50%);
		background-image: url("./images/menu-dot.png");
		@include media {
			content: none;
		}
	}
	@include media {
		top: 0;
		transform: translateY(0);
		display: none;
		&.open {
			display: block;
		}
	}
	&-box {
		background-image: url("./images/menu-bg.jpg"), url("./images/menu-bg.jpg");
		background-position: center 0, center bottom;
		background-repeat: no-repeat;
		background-color: #f7f9e2;
		position: relative;
		width: 220px;
		padding-top: 34px;
		padding-bottom: 34px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 15px rgba(#000, 0.6), inset 4px 0 0 #560700, inset -4px 0 0 #560700;
		@include media {
			background-image: url("./images/menu-bg-m.jpg"), url("./images/menu-bg-m.jpg");
			background-size: vw(259) vw(34), vw(259) vw(34);
			width: vw(259);
			padding-top: vw(34);
			padding-bottom: vw(34);
			box-shadow: 0 0 vw(15) rgba(#000, 0.6), inset vw(4) 0 0 #560700, inset vw(-4) 0 0 #560700;
		}
	}
	&-close {
		display: none;
		@include media {
			display: block;
			position: absolute;
			top: 0;
			right: vw(-46);
			width: vw(50);
			height: vw(50);
			border: vw(6) solid #63190e;
			background-color: #f7f9e2;
			&:before,
			&:after {
				content: "";
				width: vw(4);
				height: vw(40);
				position: absolute;
				top: 50%;
				left: 50%;
				background-color: #63190e;
			}
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(135deg);
		}
	}
	&-logo {
		&-box {
			width: 128px;
			height: 149px;
			padding: 6px 0 11px;
			position: relative;
			box-sizing: content-box;
			@include media {
				width: vw(128);
				height: vw(149);
				padding: vw(6) 0 vw(11);
			}
			&:before {
				content: "";
				width: 182px;
				height: 3px;
				background-color: #560700;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				@include media {
					width: vw(211);
					height: vw(3);
				}
			}
		}
		width: 100%;
		height: 100%;
		background-image: url("./images/logo.png");
		background-size: cover;
		display: block;
	}
	&-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
		&__link {
			font-size: 23px;
			font-weight: bold;
			color: #560700;
			text-decoration: none;
			padding: 8px 0;
			position: relative;
			@include media {
				font-size: vw(30);
				padding: vw(27) 0;
			}
			&:before {
				content: "";
				width: 182px;
				height: 3px;
				background-color: #560700;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				@include media {
					width: vw(211);
					height: vw(3);
				}
			}
			&:nth-child(odd) {
				&:before {
					margin-left: 10px;
					@include media {
						margin-left: vw(14);
					}
				}
			}
			@include hover {
				color: #f48120;
			}
			&.comming-soon {
				cursor: default;
				&:after {
					content: "";
					width: 141px;
					height: 57px;
					background-image: url("./images/menu-coming.png");
					background-size: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					@include media {
						width: vw(195);
						height: vw(79);
					}
				}
			}
		}
	}
	&-icon {
		&-group {
			display: flex;
			padding: 8px 0;
			position: relative;
			@include media {
				padding: vw(20) 0;
			}
			&:before {
				content: "";
				width: 182px;
				height: 3px;
				background-color: #560700;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				@include media {
					width: vw(211);
					height: vw(3);
				}
			}
		}
		&__f {
			width: 41px;
			height: 41px;
			background-size: 200%;
			background-image: url("./images/icon-f.png");
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(50);
				height: vw(50);
			}
		}
		&__h {
			width: 41px;
			height: 42px;
			background-size: 200%;
			background-image: url("./images/icon-h.png");
			margin-right: 30px;
			@include hover {
				background-position-x: 100%;
			}
			@include media {
				width: vw(51);
				height: vw(52);
				margin-right: vw(42);
			}
		}
	}
	&-status {
		width: 100%;
		min-height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include media {
			min-height: vw(164);
		}
		&__btn {
			&-login {
				width: 116px;
				height: 26px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 20px;
				font-weight: bold;
				color: #fff;
				background-color: #e5006e;
				border-radius: 100vmax;
				text-decoration: none;
				margin: 0 auto;
				@include media {
					width: vw(182);
					height: vw(42);
					font-size: vw(30);
				}
				@include hover {
					background-color: #f48120;
					color: #fff;
				}
			}
		}
		&__nickname {
			width: 140px;
			font-size: 20px;
			font-weight: bold;
			color: #63190e;
			text-align: center;
			margin-bottom: 10px;
			word-break: break-all;
			@include media {
				width: vw(200);
				font-size: vw(30);
				margin-bottom: vw(24);
			}
		}
	}
}
.top {
	font-size: 30px;
	font-weight: bold;
	color: #63190e;
	background-color: #f7f9e2;
	width: 80px;
	height: 80px;
	border: 4px solid #63190e;
	border-radius: 100vmax;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
	@include hover {
		color: #f48120;
		border-color: #f48120;
	}
	&--pc {
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 18px;
		@include media {
			display: none;
		}
	}
	&--mb {
		display: none;
		@include media {
			display: flex;
			position: fixed;
		}
	}
	@include media {
		font-size: vw(30);
		width: vw(80);
		height: vw(80);
		border: vw(4) solid #63190e;
		right: vw(30);
		bottom: 0;
	}
}
