.page2 {
	background-color: #46b8e0;
	background-image: url("./images/page2-content-left.png"), url("./images/page2-content-right.png");
	background-size: 450px 502px, 548px 569px;
	background-repeat: no-repeat;
	background-position: 0 0, right bottom;
	padding-top: 46px;
	padding-bottom: 60px;
	@include media {
		background-image: url("./images/page2-content-left-m.png"), url("./images/page2-content-right-m.png");
		background-size: vw(411) vw(476), vw(271) vw(330);
		padding-top: vw(60);
		padding-bottom: vw(60);
	}
	&-content {
		&-title {
			width: 286px;
			height: 71px;
			background-size: cover;
			background-image: url("./images/page2-content-title.png");
			margin-bottom: 35px;
			@include media {
				width: vw(286);
				height: vw(71);
				margin-bottom: vw(38);
			}
		}
		&-list {
			font-size: 28px;
			font-weight: bold;
			color: #63190e;
			line-height: 1.5;
			padding-left: 112px;
			padding-right: 50px;
			list-style: none;
			counter-reset: list-counter;
			margin-bottom: 32px;
			@include media {
				padding-left: vw(84);
				padding-right: vw(30);
				font-size: vw(30);
				margin-bottom: vw(60);
			}
			&__li {
				margin-bottom: 24px;
				position: relative;
				counter-increment: list-counter;
				@include media {
					margin-bottom: vw(24);
				}
				&::before {
					content: counter(list-counter);
					position: absolute;
					left: -54px;
					top: 6px;
					font-size: 24px;
					font-weight: bold;
					color: #fff;
					background-color: #63190e;
					width: 35px;
					height: 35px;
					display: flex;
					justify-content: center;
					align-items: center;
					@include media {
						width: vw(35);
						height: vw(35);
						font-size: vw(30);
						left: vw(-54);
						top: vw(6);
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-dot {
			list-style-type: none;
			// padding-left: 28px;
			&__item {
				padding-left: 28px;
				position: relative;
				@include media {
					padding-left: vw(28);
				}
				&:before {
					content: "";
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: #63190e;
					position: absolute;
					top: 18px;
					left: 0;
					@include media {
						width: vw(12);
						height: vw(12);
						top: vw(18);
					}
				}
				&.example {
					padding: 16px 26px;
					border: 3px solid #63190e;
					margin-top: 14px;
					@include media {
						margin-top: vw(24);
						padding: vw(12) vw(26);
						border-width: vw(3);
					}
					&:before {
						content: none;
					}
				}
			}
		}
		&-dot2 {
			list-style-type: disc;
			padding-left: 36px;
			@include media {
				padding-left: vw(36);
			}
		}
		&-img {
			width: 1083px;
			height: 567px;
			background-image: url("./images/page2-content-img.jpg");
			background-size: cover;
			margin-bottom: 32px;
			@include media {
				width: vw(708);
				height: vw(371);
				background-image: url("./images/page2-content-img-m.jpg");
			}
		}
		&-info {
			font-size: 28px;
			font-weight: bold;
			color: #63190e;
			display: flex;
			align-items: center;
			column-gap: 185px;
			@include media {
				font-size: vw(30);
				column-gap: 0;
				row-gap: vw(25);
				flex-direction: column;
			}
		}
		&-btn {
			width: 512px;
			height: 110px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 42px;
			font-weight: bold;
			color: #fff;
			background-color: #e5006e;
			border-radius: 100vmax;
			text-decoration: none;
			margin-top: 57px;
			@include hover {
				background-color: #f7f9e2;
				color: #e5006e;
			}
			@include media {
				font-size: vw(42);
				width: vw(314);
				height: vw(110);
			}
			&--lottery {
				@include media {
					width: vw(512);
					height: vw(110);
					font-size: vw(42);
				}
			}
			&-group {
				display: flex;
				justify-content: space-between;
				column-gap: 78px;
				@include media {
					column-gap: vw(80);
				}
			}
		}
	}
}
.page2-notice {
	background-image: url("./images/page1-bg.jpg");
	padding-top: 32px;
	padding-bottom: 45px;
	@include media {
		padding-top: vw(60);
		padding-bottom: vw(38);
	}
	&-title {
		width: 289px;
		height: 71px;
		background-size: cover;
		background-image: url("./images/page2-notice-title.png");
		margin-bottom: 28px;
		@include media {
			width: vw(289);
			height: vw(71);
			margin-bottom: vw(39);
		}
	}
	&-list {
		font-size: 28px;
		font-weight: bold;
		color: #63190e;
		line-height: 1.5;
		padding-left: 112px;
		padding-right: 50px;
		list-style: none;
		counter-reset: list-counter;
		@include media {
			font-size: vw(30);
			padding-left: vw(84);
			padding-right: vw(30);
		}
		&__li {
			margin-bottom: 24px;
			position: relative;
			counter-increment: list-counter;
			@include media {
				margin-bottom: vw(28);
			}
			&::before {
				content: counter(list-counter);
				position: absolute;
				left: -54px;
				top: 6px;
				font-size: 24px;
				font-weight: bold;
				color: #fff;
				background-color: #63190e;
				width: 35px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				@include media {
					width: vw(35);
					height: vw(35);
					font-size: vw(30);
					top: vw(6);
					left: vw(-54);
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
