.nav {
	position: fixed;
	top: 50%;
	left: vw2(40);
	transform: translateY(-50%);
	z-index: 2;
	@include media2 {
		left: vh(40);
	}
	@include media {
		top: 0;
		left: 0;
		transform: translateY(0);
		z-index: 100;
	}
	&.on {
		@include media {
			width: vw(428);
			display: flex;
			background-color: rgba(#000, 0.9);
			min-height: 100dvh;
			flex-direction: column;
			overflow-y: auto;
			.nav-open {
				display: none;
			}
			.nav-logo {
				display: block;
			}
			.nav-close {
				display: block;
			}
			.nav-header-list {
				display: flex;
			}
			.nav-list {
				display: block;
			}
			.btn-share {
				display: flex;
			}
		}
	}
	&-logo {
		display: none;
		@include media {
			position: absolute;
		}
	}
	&-open {
		display: none;
		@include media {
			display: block;
			width: vw(117);
			height: vw(100);
			background-color: rgba(#000, 0.6);
			position: relative;
			span {
				width: vw(49);
				height: vw(2);
				background-color: rgba(#fff, 0.7);
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				&:nth-child(1) {
					top: vw(28);
				}
				&:nth-child(2) {
					top: vw(50);
				}
				&:nth-child(3) {
					top: vw(71);
				}
			}
		}
	}
	&-close {
		display: none;
		@include media {
			display: block;
			display: none;
			position: relative;
			width: vw(117);
			height: vw(100);
			span {
				width: vw(54);
				height: vw(2);
				background-color: rgba(#fff, 0.7);
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:nth-child(1) {
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:nth-child(2) {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
	&-header {
		&-list {
			display: none;
			@include media {
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: vw(18);
				display: none;
				margin-top: vw(56);
				margin-bottom: vw(56);
			}
		}
		&__item {
			@include media {
				width: vw(184);
				height: vw(50);
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: vw(30);
				font-family: "Noto Serif TC", serif;
				font-optical-sizing: auto;
				font-style: normal;
				font-weight: bold;
				text-decoration: none;
				box-shadow: inset 0 0 vw(1) vw(1) #8e8e8e;
				color: #8e8e8e;
			}
		}
	}
	&-list {
		list-style: none;
		position: relative;
		&:before {
			content: "";
			width: vw2(1);
			height: 110%;
			position: absolute;
			top: 50%;
			left: vw2(-20);
			transform: translateY(-50%);
			background-image: linear-gradient(to bottom, rgba(#886e55, 0) 0%, rgba(#886e55, 1) 14%, rgba(#886e55, 1) 85%, rgba(#886e55, 0) 100%);
			@include media2 {
				width: vh(1);
				left: vh(-20);
			}
			@include media {
				width: vw(1);
				left: vw(34);
				height: 110%;
			}
		}

		@include media {
			padding-left: vw(54);
			display: none;
			margin-bottom: vw(60);
			&:after {
				content: "";
				width: vw(354);
				height: vw(1);
				background-color: #fff;
				position: absolute;
				bottom: vw(-60);
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&-item {
		font-size: vw2(18);
		margin-bottom: vw2(16);
		position: relative;
		cursor: pointer;
		@include media2 {
			font-size: vh(18);
			margin-bottom: vh(16);
		}
		@include media {
			font-size: vw(35);
			margin-bottom: vw(24);
		}
		&:before {
			content: "";
			width: vw2(48);
			height: vw2(48);
			position: absolute;
			top: 50%;
			left: vw2(-44);
			transform: translateY(-50%);
			background-size: 200%;
			background-image: url("./images/menu-light.png");
			@include media2 {
				width: vh(48);
				height: vh(48);
				left: vh(-44);
			}
			@include media {
				width: vw(48);
				height: vw(48);
				left: vw(-44);
			}
		}
		&:last-child {
			margin-bottom: 0;
		}

		&.active,
		&.on {
			background-image: linear-gradient(to right, #fbbb6d, #f9e1b3);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			&:before {
				background-position-x: 100%;
			}
		}
		a {
			color: #665548;
			text-decoration: none;
			@extend %ff;
			font-weight: 900;
		}
		&--sub {
			font-size: vw2(16);
			margin-left: vw2(4);
			@include media2 {
				font-size: vh(16);
				margin-left: vh(4);
			}
			@include media {
				font-size: vw(30);
				margin-left: vw(10);
			}
			&:before {
				content: none;
			}
			&-end {
				margin-bottom: vw2(32);
				@include media {
					margin-bottom: vw(60);
				}
			}
			a {
				font-weight: normal;
			}
		}
	}
}
.btn {
	&-share {
		width: vw2(67);
		height: vw2(24);
		background-image: url("./images/btn-share.png");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: vw2(60);
		cursor: pointer;
		position: relative;
		&.on {
			.btn-share-list {
				display: flex;
			}
		}
		@include media2 {
			width: vh(67);
			height: vh(24);
			margin-top: vh(60);
		}
		@include media {
			display: none;
			width: vw(107);
			height: vw(38);
			margin-top: vw(20);
			margin-left: vw(40);
		}
		&-list {
			display: none;
			width: vw2(280);
			height: vw2(60);
			background-color: #282828;
			column-gap: vw2(30);
			justify-content: center;
			align-items: center;
			border-radius: vw2(4);
			position: absolute;
			top: vw2(40);
			@include media2 {
				width: vh(280);
				height: vh(60);
				column-gap: vh(30);
				border-radius: vh(4);
				top: vh(40);
			}
			@include media {
				width: vw(343);
				height: vw(72);
				column-gap: vw(36);
				border-radius: vw(4);
				top: vw(54);
			}
			&:before {
				content: "";
				// 三角形
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 vw2(8) vw2(10) vw2(8);
				border-color: transparent transparent #282828 transparent;
				position: absolute;
				top: vw2(-8);
				left: 0;
				margin-left: vw2(14);
				@include media2 {
					border-width: 0 vh(8) vh(10) vh(8);
					top: vh(-8);
					margin-left: vh(14);
				}
				@include media {
					border-width: 0 vw(8) vw(10) vw(8);
					top: vw(-5);
					margin-left: vw(14);
				}
			}
		}
		&__item {
			width: vw2(40);
			height: vw2(40);
			background-size: 100%;
			@include media2 {
				width: vh(40);
				height: vh(40);
			}
			@include media {
				width: vw(50);
				height: vw(50);
			}
			&[data-share="f"] {
				background-image: url("./images/btn-share-f.png");
			}
			&[data-share="x"] {
				background-image: url("./images/btn-share-x.png");
			}
			&[data-share="l"] {
				background-image: url("./images/btn-share-l.png");
			}
			&[data-share="link"] {
				background-image: url("./images/btn-share-link.png");
			}
		}
	}
}
.nav-item[data-sec="sec1"] {
	& + .nav-item--sub {
		display: none;
	}
	& + .nav-item--sub + .nav-item--sub {
		display: none;
	}
	& + .nav-item--sub + .nav-item--sub + .nav-item--sub {
		display: none;
	}
	& + .nav-item--sub + .nav-item--sub + .nav-item--sub + .nav-item--sub {
		display: none;
	}
	&.on,
	&.active {
		& + .nav-item--sub {
			display: block;
		}
		& + .nav-item--sub + .nav-item--sub {
			display: block;
		}
		& + .nav-item--sub + .nav-item--sub + .nav-item--sub {
			display: block;
		}
		& + .nav-item--sub + .nav-item--sub + .nav-item--sub + .nav-item--sub {
			display: block;
		}
	}
}
