.sec1 {
	background-image: url("./images/sec1/sec1-bg.jpg");
	@include media {
		background-image: url("./images/sec1/sec1-bg-m.jpg");
	}
	&-title {
		width: vw2(571);
		height: vw2(220);
		background-image: url("./images/sec1/sec1-slogan.png");
		position: absolute;
		top: vw2(709);
		left: 50%;
		margin-left: vw2(-285);
		background-size: 100%;
		@include media2 {
			width: vh(571);
			height: vh(220);
			top: vh(709);
			margin-left: vh(-285);
		}
		@include media {
			width: vw(547);
			height: vw(340);
			background-image: url("./images/sec1/sec1-slogan-m.png");
			top: vw(797);
			margin-left: 0;
			transform: translateX(-50%);
		}
	}
}
