.sec5 {
	&.active {
		&:before {
			opacity: 1;
			transform: translateX(0%);
		}
	}
	&:before {
		content: "";
		width: vw2(911);
		height: vw2(871);
		background-image: url("./images/sec5/sec5-bg.png");
		background-size: 100%;
		position: absolute;
		top: vw2(202px);
		right: 50%;
		margin-right: vw2(-1060px);
		pointer-events: none;
		transition: all 2.4s cubic-bezier(0.19, 1, 0.22, 1);
		opacity: 0;
		transform: translateX(100%);
		@include media2 {
			width: vh(911);
			height: vh(871);
			top: vh(202px);
			margin-right: vh(-1060);
		}
		@include media {
			width: vw(768);
			height: vw(1334);
			background-image: url("./images/sec5/sec5-bg-m.png");
			top: 0;
			margin-right: 0;
			transform: translateX(50%);
			opacity: 1;
		}
	}
	&-title1 {
		width: vw2(472px);
		height: vw2(84px);
		background-image: url("./images/sec5/sec5-title1.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(6) vw2(12) rgba(0, 0, 0, 0.73));
		position: absolute;
		top: vw2(180);
		left: 50%;
		margin-left: vw2(-236px);
		@include media2 {
			width: vh(472);
			height: vh(84);
			top: vh(180);
			margin-left: vh(-236);
			filter: drop-shadow(0 vh(6) vh(12) rgba(0, 0, 0, 0.73));
		}
		@include media {
			filter: none;
			width: vw(486);
			height: vw(142);
			background-image: url("./images/sec5/sec5-title-m.png");
			margin-left: 0;
			top: vw(203);
			transform: translateX(-50%);
		}
	}
	&-title2 {
		width: vw2(386);
		height: vw2(25px);
		background-image: url("./images/sec5/sec5-title2.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(5) vw2(6) rgba(0, 0, 0, 0.84));
		position: absolute;
		top: vw2(282);
		left: 50%;
		margin-left: vw2(-193px);
		@include media2 {
			width: vh(386);
			height: vh(25);
			top: vh(282);
			margin-left: vh(-193);
			filter: drop-shadow(0 vh(5) vh(6) rgba(0, 0, 0, 0.84));
		}
		@include media {
			display: none;
		}
	}
	&-content {
		width: vw2(1200px);
		position: absolute;
		top: vw2(334px);
		left: 50%;
		margin-left: vw2(-600px);
		@include media2 {
			width: vh(1200);
			top: vh(334);
			margin-left: vh(-600);
		}
		@include media {
			width: 100%;
			position: relative;
			top: vw(381);
			left: 0;
			margin-left: 0;
		}
	}
	&-tab {
		display: flex;
		margin-bottom: vw2(25px);
		@include media2 {
			margin-bottom: vh(25);
		}
		@include media {
			margin-bottom: vw(256);
		}
		&__item {
			width: vw2(240px);
			height: vw2(50px);
			background-size: 200%;
			font-size: 0;
			&[data-tab="1"] {
				background-image: url("./images/sec5/sec5-tab-item1.png");
				@include media {
					background-image: url("./images/sec5/sec5-tab-item1-m.png");
				}
			}
			&[data-tab="2"] {
				background-image: url("./images/sec5/sec5-tab-item2.png");
				@include media {
					background-image: url("./images/sec5/sec5-tab-item2-m.png");
				}
			}
			&[data-tab="3"] {
				background-image: url("./images/sec5/sec5-tab-item3.png");
				@include media {
					background-image: url("./images/sec5/sec5-tab-item3-m.png");
				}
			}
			@include hover {
				background-position-x: 100%;
			}
			@include media2 {
				width: vh(240);
				height: vh(50);
			}
			@include media {
				width: vw(240);
				height: vw(50);
				background-size: 100%;
			}
		}
	}
	&-video {
		width: vw2(737px);
		height: vw2(421px);
		background-size: 100%;
		background-image: url("./images/sec5/sec5-video.png");
		@include media2 {
			width: vh(737);
			height: vh(421);
		}
		@include media {
			width: vw(530);
			height: vw(303);
		}
	}
}
