.sec8 {
	&.active {
		&:before {
			opacity: 1;
			transform: translateX(0%);
		}
	}
	&:before {
		content: "";
		width: vw2(505);
		height: vw2(845);
		background-size: 100%;
		background-image: url("./images/sec8/sec8-bg.png");
		position: absolute;
		top: vw2(224);
		right: 50%;
		margin-right: vw2(-796);
		pointer-events: none;
		transition: all 2.4s cubic-bezier(0.19, 1, 0.22, 1);
		opacity: 0;
		transform: translateX(100%);
		@include media2 {
			width: vh(505);
			height: vh(845);
			top: vh(224);
			margin-right: vh(-796);
		}
		@include media {
			width: vw(768);
			height: vw(1334);
			background-image: url("./images/sec8/sec8-bg-m.png");
			top: 0;
			margin-right: 0;
			transform: translateX(50%);
			opacity: 1;
		}
	}
	&-title1 {
		width: vw2(562);
		height: vw2(84);
		background-image: url("./images/sec8/sec8-title1.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(6) vw2(12) rgba(0, 0, 0, 0.73));
		position: absolute;
		top: vw2(180);
		left: 50%;
		margin-left: vw2(-281);
		@include media2 {
			width: vh(562);
			height: vh(84);
			top: vh(180);
			margin-left: vh(-281);
			filter: drop-shadow(0 vh(6) vh(12) rgba(0, 0, 0, 0.73));
		}
		@include media {
			width: vw(576);
			height: vw(142);
			background-image: url("./images/sec8/sec8-title-m.png");
			margin-left: 0;
			transform: translateX(-50%);
			top: vw(134);
			filter: none;
		}
	}
	&-title2 {
		width: vw2(238);
		height: vw2(25);
		background-image: url("./images/sec8/sec8-title2.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(5) vw2(6) rgba(0, 0, 0, 0.84));
		position: absolute;
		top: vw2(282);
		left: 50%;
		margin-left: vw2(-119);
		@include media2 {
			width: vh(238);
			height: vh(25);
			top: vh(282);
			margin-left: vh(-119);
			filter: drop-shadow(0 vh(5) vh(6) rgba(0, 0, 0, 0.84));
		}
		@include media {
			display: none;
		}
	}
	&-content {
		width: vw2(1200);
		position: absolute;
		top: vw2(322);
		left: 50%;
		margin-left: vw2(-600);
		@include media2 {
			width: vh(1200);
			top: vh(322);
			margin-left: vh(-600);
		}
		@include media {
			width: 100%;
			position: relative;
			top: vw(514);
			left: 0;
			margin-left: 0;
		}
		.swiper-button-prev {
			top: vw2(220);
			left: vw2(40);
			@include media2 {
				top: vh(220);
				left: vh(40);
			}
			@include media {
				top: vw(692);
				left: vw(40);
			}
		}
		.swiper-button-next {
			top: vw2(220);
			right: vw2(40);
			@include media2 {
				top: vh(220);
				right: vh(40);
			}
			@include media {
				top: vw(692);
				right: vw(40);
			}
		}
		.swiper-pagination {
			bottom: vw2(76) !important;
			@include media2 {
				bottom: vh(76) !important;
			}
			@include media {
				bottom: vw(76) !important;
			}
		}
	}
	&-btn {
		width: vw2(240);
		height: vw2(50);
		background-size: 200%;
		background-image: url("./images/sec8/sec8-btn.png");
		font-size: 0;
		margin-top: vw2(32);
		filter: drop-shadow(0 vw2(5) vw2(6) rgba(0, 0, 0, 0.84));
		@include hover {
			background-position-x: 100%;
		}
		@include media2 {
			width: vh(240);
			height: vh(50);
			margin-top: vh(32);
			filter: drop-shadow(0 vh(5) vh(6) rgba(0, 0, 0, 0.84));
		}
		@include media {
			width: vw(240);
			height: vw(50);
		}
	}
	&-swiper {
		width: vw2(941);
		@include media2 {
			width: vh(941);
		}
		@include media {
			width: vw(768);
		}
		.swiper-slide {
			display: flex;
			justify-content: center;
			opacity: 0 !important;
			&.swiper-slide-active {
				opacity: 1 !important;
			}
		}
	}
	&-slide {
		&__img {
			position: relative;
			width: vw2(921);
			padding-bottom: vw2(12);
			@include media2 {
				width: vh(921);
				padding-bottom: vh(12);
			}
			@include media {
				width: vw(768);
				padding-bottom: vw(12);
			}
			&:before,
			&:after {
				content: "";
				width: vw2(55);
				height: vw2(55);
				background-size: 100%;
				background-image: url("./images/box-light.png");
				position: absolute;
				pointer-events: none;
				@include media2 {
					width: vh(55);
					height: vh(55);
				}
				@include media {
					content: none;
				}
			}
			&:before {
				top: vw2(24);
				left: vw2(-24);
				@include media2 {
					top: vh(24);
					left: vh(-24);
				}
			}
			&:after {
				bottom: vw2(-7);
				right: vw2(-20);
				@include media2 {
					bottom: vh(-7);
					right: vh(-20);
				}
			}
			img {
				width: 100%;
				display: block;
			}
		}
	}
}
