.sec4 {
	&-title1 {
		width: vw2(902);
		height: vw2(84);
		background-image: url("./images/sec4/sec4-title1.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(6) vw2(12) rgba(0, 0, 0, 0.73));
		position: absolute;
		top: vw2(180);
		left: 50%;
		margin-left: vw2(-451);
		@include media2 {
			width: vh(902);
			height: vh(84);
			top: vh(180);
			margin-left: vh(-451);
			filter: drop-shadow(0 vh(6) vh(12) rgba(0, 0, 0, 0.73));
		}
		@include media {
			width: vw(595);
			height: vw(223);
			background-image: url("./images/sec4/sec4-title-m.png");
			margin-left: 0;
			transform: translateX(-50%);
			top: vw(205);
			filter: none;
		}
	}
	&-title2 {
		width: vw2(365);
		height: vw2(25);
		background-image: url("./images/sec4/sec4-title2.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(5) vw2(6) rgba(0, 0, 0, 0.84));
		position: absolute;
		top: vw2(282);
		left: 50%;
		margin-left: vw2(-182.5px);
		@include media2 {
			width: vh(365);
			height: vh(25);
			top: vh(282);
			margin-left: vh(-182.5px);
			filter: drop-shadow(0 vh(5) vh(6) rgba(0, 0, 0, 0.84));
		}
		@include media {
			display: none;
		}
	}
	&-content {
		width: vw2(1430px);
		position: absolute;
		top: vw2(338px);
		left: 50%;
		margin-left: vw2(-715px);
		@include media2 {
			width: vh(1430);
			top: vh(338);
			margin-left: vh(-715);
		}
		@include media {
			width: 100%;
			top: vw(607);
			margin-left: 0;
			transform: translateX(-50%);
		}
		.swiper {
			width: 100%;
			padding-top: vw2(50);
			padding-bottom: vw2(50);
			@include media2 {
				padding-top: vh(50);
				padding-bottom: vh(50);
			}
			@include media {
				padding-top: vw(50);
				padding-bottom: vw(60);
			}
		}
		.swiper-slide {
			width: vw2(728);
			height: vw2(409);
			position: relative;
			@include media2 {
				width: vh(728);
				height: vh(409);
			}
			@include media {
				width: vw(581);
				height: vw(326);
			}
			filter: brightness(0.35);
			&.swiper-slide-active {
				filter: drop-shadow(0 0 vw2(12) rgba(#ffce79, 0.55));
				@include media2 {
					filter: drop-shadow(0 0 vh(12) rgba(#ffce79, 0.55));
				}
				@include media {
					filter: drop-shadow(0 0 vw(12) rgba(#ffce79, 0.55));
				}
			}
			img {
				width: 100%;
				display: block;
			}
		}
		.swiper-pagination {
			bottom: 0 !important;
		}
		.swiper-button-prev {
			left: vw2(246);
			@include media2 {
				left: vh(246);
			}
			@include media {
				left: vw(16);
				margin-top: vw(-45);
			}
		}
		.swiper-button-next {
			right: vw2(246);
			@include media2 {
				right: vh(246);
			}
			@include media {
				right: vw(16);
				margin-top: vw(-45);
			}
		}
	}
}
