.sec3 {
	&-title1 {
		width: vw2(484);
		height: vw2(85);
		background-image: url("./images/sec3/sec3-title1.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(6) vw2(12) rgba(0, 0, 0, 0.73));
		position: absolute;
		top: vw2(180);
		left: 50%;
		margin-left: vw2(-242);
		@include media2 {
			width: vh(484);
			height: vh(85);
			top: vh(180);
			margin-left: vh(-242);
			filter: drop-shadow(0 vh(6) vh(12) rgba(0, 0, 0, 0.73));
		}
		@include media {
			width: vw(497);
			height: vw(140);
			background-image: url("./images/sec3/sec3-title-m.png");
			margin-left: 0;
			transform: translateX(-50%);
			top: vw(205);
			filter: none;
		}
	}
	&-title2 {
		width: vw2(411);
		height: vw2(26);
		background-image: url("./images/sec3/sec3-title2.png");
		background-size: 100%;
		filter: drop-shadow(0 vw2(5) vw2(6) rgba(0, 0, 0, 0.84));
		position: absolute;
		top: vw2(282);
		left: 50%;
		margin-left: vw2(-205.5);
		@include media2 {
			width: vh(411);
			height: vh(26);
			top: vh(282);
			margin-left: vh(-205.5);
			filter: drop-shadow(0 vh(5) vh(6) rgba(0, 0, 0, 0.84));
		}
		@include media {
			display: none;
		}
	}
	&-content {
		width: vw2(1200);
		position: absolute;
		top: vw2(377);
		left: 50%;
		margin-left: vw2(-600);
		img {
			width: 100%;
			display: block;
		}
		@include media2 {
			width: vh(1200);
			top: vh(377);
			margin-left: vh(-600);
		}
		@include media {
			width: 100%;
			position: relative;
			top: vw(490);
			left: 0;
			margin-left: 0;
			width: vw(768);
			height: vw(630);
			background-size: 100%;
			background-image: url("./images/sec3/sec3-content-m.png");
			& > * {
				display: none;
			}
		}
		.image {
			position: absolute;
			top: 0;
			left: 50%;
		}
		.image_01 {
			width: vw2(625);
			height: vw2(430);
			background-size: 100%;
			background-image: url("./images/sec3/img_L.png");
			background-repeat: no-repeat;
			margin-left: vw2(-620);
			@include media2 {
				width: vh(625);
				height: vh(430);
				margin-left: vh(-620);
			}
		}
		.image_02 {
			width: vw2(726);
			height: vw2(438);
			background-size: 100%;
			background-image: url("./images/sec3/img_R.png");
			background-repeat: no-repeat;
			margin-left: vw2(-14);
			@include media2 {
				width: vh(726);
				height: vh(438);
				margin-left: vh(-14);
			}
		}
		.image_03 {
			width: vw2(762);
			height: vw2(442);
			background-size: 100%;
			background-image: url("./images/sec3/sec3-c.png");
			background-repeat: no-repeat;
			top: vw2(50);
			left: 50%;
			margin-left: vw2(-381);
			@include media2 {
				width: vh(762);
				height: vh(442);
				top: vh(50);
				margin-left: vh(-381);
			}
			.light {
				width: vw2(1155);
				height: vw2(271);
				background-size: 100%;
				background-image: url("./images/sec3/bg_light.png");
				background-repeat: no-repeat;
				position: absolute;
				left: 50%;
				bottom: vw2(-134);
				margin-left: vw2(-550);
				z-index: -1;
				@include media2 {
					width: vh(1155);
					height: vh(271);
					bottom: vh(-134);
					margin-left: vh(-550);
				}
			}
			.cover {
				position: absolute;
				width: vw2(762);
				height: vw2(442);
				top: 0;
				left: 50%;
				margin-left: vw2(-381);
				@include media2 {
					width: vh(762);
					height: vh(442);
					top: 0;
					margin-left: vh(-381);
				}
				.arrow_center {
					width: vw2(750);
					height: vw2(64);
					background-size: 100%;
					background-image: url("./images/sec3/arrow_center.png");
					background-repeat: no-repeat;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 0px;
					@include media2 {
						width: vh(750);
						height: vh(64);
					}
				}
				.arrow_bottom {
					width: vw2(477);
					height: vw2(12);
					background-size: 100%;
					background-image: url("./images/sec3/arrow_bottom.png");
					background-repeat: no-repeat;
					position: absolute;
					bottom: vw2(-22);
					left: 50%;
					transform: translateX(-50%);
					width: 0px;
					@include media2 {
						width: vh(477);
						height: vh(12);
						bottom: vh(-22);
					}
				}
				.spot_line {
					width: vw2(2);
					height: vw2(553);
					background-size: 100%;
					background-image: url("./images/sec3/dot_line.png");
					background-repeat: no-repeat;
					position: absolute;
					top: vw2(-78);
					left: 50%;
					@include media2 {
						width: vh(2);
						height: vh(553);
						top: vh(-78);
					}
				}
				.spot_line_L {
					margin-left: vw2(-242);
					@include media2 {
						margin-left: vh(-242);
					}
				}
				.spot_line_R {
					margin-left: vw2(242);
					@include media2 {
						margin-left: vh(242);
					}
				}
			}
		}
	}
}
