%default {
	.gbox-wrap {
		width: 100%;
		max-width: vw2(804px);
		min-height: vw2(703px);
		padding: 0px;
		margin-top: vw2(80px);
		margin-bottom: vw2(80px);
		background-color: transparent;
		background-image: url("./images/lb-bg.png");
		color: #fff;
		background-size: cover;
		padding-bottom: vw2(48px);
		@include media2 {
			max-width: vh(804px);
			min-height: vh(703px);
			margin-top: vh(80px);
			margin-bottom: vh(80px);
			padding-bottom: vh(48px);
		}
		@include media {
			margin-top: vw(80);
			margin-bottom: vw(80);
			background-image: url("./images/lb-bg-m.png");
			max-width: vw(707);
			min-height: vw(749);
		}
	}
	.gbox-content {
		position: relative;
		padding: 0px;
		width: 100%;
	}
}
%close {
	.gbox-close {
		width: vw2(60px);
		height: vw2(60px);
		font-size: 0;
		top: 0;
		right: vw2(-60px);
		background-size: cover;
		@include media2 {
			width: vh(60px);
			height: vh(60px);
			right: vh(-60px);
		}
		&:before {
			content: "";
			width: vw2(4px);
			height: 100%;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			@include media2 {
				width: vh(4px);
			}
			@include media {
				width: vw(4);
			}
		}
		&:after {
			content: "";
			width: vw2(4px);
			height: 100%;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
			@include media2 {
				width: vh(4px);
			}
			@include media {
				width: vw(4);
			}
		}
		@include media {
			width: vw(60);
			height: vw(60);
			right: 0;
			top: vw(-60);
		}
	}
}
.default {
	@extend %default;
	@extend %close;
}
.lb-slide {
	width: vw2(582px);
	height: vw2(334px);
	position: absolute;
	top: vw2(168px);
	left: 50%;
	margin-left: vw2(-2px);
	transform: translateX(-50%);
	@include media2 {
		width: vh(582px);
		height: vh(334px);
		top: vh(168px);
		margin-left: vh(-2px);
	}
	@include media {
		width: vw(512);
		height: vw(294);
		top: vw(172);
		margin-left: vw(-5);
	}
	&__item {
		width: vw2(582px);
		height: vw2(334px);
		background-size: cover;
		@include media2 {
			width: vh(582px);
			height: vh(334px);
		}
		@include media {
			width: vw(514);
			height: vw(296);
		}
	}
	&__prev {
		width: vw2(46px);
		height: vw2(79px);
		background-size: cover;
		background-image: url("./images/lb-pop-prev.png");
		position: absolute;
		top: 50%;
		left: vw2(-12px);
		transform: translate(-100%, -50%);
		cursor: pointer;
		z-index: 9;
		@include media2 {
			width: vh(46px);
			height: vh(79px);
			left: vh(-12px);
		}
		@include media {
			width: vw(46);
			height: vw(79);
			left: vw(-12);
		}
	}
	&__next {
		width: vw2(45px);
		height: vw2(79px);
		background-size: cover;
		background-image: url("./images/lb-pop-next.png");
		position: absolute;
		top: 50%;
		right: vw2(-12px);
		transform: translate(100%, -50%);
		cursor: pointer;
		z-index: 9;
		@include media2 {
			width: vh(45px);
			height: vh(79px);
			right: vh(-12px);
		}
		@include media {
			width: vw(45);
			height: vw(79);
			right: vw(-12);
		}
	}
	&__txt {
		&-item {
			width: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -50%;
			text-align: center;
			font-size: 0;
			opacity: 0;
			&.active {
				opacity: 1;
			}
			&--1 {
				&-title {
					width: vw2(172px);
					height: vw2(30px);
					background-image: url("./images/lb-pop-1-title.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-top: vw2(106px);
					margin-left: vw2(-86px);
					@include media2 {
						width: vh(172px);
						height: vh(30px);
						margin-top: vh(106px);
						margin-left: vh(-86px);
					}
					@include media {
						width: vw(220);
						height: vw(36);
						background-image: url("./images/lb-pop-1-title-m.png");
						margin-left: vw(-110);
						margin-top: vw(115);
					}
				}
				&-txt {
					width: vw2(199px);
					height: vw2(80px);
					background-image: url("./images/lb-pop-1-txt.png");
					background-size: cover;
					position: absolute;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: vw2(-99.5px);
					margin-top: vw2(518px);
					@include media2 {
						width: vh(199px);
						height: vh(80px);
						margin-left: vh(-99.5px);
						margin-top: vh(518px);
					}
					@include media {
						width: vw(271);
						height: vw(114);
						background-image: url("./images/lb-pop-1-txt-m.png");
						margin-top: vw(490);
						margin-left: vw(-136);
					}
				}
			}
			&--2 {
				&-title {
					width: vw2(102px);
					height: vw2(30px);
					background-image: url("./images/lb-pop-2-title.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-top: vw2(106px);
					margin-left: vw2(-51px);
					@include media2 {
						width: vh(102px);
						height: vh(30px);
						margin-top: vh(106px);
						margin-left: vh(-51px);
					}
					@include media {
						width: vw(128);
						height: vw(35);
						background-image: url("./images/lb-pop-2-title-m.png");
						margin-top: vw(115);
						margin-left: vw(-64);
					}
				}
				&-txt {
					width: vw2(308px);
					height: vw2(80px);
					background-image: url("./images/lb-pop-2-txt.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: vw2(-154px);
					margin-top: vw2(518px);
					@include media2 {
						width: vh(308px);
						height: vh(80px);
						margin-left: vh(-154px);
						margin-top: vh(518px);
					}
					@include media {
						width: vw(420);
						height: vw(114);
						background-image: url("./images/lb-pop-2-txt-m.png");
						margin-top: vw(490);
						margin-left: vw(-210);
					}
				}
			}
			&--3 {
				&-title {
					width: vw2(101px);
					height: vw2(29px);
					background-image: url("./images/lb-pop-3-title.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-top: vw2(106px);
					margin-left: vw2(-50.5px);
					@include media2 {
						width: vh(101px);
						height: vh(29px);
						margin-top: vh(106px);
						margin-left: vh(-50.5px);
					}
					@include media {
						width: vw(128);
						height: vw(36);
						background-image: url("./images/lb-pop-3-title-m.png");
						margin-top: vw(115);
						margin-left: vw(-64);
					}
				}
				&-txt {
					width: vw2(314px);
					height: vw2(80px);
					background-image: url("./images/lb-pop-3-txt.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: vw2(-157px);
					margin-top: vw2(518px);
					@include media2 {
						width: vh(314px);
						height: vh(80px);
						margin-left: vh(-157px);
						margin-top: vh(518px);
					}
					@include media {
						width: vw(429);
						height: vw(109);
						background-image: url("./images/lb-pop-3-txt-m.png");
						margin-top: vw(490);
						margin-left: vw(-214);
					}
				}
			}
			&--4 {
				&-title {
					width: vw2(198px);
					height: vw2(30px);
					background-image: url("./images/lb-pop-4-title.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-top: vw2(106px);
					margin-left: vw2(-99px);
					@include media2 {
						width: vh(198px);
						height: vh(30px);
						margin-top: vh(106px);
						margin-left: vh(-99px);
					}
					@include media {
						width: vw(250);
						height: vw(36);
						background-image: url("./images/lb-pop-4-title-m.png");
						margin-top: vw(115);
						margin-left: vw(-125);
					}
				}
				&-txt {
					width: vw2(267px);
					height: vw2(80px);
					background-image: url("./images/lb-pop-4-txt.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: vw2(-133.5px);
					margin-top: vw2(518px);
					@include media2 {
						width: vh(267px);
						height: vh(80px);
						margin-left: vh(-133.5px);
						margin-top: vh(518px);
					}
					@include media {
						width: vw(363);
						height: vw(114);
						background-image: url("./images/lb-pop-4-txt-m.png");
						margin-top: vw(490);
						margin-left: vw(-181);
					}
				}
			}
			&--5 {
				&-title {
					width: vw2(126px);
					height: vw2(30px);
					background-image: url("./images/lb-pop-5-title.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-top: vw2(106px);
					margin-left: vw2(-63px);
					@include media2 {
						width: vh(126px);
						height: vh(30px);
						margin-top: vh(106px);
						margin-left: vh(-63px);
					}
					@include media {
						width: vw(158);
						height: vw(36);
						background-image: url("./images/lb-pop-5-title-m.png");
						margin-top: vw(115);
						margin-left: vw(-79);
					}
				}
				&-txt {
					width: vw2(409px);
					height: vw2(80px);
					background-image: url("./images/lb-pop-5-txt.png");
					background-size: cover;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: vw2(-204.5px);
					margin-top: vw2(518px);
					@include media2 {
						width: vh(409px);
						height: vh(80px);
						margin-left: vh(-204.5px);
						margin-top: vh(518px);
					}
					@include media {
						width: vw(558);
						height: vw(114);
						background-image: url("./images/lb-pop-5-txt-m.png");
						margin-top: vw(490);
						margin-left: vw(-279);
					}
				}
			}
		}
	}
	.swiper-pagination {
		width: vw2(804px);
		left: 50%;
		transform: translateX(-50%);
		top: unset;
		bottom: vw2(-168px);
		display: flex;
		justify-content: center;
		column-gap: vw2(3px);
		@include media2 {
			width: vh(804px);
			bottom: vh(-168px);
			column-gap: vh(3px);
		}
		@include media {
			width: vw(707);
			column-gap: vw(3);
			bottom: vw(-242);
		}
		.swiper-pagination-bullet {
			width: vw2(133px);
			height: vw2(36px);
			background-size: 200%;
			border-radius: 0;
			margin: 0;
			background-color: transparent;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				background-color: transparent;
				background-position-x: 100%;
			}
			@include media2 {
				width: vh(133px);
				height: vh(36px);
			}
			@include media {
				width: vw(116);
				height: vw(68);
			}
			&:nth-child(1) {
				background-image: url("./images/lb-pop-btn1.png");
				@include media {
					background-image: url("./images/lb-pop-btn1-m.png");
				}
			}
			&:nth-child(2) {
				background-image: url("./images/lb-pop-btn2.png");
				@include media {
					background-image: url("./images/lb-pop-btn2-m.png");
				}
			}
			&:nth-child(3) {
				background-image: url("./images/lb-pop-btn3.png");
				@include media {
					background-image: url("./images/lb-pop-btn3-m.png");
				}
			}
			&:nth-child(4) {
				background-image: url("./images/lb-pop-btn4.png");
				@include media {
					background-image: url("./images/lb-pop-btn4-m.png");
				}
			}
			&:nth-child(5) {
				background-image: url("./images/lb-pop-btn5.png");
				@include media {
					background-image: url("./images/lb-pop-btn5-m.png");
				}
			}
		}
	}
}
