.page1 {
	width: 963px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	@include media {
		width: 100%;
	}
}
.page1-mirror {
	width: 365px;
	height: 519px;
	margin-top: 88px;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-image: url("./images/mirror.png");
		background-size: 100%;
		// filter: drop-shadow(0 2px 24px #0b031b) drop-shadow(0 0px 24px rgba(255, 255, 255, 0.47)) drop-shadow(0 0px 60px rgba(255, 255, 255, 0.5));
		filter: drop-shadow(0 0px 50px rgba(255, 255, 255, 0.75));
		position: absolute;
		top: 0;
		left: 0;
		@include media {
			// filter: drop-shadow(0 vw(2px) vw(24px) #0b031b) drop-shadow(0 0 vw(24px) rgba(255, 255, 255, 0.47)) drop-shadow(0 0 vw(60px) rgba(255, 255, 255, 0.5));
			filter: drop-shadow(0 vw(-24) vw(48) rgba(255, 255, 255, 1)) drop-shadow(0 vw(36) vw(40) #000);
		}
	}
	@include media {
		width: vw(531);
		height: vw(755);
		margin-top: vw(100);
	}
	&__title {
		font-size: 0;
		background-image: url("./images/mirror-title.png");
		width: 344px;
		height: 226px;
		background-size: 100%;
		position: absolute;
		top: 42px;
		left: 50%;
		transform: translateX(-50%);
		@include media {
			width: vw(502);
			height: vw(330);
			top: vw(60);
		}
	}
	&__btn-start {
		width: 176px;
		height: 71px;
		background-image: url("./images/btn-start.png");
		background-size: 200%;
		font-size: 0;
		position: absolute;
		top: 308px;
		left: 50%;
		transform: translateX(-50%);
		@include hover {
			background-position-x: 100%;
		}
		@include media {
			width: vw(295);
			height: vw(87);
			background-image: url("./images/btn-start-m.png");
			background-size: 100%;
			top: vw(445);
			filter: drop-shadow(0 0 vw(2) rgba(#2d1b47, 0.5)) drop-shadow(0 0 vw(8) rgba(#2d1b47, 0.5));
		}
	}
	&__btn-guide {
		font-size: 16px;
		font-weight: 700;
		font-family: "Noto Serif TC", serif;
		font-optical-sizing: auto;
		color: #462968;
		position: absolute;
		top: 390px;
		left: 50%;
		transform: translateX(-50%);
		@include media {
			font-size: vw(30);
			top: vw(586);
		}
	}
}

.page1-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__title {
		font-size: 0;
		width: 438px;
		height: 195px;
		background-size: 100%;
		background-image: url("./images/page1-title.png");
		margin-bottom: 56px;
		@include media {
			width: vw(438);
			height: vw(195);
			margin-bottom: vw(66);
		}
	}
	&__list {
		position: relative;
		width: 100%;
		height: 586px;
		@include media {
			width: vw(708);
			height: vw(1600);
		}
	}
	&__item {
		background-size: 100%;
		@include hover {
			filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff);
		}
		@include media {
			background-size: contain;
		}
		&[data-game="cso"] {
			width: 136px;
			height: 137px;
			position: absolute;
			top: 374px;
			left: 569px;
			background-image: url("./images/logo-cso.png");
			@include media {
				width: vw(235);
				height: vw(238);
				top: vw(1182);
				left: vw(397);
			}
		}
		&[data-game="dn"] {
			width: 198px;
			height: 160px;
			position: absolute;
			top: 366px;
			left: 230px;
			background-image: url("./images/logo-dn.png");
			@include media {
				width: vw(341);
				height: vw(277);
				top: vw(1167);
				left: vw(22);
			}
		}
		&[data-game="els"] {
			width: 143px;
			height: 142px;
			position: absolute;
			top: 248px;
			left: 119px;
			background-image: url("./images/logo-els.png");
			@include media {
				width: vw(247);
				height: vw(244);
				top: vw(884);
				left: vw(76);
			}
		}
		&[data-game="lineage-free"] {
			width: 136px;
			height: 163px;
			position: absolute;
			top: 244px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url("./images/logo-lineage-free.png");
			@include media {
				width: vw(235);
				height: vw(283);
				top: vw(281);
				left: vw(397);
				transform: translateX(0);
			}
		}
		&[data-game="lineage-m"] {
			width: 153px;
			height: 134px;
			position: absolute;
			top: 6px;
			left: 105px;
			background-image: url("./images/logo-lineage-m.png");
			@include media {
				width: vw(267);
				height: vw(235);
				top: 0;
				left: vw(382);
			}
		}
		&[data-game="lineage-month"] {
			width: 136px;
			height: 159px;
			position: absolute;
			top: 123px;
			left: 556px;
			background-image: url("./images/logo-lineage-month.png");
			@include media {
				width: vw(235);
				height: vw(276);
				top: vw(289);
				left: vw(75);
			}
		}
		&[data-game="lineage-r"] {
			width: 136px;
			height: 155px;
			position: absolute;
			top: 126px;
			left: 261px;
			background-image: url("./images/logo-lineage-r.png");
			@include media {
				width: vw(236);
				height: vw(268);
				top: vw(584);
				left: vw(75);
			}
		}
		&[data-game="maple"] {
			width: 158px;
			height: 141px;
			position: absolute;
			top: 0;
			left: 696px;
			background-image: url("./images/logo-maple.png");
			@include media {
				width: vw(271);
				height: vw(241);
				top: vw(588);
				left: vw(380);
			}
		}
		&[data-game="mabi"] {
			width: 136px;
			height: 142px;
			position: absolute;
			top: 245px;
			left: 709px;
			background-image: url("./images/logo-mabi.png");
			@include media {
				width: vw(235);
				height: vw(247);
				top: vw(878);
				left: vw(397);
			}
		}
		&[data-game="twp"] {
			width: 196px;
			height: 146px;
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url("./images/logo-twp.png");
			@include media {
				width: vw(338);
				height: vw(253);
				top: 0;
				left: vw(24);
				transform: translateX(0);
			}
		}
	}
}
.btn-scroll-down {
	width: 59px;
	height: 49px;
	background-image: url("./images/btn-scroll-down.png");
	background-size: 100%;
	position: relative;
	margin-top: 38px;
	margin-bottom: 66px;
	animation: scroll-down 1s linear infinite alternate;
	@include media {
		width: vw(59);
		height: vw(49);
		margin-top: vw(165);
		margin-bottom: vw(113);
	}
}
@keyframes scroll-down {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(35%);
		filter: drop-shadow(0px 0px 3px #f6b05e) drop-shadow(0px 0px 6px #f6b05e);
	}
}
