%default {
	.gbox-wrap {
		max-width: 898px;
		width: 100%;
		padding: 0px;
		margin-top: 80px;
		margin-bottom: 80px;
		background-image: linear-gradient(to top, #f49c00 43px, #f49c00 44px, #fff 45px, #fff 100%);
		color: #fff;
		background-size: cover;
		padding-top: 62px;
		padding-bottom: 126px;
		border: 2px solid #f49c00;
		box-shadow: 12px 12px 0 0 rgba(#000, 0.15);
		&:before {
			content: "";
			width: 38px;
			height: 93px;
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
			background-image: url("./img/lb-deco1.png");
		}
		&:after {
			content: "";
			width: 64px;
			height: 18px;
			position: absolute;
			bottom: 54px;
			right: 20px;
			background-size: cover;
			background-image: url("./img/lb-deco2.png");
		}
	}
	.gbox-title {
		margin: 0;
		padding: 0;
		font-size: 0;
		width: 100%;
		height: 76px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.gbox-content {
		position: relative;
		padding: 0 62px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 24px;
		color: #000;
		font-weight: 700;
	}
}
%btn {
	.gbox-action {
		z-index: 2;
		position: relative;
		padding: 0;
		font-size: 0;
		margin-top: 69px;
	}
	.gbox-btn {
		width: 403px;
		height: 68px;
		padding: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 0;
		position: relative;
		margin: 0;
		font-weight: bold;
		background-size: cover;
		font-size: 32px;
		background-color: transparent;
		background-image: url("./img/btn-enable.png");
		filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
		&.enable {
			background-image: url("./img/btn-enable.png");
		}
		&.disable {
			background-image: url("./img/btn-disable.png");
		}
	}
}
%close {
	.gbox-close {
		width: 35px;
		height: 35px;
		font-size: 0;
		top: 22px;
		right: 20px;
		background-size: cover;
		&:before {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}
.default {
	@extend %default;
	@extend %close;
	@extend %btn;
}
.lb-warning {
	width: 129px;
	height: 111px;
	background-size: cover;
	background-image: url("./img/lb-warning.png");
	margin-bottom: 72px;
}
.lb-title {
	font-size: 32px;
	color: #ff8300;
	font-weight: 900;
	margin-bottom: 32px;
}
.lb-msg {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #000;
}
.lb-sub-text {
	font-weight: 400;
	font-size: 20px;
	color: #000;
	margin-top: 30px;
}
.lb-btn {
	&__text {
		font-size: 14px;
		color: #000;
		margin-top: 11px;
		display: block;
	}
}
.lb-list {
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	text-align: left;
	letter-spacing: -1px;
	&__li {
	}
}
.lb-form-group {
}
.lb-input {
	&__box {
		width: 356px;
		margin-bottom: 39px;
		text-align: left;
	}
	&__title {
		font-size: 24px;
		color: #333;
		font-weight: 700;
		margin-bottom: 18px;
	}
	&__control {
		width: 100%;
		height: 55px;
		background-color: #f6f6f6;
		border: 1px solid rgba(51, 51, 51, 0.4);
		border-radius: 5px;
		font-size: 20px;
		font-weight: 400;
		color: rgba(51, 51, 51, 0.4);
		padding: 12px;
	}
}
.lb-checkbox {
	&__box {
		width: 356px;
		position: relative;
		text-align: left;
		cursor: pointer;
	}
	&__title {
		font-size: 24px;
		color: #333;
		font-weight: 700;
		margin-bottom: 18px;
	}
	&__control {
		display: none;
		&:checked {
			& + .lb-checkbox__style {
				&:before {
					background-color: #ff8300;
					background-image: url("./img/icon-checked.png");
					background-size: 20px 15px;
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}
	&__style {
		color: #333;
		font-weight: 400;
		font-size: 20px;
		position: relative;
		padding-left: 32px;
		&:before {
			content: "";
			width: 25px;
			height: 25px;
			border: 2px solid #ff8300;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			border-radius: 4px;
			box-sizing: border-box;
		}
	}
}
.lb1 {
	.gbox-wrap {
		max-width: 560px;
	}
}
.lb2 {
	.gbox-wrap {
		max-width: 880px;
	}
	.gbox-content {
		padding: 0 72px;
	}
}
