%default {
	.gbox-wrap {
		max-width: 1132px;
		width: 100%;
		padding: 0px;
		margin-top: 80px;
		margin-bottom: 80px;
		background-color: transparent;
		color: #fff;
		background-size: cover;
		padding-top: 38px;
		padding-bottom: 24px;
		@include media {
			max-width: vw(768);
			margin-top: vw(80);
			margin-bottom: vw(80);
			padding-top: vw(37);
			padding-bottom: vw(23);
		}
	}
	.gbox-title {
		margin: 0;
		padding: 0;
		font-size: 0;
		width: 100%;
		height: 76px;
		background-position: center center;
		background-repeat: no-repeat;
		@include media {
			height: vw(60);
		}
	}
	.gbox-content {
		position: relative;
		padding: 0px;
		width: 1080px;
		margin: 0 auto;
		@include media {
			width: vw(708);
		}
	}
}
%btn {
	.gbox-action {
		z-index: 2;
		position: relative;
		padding: 0;
		font-size: 0;
		margin-top: 38px;
		@include media {
			margin-top: vw(38);
		}
	}
	.gbox-btn {
		width: 294px;
		height: 65px;
		padding: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		position: relative;
		margin: 0;
		background-color: #e5006e;
		color: #fff;
		border-radius: 100vmax;
		font-weight: bold;
		@include hover {
			background-color: #ffea94;
			color: #63190e;
		}
		@include media {
			width: vw(294);
			height: vw(65);
			font-size: vw(20);
		}
	}
}
%close {
	.gbox-close {
		width: 50px;
		height: 50px;
		font-size: 0;
		top: -25px;
		right: 25px;
		border: 2px solid #f08200;
		&:before,
		&:after {
			content: "";
			width: 2px;
			height: 25px;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #f08200;
			@include media {
				width: vw(2);
				height: vw(25);
			}
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(135deg);
		}
		@include media {
			width: vw(50);
			height: vw(50);
			top: vw(-25);
			right: vw(30);
			border-width: vw(2);
		}
	}
}
.default {
	@extend %default;
	@extend %close;
	@extend %btn;
}

.lb-coming {
	.gbox-wrap {
		background-image: url("./images/lb-bg-coming.png");
		height: 317px;
		@include media {
			background-image: url("./images/lb-bg-coming-m.png");
			height: vw(316);
		}
	}
	.gbox-content {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-text {
		&-box {
			font-size: 60px;
			font-weight: bold;
			display: flex;
			column-gap: 20px;
			text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
			@include media {
				font-size: vw(45);
				column-gap: vw(20);
				// -webkit-text-stroke: vw(3) #63190e;
				text-shadow: vw(-3) vw(-3) 0 #63190e, 0 vw(-3) 0 #63190e, vw(3) vw(-3) 0 #63190e, vw(3) 0 0 #63190e, vw(3) vw(3) 0 #63190e, 0 vw(3) 0 #63190e, vw(-3) vw(3) 0 #63190e, vw(-3) 0 0 #63190e;
			}
		}
		&-group {
			display: flex;
			span {
				&:nth-child(1) {
					color: #fc989e;
				}
				&:nth-child(2) {
					color: #72dafe;
				}
				&:nth-child(3) {
					color: #a8cf40;
				}
				&:nth-child(4) {
					color: #ffbf7b;
				}
			}
		}
	}
}
.lb-lottery {
	.gbox-wrap {
		background-image: url("./images/lb-bg-lottery.png");
		height: 317px;
		@include media {
			background-image: url("./images/lb-bg-lottery-m.png");
			height: vw(316);
		}
	}
	.gbox-content {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-text {
		&-box {
			font-size: 45px;
			font-weight: bold;
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 36px;
			// -webkit-text-stroke: 3px #63190e;
			text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
			@include media {
				font-size: vw(45);
				row-gap: vw(36);
				// -webkit-text-stroke: vw(3) #63190e;
				text-shadow: vw(-3) vw(-3) 0 #63190e, 0 vw(-3) 0 #63190e, vw(3) vw(-3) 0 #63190e, vw(3) 0 0 #63190e, vw(3) vw(3) 0 #63190e, 0 vw(3) 0 #63190e, vw(-3) vw(3) 0 #63190e, vw(-3) 0 0 #63190e;
			}
		}
		&-group {
			display: flex;
			span {
				&:nth-child(1) {
					color: #fc989e;
				}
				&:nth-child(2) {
					color: #72dafe;
				}
				&:nth-child(3) {
					color: #a8cf40;
				}
				&:nth-child(4) {
					color: #ffbf7b;
				}
			}
		}
	}
}
.lb-lottery-log {
	.gbox-wrap {
		background-image: url("./images/lb-bg-log.png");
		height: 881px;
		@include media {
			background-image: url("./images/lb-bg-log-m.png");
			height: vw(1277);
		}
	}
	.gbox-content {
		padding-top: 50px;
		@include media {
			padding-top: vw(50);
		}
	}
	&-title {
		font-size: 45px;
		font-weight: bold;
		display: flex;
		text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
		margin-bottom: 12px;
		justify-content: center;
		@include media {
			margin-bottom: vw(12);
			font-size: vw(45);
			// -webkit-text-stroke: vw(3) #63190e;
			text-shadow: vw(-3) vw(-3) 0 #63190e, 0 vw(-3) 0 #63190e, vw(3) vw(-3) 0 #63190e, vw(3) 0 0 #63190e, vw(3) vw(3) 0 #63190e, 0 vw(3) 0 #63190e, vw(-3) vw(3) 0 #63190e, vw(-3) 0 0 #63190e;
		}
	}
	&-account {
		font-weight: bold;
		font-size: 30px;
		color: #63190e;
		margin-bottom: 12px;
		@include media {
			font-size: vw(30);
			margin-bottom: vw(12);
		}
	}
	&-text {
		&-box {
			font-size: 45px;
			font-weight: bold;
			display: flex;
			text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
			margin-bottom: 30px;
			justify-content: center;
			@include media {
				margin-bottom: vw(30);
				font-size: vw(45);
				// -webkit-text-stroke: vw(3) #63190e;
				text-shadow: vw(-3) vw(-3) 0 #63190e, 0 vw(-3) 0 #63190e, vw(3) vw(-3) 0 #63190e, vw(3) 0 0 #63190e, vw(3) vw(3) 0 #63190e, 0 vw(3) 0 #63190e, vw(-3) vw(3) 0 #63190e, vw(-3) 0 0 #63190e;
			}
		}
		&-group {
			display: flex;
			span {
				&:nth-child(1) {
					color: #fc989e;
				}
				&:nth-child(2) {
					color: #72dafe;
				}
				&:nth-child(3) {
					color: #a8cf40;
				}
				&:nth-child(4) {
					color: #ffbf7b;
				}
			}
		}
	}
	&-list {
		width: 935px;
		font-size: 30px;
		font-weight: bold;
		color: #63190e;
		margin: 0 auto;
		overflow-y: auto;
		&-box {
			max-height: 522px;
			@include media {
				max-height: vw(900);
			}
			.mCSB_inside > .mCSB_container {
				margin-right: 0;
			}
			.mCSB_scrollTools {
				// width: 6px;
				right: 16px;
				opacity: 1;
				@include media {
					right: vw(16);
				}
			}
			.mCSB_scrollTools .mCSB_draggerRail {
				width: 6px;
				background-color: #fff;
				border-radius: 0;
				@include media {
					width: vw(6);
				}
			}
			.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
				width: 16px;
				background-color: #63190e;
				border-radius: 0;
				@include media {
					width: vw(16);
				}
			}
		}
		@include media {
			width: vw(577);
			font-size: vw(30);
		}
		&__box {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		&__item {
			padding: 12px 0;
			border: 3px solid #63190e;
			background-color: #fff;
			@include media {
				padding: vw(14) 0;
				border-width: vw(3);
			}
			&:first-child {
				border-right: 0px;
			}
		}
	}
}
.lb-gameworld {
	.gbox-wrap {
		background-image: url("./images/lb-bg-gameworld.png");
		height: 538px;
		@include media {
			background-image: url("./images/lb-bg-gameworld-m.png");
			height: vw(538);
		}
	}
	.gbox-content {
		padding-top: 50px;
		@include media {
			padding-top: vw(50);
		}
	}
	&-box {
		margin-bottom: 35px;
		@include media {
			margin-bottom: vw(35);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-text {
		&-box {
			font-size: 45px;
			font-weight: bold;
			display: flex;
			text-shadow: -3px -3px 0 #63190e, 0 -3px 0 #63190e, 3px -3px 0 #63190e, 3px 0 0 #63190e, 3px 3px 0 #63190e, 0 3px 0 #63190e, -3px 3px 0 #63190e, -3px 0 0 #63190e;
			margin-bottom: 52px;
			justify-content: center;
			@include media {
				margin-bottom: vw(52);
				font-size: vw(45);
				// -webkit-text-stroke: vw(3) #63190e;
				text-shadow: vw(-3) vw(-3) 0 #63190e, 0 vw(-3) 0 #63190e, vw(3) vw(-3) 0 #63190e, vw(3) 0 0 #63190e, vw(3) vw(3) 0 #63190e, 0 vw(3) 0 #63190e, vw(-3) vw(3) 0 #63190e, vw(-3) 0 0 #63190e;
			}
		}
		&-group {
			display: flex;
			span {
				&:nth-child(1) {
					color: #fc989e;
				}
				&:nth-child(2) {
					color: #72dafe;
				}
				&:nth-child(3) {
					color: #a8cf40;
				}
				&:nth-child(4) {
					color: #ffbf7b;
				}
			}
		}
	}
}

.lb-select {
	background-color: #63190e;
	color: #fff;
	font-size: 30px;
	border: 2px solid #ed9c45;
	width: 693px;
	text-align: center;
	padding: 20px 0;
	appearance: none;
	border: none;
	margin: 0;
	color: inherit;
	background-image: url("./images/lb-select-arrow.png");
	background-size: 29px 16px;
	background-position: 648px center;
	background-repeat: no-repeat;
	@include media {
		font-size: vw(30);
		border-width: vw(2);
		width: vw(693);
		padding: vw(20) 0;
		background-size: vw(29) vw(16);
		background-position: vw(648) center;
	}
}
.lb-msg-content {
	font-size: 45px;
	color: #63190e;
	font-weight: bold;
	@include media {
		font-size: vw(45);
	}
}
