.header {
	width: 100%;
	background-color: rgba(#000, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	z-index: 99;
	overflow: hidden;
	padding: vw2(10px);
	@include media2 {
		padding: vh(10px);
	}
	&-logo {
		width: vw2(84px);
		height: vw2(44px);
		background-size: cover;
		background-image: url("./images/logo.png");
		@include media2 {
			width: vh(84px);
			height: vh(44px);
		}
	}
	@include media {
		display: none;
	}
}
