.nav {
	position: fixed;
	top: 50%;
	left: vw2(60px);
	z-index: 99;
	@include media2 {
		left: vh(60px);
	}
	@include media {
		top: 0;
		left: unset;
		right: 0;
		width: vw(496);
		height: 100dvh;
		background-image: url("./images/menu-bg-m.jpg");
		background-repeat: no-repeat;
		background-position: center 0;
		background-color: #141414;
		transform: translateX(100%);
		transition: transform 0.3s;
		&.active {
			transform: translateX(0);
			.nav-toggle {
				background-position-x: 100%;
				left: vw(-22);
				transform: translateX(0%);
			}
		}
	}
	&-toggle {
		display: none;
		@include media {
			display: block;
			position: absolute;
			bottom: vw(24);
			width: vw(78);
			height: vw(144);
			background-image: url("./images/menu-m.png");
			background-size: 200%;
			background-position-y: 0;
			left: 0;
			transform: translateX(-100%);
		}
	}
	&-list {
		list-style: none;
		@include media {
			margin-top: vw(170);
			margin-left: vw(98);
		}
	}
	&-item {
		margin-bottom: vw2(18px);
		position: relative;
		@include media2 {
			margin-bottom: vh(18px);
		}
		@include hover {
			.nav-link {
				color: #bb9569;
			}
		}
		@include media {
			margin-bottom: vw(56);
		}
		&.on {
			.nav-link {
				color: #bb9569;
				&:before {
					content: "";
					width: vw2(51px);
					height: vw2(27px);
					background-size: cover;
					background-image: url("./images/menu-active.png");
					position: absolute;
					top: 50%;
					left: vw2(-6px);
					transform: translate(-100%, -50%);
					@include media2 {
						width: vh(51px);
						height: vh(27px);
						left: vh(-6px);
					}
					@include media {
						display: none;
					}
				}
			}
		}
		&.active {
			&:not(.nav-item--sub) {
				.nav-link {
					color: #bb9569;
					&:before {
						content: "";
						width: vw2(51px);
						height: vw2(27px);
						background-size: cover;
						background-image: url("./images/menu-active.png");
						position: absolute;
						top: 50%;
						left: vw2(-6px);
						transform: translate(-100%, -50%);
						@include media2 {
							width: vh(51px);
							height: vh(27px);
							left: vh(-6px);
						}
						@include media {
							display: none;
						}
					}
				}
			}

			&.nav-item--sub {
				.nav-link {
					color: #bb9569;
				}
			}
		}
		&--sub {
			padding-left: vw2(18px);
			@include media2 {
				padding-left: vh(18px);
			}
			.nav-link {
				&:before {
					content: "-";
					margin-right: vw2(6px);
					@include media2 {
						margin-right: vh(6px);
					}
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-link {
		font-size: vw2(16px);
		color: #827060;
		text-decoration: none;
		position: relative;
		@include media2 {
			font-size: vh(16px);
		}
		@include media {
			font-size: vw(30);
		}
	}
}
