.sec4 {
	@include media {
		background-image: url("./images/sec4-bg-m.jpg");
	}
	&-title {
		width: vw2(471px);
		height: vw2(129px);
		background-size: cover;
		background-image: url("./images/sec4-title.png");
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: vw2(-235.5px);
		margin-top: vw2(-364px);
		@include media2 {
			width: vh(471px);
			height: vh(129px);
			margin-left: vh(-235.5px);
			margin-top: vh(-364px);
		}
		@include media {
			width: vw(460);
			height: vw(166);
			background-image: url("./images/sec4-title-m.png");
			top: vw(227);
			margin-left: 0;
			margin-top: 0;
			transform: translateX(-50%);
		}
	}
	&-time {
		width: vw2(430px);
		height: vw2(25px);
		background-image: url("./images/sec4-time.png");
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: vw2(-215px);
		margin-top: vw2(-216px);
		@include media2 {
			width: vh(430px);
			height: vh(25px);
			margin-left: vh(-215px);
			margin-top: vh(-216px);
		}
		@include media {
			display: none;
		}
	}
	&-tab {
		&__btn {
			&-list {
				width: vw2(764px);
				height: vw2(54px);
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: vw2(-382px);
				margin-top: vw2(-154px);
				font-size: 0;
				white-space: nowrap;
				@include media2 {
					width: vh(764);
					height: vh(54);
					margin-left: vh(-382);
					margin-top: vh(-154);
				}
				@include media {
					width: vw(616);
					height: vw(60);
					margin-top: 0;
					margin-left: 0;
					top: vw(438);
					transform: translateX(-50%);
				}
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 50%;
					width: vw2(1054px);
					height: vw2(470px);
					margin-left: vw2(-527px);
					background-image: url("./images/sec-tab-bg.png");
					background-size: cover;
					@include media2 {
						width: vh(1054);
						height: vh(470);
						margin-left: vh(-527);
					}
					@include media {
						width: vw(768);
						height: vw(477);
						background-image: url("./images/sec-tab-bg-m.png");
						margin-left: -50vw;
					}
				}
			}
			&-item {
				background-size: 200%;
				z-index: 1;
				position: relative;
				&.active {
					background-position-x: 100%;
				}
				&--1 {
					width: vw2(256px);
					height: vw2(54px);
					background-image: url("./images/sec3-tab1-btn.png");
					margin-left: vw2(20px);
					@include media2 {
						width: vh(256);
						height: vh(54);
						margin-left: vh(20);
					}
					@include media {
						width: vw(205);
						height: vw(60);
						background-image: url("./images/sec3-tab1-btn-m.png");
						margin-left: 0;
					}
				}
				&--2 {
					width: vw2(206px);
					height: vw2(54px);
					background-image: url("./images/sec3-tab2-btn.png");
					margin-left: vw2(2px);
					@include media2 {
						width: vh(206);
						height: vh(54);
						margin-left: vh(2);
					}
					@include media {
						width: vw(202);
						height: vw(60);
						background-image: url("./images/sec3-tab2-btn-m.png");
						margin-left: 0;
					}
				}
				&--3 {
					width: vw2(296px);
					height: vw2(54px);
					background-image: url("./images/sec3-tab3-btn.png");
					margin-left: vw2(2px);
					@include media2 {
						width: vh(296);
						height: vh(54);
						margin-left: vh(2);
					}
					@include media {
						width: vw(205);
						height: vw(60);
						background-image: url("./images/sec3-tab3-btn-m.png");
						margin-left: 0;
					}
				}
			}
		}
		&__content {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 100%;
			margin-top: vw2(-103px);
			z-index: 3;
			@include media2 {
				margin-top: vh(-103);
			}
			@include media {
				top: vw(522);
				margin-top: 0;
			}
			&-box {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				z-index: 0;
				display: none;
				&.active {
					z-index: 1;
					display: block;
				}
			}
		}
		&__con1 {
			&-map {
				width: vw2(698px);
				height: vw2(558px);
				background-size: cover;
				background-image: url("./images/sec4-tab1-bg.png");
				position: absolute;
				top: vw2(15px);
				left: 50%;
				margin-left: vw2(-342px);
				@include media2 {
					width: vh(698px);
					height: vh(558px);
					top: vh(15px);
					margin-left: vh(-342px);
				}
				&-item {
					opacity: 0;
					transition: 0.3s;
					position: absolute;
					background-size: cover;
					&.active {
						opacity: 1;
					}
				}
				@include media {
					width: vw(713);
					height: vw(572);
					background-image: url("./images/sec4-tab1-bg-m.png");
					top: vw(-10);
					margin-left: vw(-356);
				}
				&--1 {
					width: vw2(274px);
					height: vw2(143px);
					background-image: url("./images/sec4-tab1-1.png");
					top: vw2(125px);
					left: vw2(-159px);
					@include media2 {
						width: vh(274px);
						height: vh(143px);
						top: vh(125px);
						left: vh(-159px);
					}
					@include media {
						width: vw(597);
						height: vw(328);
						background-image: url("./images/sec4-tab1-1-m.png");
						top: unset;
						left: 50%;
						bottom: 0;
						margin-left: vw(-256);
					}
				}
				&--2 {
					width: vw2(274px);
					height: vw2(277px);
					background-image: url("./images/sec4-tab1-2.png");
					top: vw2(179px);
					left: vw2(-158px);
					@include media2 {
						width: vh(274px);
						height: vh(277px);
						top: vh(179px);
						left: vh(-158px);
					}
					@include media {
						width: vw(597);
						height: vw(328);
						background-image: url("./images/sec4-tab1-2-m.png");
						top: unset;
						left: 50%;
						bottom: 0;
						margin-left: vw(-256);
					}
				}
				&--3 {
					width: vw2(275px);
					height: vw2(324px);
					background-size: cover;
					top: vw2(-19px);
					left: vw2(599px);
					background-image: url("./images/sec4-tab1-3.png");
					@include media2 {
						width: vh(275px);
						height: vh(324px);
						top: vh(-19px);
						left: vh(599px);
					}
					@include media {
						width: vw(597);
						height: vw(328);
						background-image: url("./images/sec4-tab1-3-m.png");
						top: unset;
						left: 50%;
						bottom: 0;
						margin-left: vw(-256);
					}
				}
				&--4 {
					width: vw2(274px);
					height: vw2(143px);
					background-size: cover;
					top: vw2(303px);
					left: vw2(599px);
					background-image: url("./images/sec4-tab1-4.png");
					@include media2 {
						width: vh(274px);
						height: vh(143px);
						top: vh(303px);
						left: vh(599px);
					}
					@include media {
						width: vw(597);
						height: vw(328);
						background-image: url("./images/sec4-tab1-4-m.png");
						top: unset;
						left: 50%;
						bottom: 0;
						margin-left: vw(-256);
					}
				}
			}
		}
		&__con2 {
			position: absolute;
			top: vw2(-108px);
			left: 50%;
			margin-left: vw2(-453px);
			width: vw2(955px);
			height: vw2(641px);
			background-size: cover;
			background-image: url("./images/sec4-tab2.png");
			@include media2 {
				top: vh(-108px);
				margin-left: vh(-453px);
				width: vh(955px);
				height: vh(641px);
			}
			@include media {
				width: vw(768);
				height: vw(680);
				background-image: url("./images/sec4-tab2-m.png");
				margin-left: -50vw;
				top: vw(-107);
			}
		}
		&__con3 {
			width: vw2(1004px);
			height: vw2(363px);
			background-size: cover;
			background-image: url("./images/sec4-tab3.png");
			position: absolute;
			top: vw2(-9px);
			left: 50%;
			margin-left: vw2(-502px);
			@include media2 {
				width: vh(1004px);
				height: vh(363px);
				top: vh(-9px);
				margin-left: vh(-502px);
			}
			@include media {
				width: vw(765);
				height: vw(618);
				background-image: url("./images/sec4-tab3-m.png");
				margin-left: vw(-390);
				top: vw(-28);
			}
		}
	}
	&-btn {
		width: vw2(217px);
		height: vw2(46px);
		background-size: cover;
		background-image: url("./images/sec-btn.png");
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: vw2(-108.5px);
		margin-top: vw2(366px);
		z-index: 9;
		@include media2 {
			width: vh(217px);
			height: vh(46px);
			margin-left: vh(-108.5px);
			margin-top: vh(366px);
		}
		@include media {
			width: vw(321);
			height: vw(61);
			background-image: url("./images/sec-btn-m.png");
			margin-top: 0;
			margin-left: 0;
			top: vw(1112);
			transform: translateX(-50%);
		}
	}
}
