.sec2 {
	@include media {
		background-image: url("./images/sec2-bg-m.jpg");
	}
	&-title {
		width: vw2(559px);
		height: vw2(129px);
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: vw2(-279.5px);
		margin-top: vw2(-366px);
		z-index: 1;
		background-image: url("./images/sec2-title.png");
		@include media2 {
		}
		@include media {
			width: vw(473);
			height: vw(166);
			background-image: url("./images/sec2-title-m.png");
			margin-left: 0;
			margin-top: 0;
			top: vw(-221);
			transform: translateX(-50%);
		}
	}
	&-time {
		width: vw2(430px);
		height: vw2(25px);
		background-size: cover;
		background-image: url("./images/sec2-time.png");
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		margin-left: vw2(-215px);
		margin-top: vw2(-226px);
		@include media2 {
		}
		@include media {
			display: none;
		}
	}
	&-map {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		&.active {
			width: vw2(2560px);
			height: vw2(1440px);
			@include media2 {
			}
		}
		&:before {
			content: "";
			width: vw2(2560px);
			height: vw2(1440px);
			position: absolute;
			top: 50%;
			left: 50%;
			background-image: url("./images/world_2560_in.jpg");
			background-position: center;
			background-size: vw2(2560px) vw2(1440px);
			transform: translate(-50%, -50%);
			@include media2 {
			}
			@include media {
				display: none;
			}
		}
		@include media {
			width: vw(655);
			height: vw(460);
			background-size: cover;
			background-image: url("./images/sec2-map-m.png");
			top: vw(448);
			left: 50%;
			transform: translateX(-50%);
		}
		&__video {
			display: inline-block;
			position: relative;
			overflow: hidden;
			background: #000;
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			display: none;
			&.active {
				display: inline-block;
			}
			videO {
				object-fit: cover;
				object-position: 50% 50%;
				width: 100%;
				height: 100%;
			}
		}
		&__btn {
			position: absolute;
			top: 50%;
			left: 50%;
			width: vw2(165px);
			height: vw2(35px);
			margin-top: vw2(-17.5px);
			margin-left: vw2(-82.5px);
			background-repeat: no-repeat;
			border: 0;
			background-size: cover;
			cursor: pointer;
			@include media2 {
			}
			@include media {
				width: vw(63);
				height: vw(63);
			}
			@include hover {
				&:before {
					transform: rotate(-180deg);
				}
				&:after {
					transform: rotate(180deg);
				}
			}
			&:before {
				position: absolute;
				top: vw2(-70px);
				left: 50%;
				width: vw2(76px);
				height: vw2(72px);
				margin-left: vw2(-38px);
				background: url(./images/sec2-icon.png) no-repeat 50% 0;
				background-size: cover;
				content: "";
				transition: 0.4s;
				@include media2 {
				}
				@include media {
					display: none;
				}
			}
			&:after {
				content: "";
				position: absolute;
				top: vw2(-70px);
				left: 50%;
				width: vw2(76px);
				height: vw2(72px);
				margin-left: vw2(-38px);
				background: url(./images/sec2-icon.png) no-repeat 50% 0;
				background-size: cover;
				transition: 0.4s;
				@include media2 {
				}
				@include media {
					display: none;
				}
			}
			&--1 {
				margin: vw2(208px) 0 0 vw2(-437px);
				background-image: url("./images/sec2-txt1.png");
				@include media2 {
				}
				@include media {
					background-image: none;
					margin: vw(-2) 0 0 vw(-280);
				}
			}
			&--2 {
				margin: vw2(130px) 0 0 vw2(-648px);
				background-image: url("./images/sec2-txt2.png");
				@include media2 {
				}
				@include media {
					background-image: none;
					margin: vw(56) 0 0 vw(-152);
				}
			}
			&--3 {
				margin: vw2(42px) 0 0 vw2(-164px);
				background-image: url("./images/sec2-txt3.png");
				@include media2 {
				}
				@include media {
					background-image: none;
					margin: 0;
					margin: vw(-28) 0 0 vw(-52);
				}
			}
			&--4 {
				margin: vw2(-95px) 0 0 vw2(100px);
				background-image: url("./images/sec2-txt4.png");
				@include media2 {
				}
				@include media {
					background-image: none;
					margin: 0;
					margin: vw(-120) 0 0 vw(68);
				}
			}
			&--5 {
				margin: vw2(-144px) 0 0 vw2(422px);
				background-image: url("./images/sec2-txt5.png");
				@include media2 {
				}
				@include media {
					background-image: none;
					margin: 0;
					margin: vw(-160) 0 0 vw(192);
				}
			}
		}
	}
}

.sec2-in-video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: vw2(2560px);
	height: vw2(1440px);
	transform: translate(-50%, -50%);
	max-width: vw2(2560px);
	max-height: vw2(1440px);
	display: none;
	z-index: 100;
	@include media2 {
	}
	&.active {
		display: block;
	}
}
