.sec1 {
	@include media {
		background-image: url("./images/main-bg-m.jpg");
	}
	&-title {
		width: vw2(574px);
		height: vw2(428px);
		background-size: cover;
		background-image: url("./images/main-title.png");
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: vw2(-287px);
		margin-top: vw2(-158px);
		@include media2 {
		}
		@include media {
			width: vw(582);
			height: vw(542);
			background-image: url("./images/main-title-m.png");
			margin-left: 0;
			margin-top: 0;
			transform: translate(-50%, -50%);
		}
	}
	&-slogan {
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		width: vw2(1200px);
		height: vw2(400px);
		margin-left: vw2(-600px);
		margin-top: vw2(-258px);
		background-size: cover;
		background-image: url("./images/main-slogan.png");
		@include media2 {
		}
		@include media {
			display: none;
		}
	}
	&-scroll-down {
		width: vw2(49px);
		height: vw2(40px);
		background-size: cover;
		background-image: url("./images/main-btn-down.png");
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: vw2(-24.5px);
		margin-top: vw2(178px);
		z-index: 3;
		@include media2 {
		}
		@include media {
			width: vw(67);
			height: vw(55);
			background-image: url("./images/main-btn-down-m.png");
			margin-left: 0;
			margin-top: vw(178);
			transform: translateX(-50%);
		}
	}
}
