@charset "UTF-8";
/* 中文 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  touch-callout: none;
  -webkit-touch-callout: none;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
input {
  font-size: initial !important;
}

::-webkit-input-placeholder {
  font-size: 20px;
}

::-moz-placeholder {
  font-size: 20px;
}

:-ms-input-placeholder {
  font-size: 20px;
}

::-ms-input-placeholder {
  font-size: 20px;
}

::placeholder {
  font-size: 20px;
}

a {
  display: inline-block;
}
a:focus-visible {
  outline: none;
}

a[href] {
  cursor: pointer;
}

.cur-p {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

[v-cloak] {
  display: none;
}

.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.default .gbox-wrap {
  max-width: 52.96875vw;
  width: 100%;
  height: 30.0520833333vw;
  padding: 0px;
  margin-top: 8.3333333333vw;
  margin-bottom: 8.3333333333vw;
  background-color: transparent;
  background-image: url("./images/lb-bg.png");
  color: #fff;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .default .gbox-wrap {
    max-width: 94.1666666667vh;
    height: 53.4259259259vh;
    margin-top: 14.8148148148vh;
    margin-bottom: 14.8148148148vh;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-wrap {
    margin-top: 10.4166666667vw;
    margin-bottom: 10.4166666667vw;
    max-width: 95.3125vw;
    height: 54.1666666667vw;
    background-image: url("./images/lb-bg-m.png");
  }
}
.default .gbox-wrap:before, .default .gbox-wrap:after {
  content: "";
  width: 51.6666666667vw;
  height: 4.53125vw;
  background-image: url("./images/lb-light.png");
  background-size: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .default .gbox-wrap:before, .default .gbox-wrap:after {
    width: 91.8518518519vh;
    height: 8.0555555556vh;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-wrap:before, .default .gbox-wrap:after {
    width: 92.96875vw;
    height: 8.0729166667vw;
    background-image: url("./images/lb-light-m.png");
  }
}
.default .gbox-wrap:before {
  bottom: -3.75vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .default .gbox-wrap:before {
    bottom: -6.6666666667vh;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-wrap:before {
    bottom: -6.7708333333vw;
  }
}
.default .gbox-wrap:after {
  top: -0.625vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .default .gbox-wrap:after {
    top: -1.1111111111vh;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-wrap:after {
    top: -1.5625vw;
  }
}
.default .gbox-content {
  position: relative;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.default .gbox-action {
  z-index: 2;
  position: relative;
  padding: 0;
  font-size: 0;
}
.default .gbox-btn {
  width: 310px;
  height: 60px;
  padding: 0;
  display: inline-block;
  font-size: 0;
  position: relative;
  margin: 0;
}
.default .gbox-btn + .gbox-btn {
  margin-left: 26px;
}
@media screen and (max-width: 768px) {
  .default .gbox-btn + .gbox-btn {
    margin-left: 3.3854166667vw;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-btn {
    width: 32.2916666667vw;
    height: 6.1197916667vw;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0.390625vw 1.5625vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0.390625vw 1.5625vw rgba(0, 0, 0, 0.8);
  }
}

.default .gbox-close {
  width: 2.34375vw;
  height: 2.34375vw;
  font-size: 0;
  top: -2.34375vw;
  right: -2.34375vw;
  z-index: 9;
}
.default .gbox-close:before, .default .gbox-close:after {
  content: "";
  width: 0.0520833333vw;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .default .gbox-close:before, .default .gbox-close:after {
    width: 0.0925925926vh;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-close:before, .default .gbox-close:after {
    width: 0.1302083333vw;
  }
}
.default .gbox-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.default .gbox-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .default .gbox-close {
    width: 5.5555555556vh;
    height: 5.5555555556vh;
    top: -5.5555555556vh;
    right: -1.1111111111vh;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-close {
    width: 7.8125vw;
    height: 7.8125vw;
    top: -7.8125vw;
    right: -1.5625vw;
  }
}

.lb-role .gbox-wrap {
  background-image: url("./images/lb-bg2.png");
}
@media screen and (max-width: 768px) {
  .lb-role .gbox-wrap {
    max-width: 98.3072916667vw;
    height: 107.6822916667vw;
    background-image: url("./images/lb-bg2-m.png");
  }
  .lb-role .gbox-wrap:before {
    bottom: -5.7291666667vw;
  }
  .lb-role .gbox-wrap:after {
    top: -0.5208333333vw;
  }
}
.lb-role .gbox-content {
  position: relative;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: block;
}
.lb-role__body {
  padding-top: 14.7395833333vw;
  padding-left: 3.5416666667vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body {
    padding-top: 26.2037037037vh;
    padding-left: 6.2962962963vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body {
    padding-top: 47.1354166667vw;
    padding-left: 4.4270833333vw;
  }
}
.lb-role__body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
}
.lb-role__body[data-role="1"]:before {
  background-image: url("./images/sec7/lb/1.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="1"]:before {
    background-image: url("./images/sec7/lb/1-m.png");
  }
}
.lb-role__body[data-role="1"] .lb-role__title {
  background-image: url("./images/sec7/lb/1-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="1"] .lb-role__title {
    background-image: url("./images/sec7/lb/1-title-m.png");
  }
}
.lb-role__body[data-role="2"]:before {
  background-image: url("./images/sec7/lb/2.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="2"]:before {
    background-image: url("./images/sec7/lb/2-m.png");
  }
}
.lb-role__body[data-role="2"] .lb-role__title {
  background-image: url("./images/sec7/lb/2-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="2"] .lb-role__title {
    background-image: url("./images/sec7/lb/2-title-m.png");
  }
}
.lb-role__body[data-role="3"]:before {
  background-image: url("./images/sec7/lb/3.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="3"]:before {
    background-image: url("./images/sec7/lb/3-m.png");
  }
}
.lb-role__body[data-role="3"] .lb-role__title {
  background-image: url("./images/sec7/lb/3-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="3"] .lb-role__title {
    background-image: url("./images/sec7/lb/3-title-m.png");
  }
}
.lb-role__body[data-role="4"]:before {
  background-image: url("./images/sec7/lb/4.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="4"]:before {
    background-image: url("./images/sec7/lb/4-m.png");
  }
}
.lb-role__body[data-role="4"] .lb-role__title {
  background-image: url("./images/sec7/lb/4-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="4"] .lb-role__title {
    background-image: url("./images/sec7/lb/4-title-m.png");
  }
}
.lb-role__body[data-role="5"]:before {
  background-image: url("./images/sec7/lb/5.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="5"]:before {
    background-image: url("./images/sec7/lb/5-m.png");
  }
}
.lb-role__body[data-role="5"] .lb-role__title {
  background-image: url("./images/sec7/lb/5-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="5"] .lb-role__title {
    background-image: url("./images/sec7/lb/5-title-m.png");
  }
}
.lb-role__body[data-role="6"]:before {
  background-image: url("./images/sec7/lb/6.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="6"]:before {
    background-image: url("./images/sec7/lb/6-m.png");
  }
}
.lb-role__body[data-role="6"] .lb-role__title {
  background-image: url("./images/sec7/lb/6-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="6"] .lb-role__title {
    background-image: url("./images/sec7/lb/6-title-m.png");
  }
}
.lb-role__body[data-role="7"]:before {
  background-image: url("./images/sec7/lb/7.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="7"]:before {
    background-image: url("./images/sec7/lb/7-m.png");
  }
}
.lb-role__body[data-role="7"] .lb-role__title {
  background-image: url("./images/sec7/lb/7-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="7"] .lb-role__title {
    background-image: url("./images/sec7/lb/7-title-m.png");
  }
}
.lb-role__body[data-role="8"]:before {
  background-image: url("./images/sec7/lb/8.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="8"]:before {
    background-image: url("./images/sec7/lb/8-m.png");
  }
}
.lb-role__body[data-role="8"] .lb-role__title {
  background-image: url("./images/sec7/lb/8-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="8"] .lb-role__title {
    background-image: url("./images/sec7/lb/8-title-m.png");
  }
}
.lb-role__body[data-role="9"]:before {
  background-image: url("./images/sec7/lb/9.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="9"]:before {
    background-image: url("./images/sec7/lb/9-m.png");
  }
}
.lb-role__body[data-role="9"] .lb-role__title {
  background-image: url("./images/sec7/lb/9-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="9"] .lb-role__title {
    background-image: url("./images/sec7/lb/9-title-m.png");
  }
}
.lb-role__body[data-role="10"]:before {
  background-image: url("./images/sec7/lb/10.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="10"]:before {
    background-image: url("./images/sec7/lb/10-m.png");
  }
}
.lb-role__body[data-role="10"] .lb-role__title {
  background-image: url("./images/sec7/lb/10-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="10"] .lb-role__title {
    background-image: url("./images/sec7/lb/10-title-m.png");
  }
}
.lb-role__body[data-role="11"]:before {
  background-image: url("./images/sec7/lb/11.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="11"]:before {
    background-image: url("./images/sec7/lb/11-m.png");
  }
}
.lb-role__body[data-role="11"] .lb-role__title {
  background-image: url("./images/sec7/lb/11-title.png");
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="11"] .lb-role__title {
    background-image: url("./images/sec7/lb/11-title-m.png");
  }
}
.lb-role__body[data-role="1"]:before {
  width: 40.9375vw;
  height: 37.1354166667vw;
  top: -7.7083333333vw;
  left: 16.9791666667vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="1"]:before {
    width: 72.7777777778vh;
    height: 66.0185185185vh;
    top: -13.7037037037vh;
    left: 30.1851851852vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="1"]:before {
    width: 100vw;
    height: 136.4583333333vw;
    top: -29.9479166667vw;
    left: 0;
  }
}
.lb-role__body[data-role="2"]:before {
  width: 45.7291666667vw;
  height: 40vw;
  top: -10.2604166667vw;
  left: 15.15625vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="2"]:before {
    width: 81.2962962963vh;
    height: 71.1111111111vh;
    top: -18.2407407407vh;
    left: 26.9444444444vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="2"]:before {
    width: 100vw;
    height: 144.921875vw;
    top: -38.5416666667vw;
    left: 0;
  }
}
.lb-role__body[data-role="3"]:before {
  width: 36.6666666667vw;
  height: 36.9270833333vw;
  top: -7.5vw;
  left: 21.40625vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="3"]:before {
    width: 65.1851851852vh;
    height: 65.6481481481vh;
    top: -13.3333333333vh;
    left: 38.0555555556vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="3"]:before {
    width: 69.2708333333vw;
    height: 127.2135416667vw;
    top: -20.8333333333vw;
    left: 28.6458333333vw;
  }
}
.lb-role__body[data-role="4"]:before {
  width: 35.1041666667vw;
  height: 37.7604166667vw;
  top: -8.3333333333vw;
  left: 23.28125vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="4"]:before {
    width: 62.4074074074vh;
    height: 67.1296296296vh;
    top: -14.8148148148vh;
    left: 41.3888888889vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="4"]:before {
    width: 68.75vw;
    height: 129.1666666667vw;
    top: -22.7864583333vw;
    left: 28.90625vw;
  }
}
.lb-role__body[data-role="5"]:before {
  width: 37.34375vw;
  height: 42.6041666667vw;
  top: -13.1770833333vw;
  left: 20.8333333333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="5"]:before {
    width: 66.3888888889vh;
    height: 75.7407407407vh;
    top: -23.4259259259vh;
    left: 37.037037037vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="5"]:before {
    width: 82.9427083333vw;
    height: 146.09375vw;
    top: -39.5833333333vw;
    left: 14.84375vw;
  }
}
.lb-role__body[data-role="6"]:before {
  width: 43.28125vw;
  height: 46.0416666667vw;
  top: -9.7395833333vw;
  left: 21.3541666667vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="6"]:before {
    width: 76.9444444444vh;
    height: 81.8518518519vh;
    top: -17.3148148148vh;
    left: 37.962962963vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="6"]:before {
    width: 65.7552083333vw;
    height: 133.3333333333vw;
    top: -26.953125vw;
    left: 31.9010416667vw;
  }
}
.lb-role__body[data-role="7"]:before {
  width: 38.6458333333vw;
  height: 40.0520833333vw;
  top: -10.625vw;
  left: 17.2916666667vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="7"]:before {
    width: 68.7037037037vh;
    height: 71.2037037037vh;
    top: -18.8888888889vh;
    left: 30.7407407407vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="7"]:before {
    width: 100vw;
    height: 142.7083333333vw;
    top: -36.4583333333vw;
    left: 0;
  }
}
.lb-role__body[data-role="8"]:before {
  width: 38.4375vw;
  height: 36.9791666667vw;
  top: -7.5520833333vw;
  left: 19.7395833333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="8"]:before {
    width: 68.3333333333vh;
    height: 65.7407407407vh;
    top: -13.4259259259vh;
    left: 35.0925925926vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="8"]:before {
    width: 89.5833333333vw;
    height: 129.9479166667vw;
    top: -23.6979166667vw;
    left: 7.9427083333vw;
  }
}
.lb-role__body[data-role="9"]:before {
  width: 41.0416666667vw;
  height: 37.03125vw;
  top: -7.6041666667vw;
  left: 20.8333333333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="9"]:before {
    width: 72.962962963vh;
    height: 65.8333333333vh;
    top: -13.5185185185vh;
    left: 37.037037037vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="9"]:before {
    width: 71.7447916667vw;
    height: 132.03125vw;
    top: -25.78125vw;
    left: 25.78125vw;
  }
}
.lb-role__body[data-role="10"]:before {
  width: 63.2291666667vw;
  height: 51.9791666667vw;
  top: -10.2604166667vw;
  left: 13.8020833333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="10"]:before {
    width: 112.4074074074vh;
    height: 92.4074074074vh;
    top: -18.2407407407vh;
    left: 24.537037037vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="10"]:before {
    width: 100vw;
    height: 140.8854166667vw;
    top: -34.5052083333vw;
    left: 0;
  }
}
.lb-role__body[data-role="11"]:before {
  width: 43.75vw;
  height: 36.9791666667vw;
  top: -7.5520833333vw;
  left: 18.125vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__body[data-role="11"]:before {
    width: 77.7777777778vh;
    height: 65.7407407407vh;
    top: -13.4259259259vh;
    left: 32.2222222222vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-role__body[data-role="11"]:before {
    width: 100vw;
    height: 125.9114583333vw;
    top: -19.6614583333vw;
    left: 0;
  }
}
.lb-role__title {
  width: 17.2916666667vw;
  height: 4.1666666667vw;
  -webkit-filter: drop-shadow(0 0.2604166667vw 0.15625vw rgba(0, 0, 0, 0.61));
          filter: drop-shadow(0 0.2604166667vw 0.15625vw rgba(0, 0, 0, 0.61));
  background-size: 100%;
  font-size: 0;
  margin-bottom: 1.4583333333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__title {
    width: 30.7407407407vh;
    height: 7.4074074074vh;
    margin-bottom: 2.5925925926vh;
    -webkit-filter: drop-shadow(0 0.462962963vh 0.2777777778vh rgba(0, 0, 0, 0.61));
            filter: drop-shadow(0 0.462962963vh 0.2777777778vh rgba(0, 0, 0, 0.61));
  }
}
@media screen and (max-width: 768px) {
  .lb-role__title {
    width: 65.4947916667vw;
    height: 16.1458333333vw;
    -webkit-filter: drop-shadow(0 0.6510416667vw 0.390625vw rgba(0, 0, 0, 0.61));
            filter: drop-shadow(0 0.6510416667vw 0.390625vw rgba(0, 0, 0, 0.61));
  }
}
.lb-role__text {
  width: 23.4895833333vw;
  height: 6.7708333333vw;
  font-size: 1.25vw;
  color: #fff2d2;
  text-shadow: 0 0.15625vw 0.3125vw rgba(0, 0, 0, 0.72), 0 0.2083333333vw 0.4166666667vw rgba(0, 0, 0, 0.72), 0 0.2604166667vw 0.625vw rgba(0, 0, 0, 0.72), 0 0.3125vw 0.8333333333vw rgba(0, 0, 0, 0.72), 0 0.3645833333vw 1.0416666667vw rgba(0, 0, 0, 0.72);
  line-height: 1.5;
  text-align: left;
  position: relative;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-role__text {
    width: 41.7592592593vh;
    height: 12.037037037vh;
    font-size: 2.2222222222vh;
    text-shadow: 0 0.2777777778vh 0.5555555556vh rgba(0, 0, 0, 0.72), 0 0.3703703704vh 0.7407407407vh rgba(0, 0, 0, 0.72), 0 0.462962963vh 1.1111111111vh rgba(0, 0, 0, 0.72), 0 0.5555555556vh 1.4814814815vh rgba(0, 0, 0, 0.72), 0 0.6481481481vh 1.8518518519vh rgba(0, 0, 0, 0.72);
  }
}
@media screen and (max-width: 768px) {
  .lb-role__text {
    width: 90.625vw;
    height: 36.5885416667vw;
    font-size: 5.5989583333vw;
    text-shadow: 0 0.390625vw 0.78125vw rgba(0, 0, 0, 0.72), 0 0.5208333333vw 1.0416666667vw rgba(0, 0, 0, 0.72), 0 0.6510416667vw 1.5625vw rgba(0, 0, 0, 0.72), 0 0.78125vw 2.0833333333vw rgba(0, 0, 0, 0.72), 0 0.9114583333vw 2.6041666667vw rgba(0, 0, 0, 0.72);
    padding-right: 15.625vw;
  }
}

.lb-image .gbox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lb-image__box {
  width: 52.0833333333vw;
  position: relative;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-image__box {
    width: 92.5925925926vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-image__box {
    width: 93.8802083333vw;
  }
}
.lb-image__box:before {
  content: "";
  position: absolute;
  width: 52.7604166667vw;
  height: 30vw;
  background-image: url("./images/lb-border.png");
  background-size: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-image__box:before {
    width: 93.7962962963vh;
    height: 53.3333333333vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-image__box:before {
    width: 95.4427083333vw;
    height: 54.4270833333vw;
    background-image: url("./images/lb-border-m.png");
  }
}
.lb-image__box img {
  max-width: 100%;
  display: block;
}

.lb-video .gbox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lb-video__box {
  width: 52.0833333333vw;
  position: relative;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-video__box {
    width: 92.5925925926vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-video__box {
    width: 93.8802083333vw;
  }
}
.lb-video__box:before {
  content: "";
  position: absolute;
  width: 52.7604166667vw;
  height: 30vw;
  background-image: url("./images/lb-border.png");
  background-size: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-video__box:before {
    width: 93.7962962963vh;
    height: 53.3333333333vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-video__box:before {
    width: 95.4427083333vw;
    height: 54.4270833333vw;
    background-image: url("./images/lb-border-m.png");
  }
}
.lb-video__box iframe {
  width: 100%;
  height: 28.9583333333vw;
  display: block;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .lb-video__box iframe {
    height: 51.4814814815vh;
  }
}
@media screen and (max-width: 768px) {
  .lb-video__box iframe {
    height: 52.0833333333vw;
  }
}

:root {
  --bg-color: #000;
  --safe-area-left: 0;
  --safe-area-right: 0;
  --safe-area-top: 0;
  --safe-area-bottom: 0;
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --safe-area-left: env(safe-area-inset-left);
    --safe-area-right: env(safe-area-inset-right);
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
  }
}
@media screen and (max-width: 768px) {
  #BF_divHeader {
    display: none;
  }
}

#header {
  padding-top: calc(1em + var(--safe-area-top));
}

#footer {
  bottom: calc(1em + var(--safe-area-bottom));
}

#eventFooter {
  height: auto !important;
}
#eventFooter .fp-tableCell {
  height: auto !important;
}

body {
  background-color: var(--bg-color, #fff);
  position: relative;
  width: 100%;
}

.lb-role__text {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}

#app {
  width: 100%;
  position: relative;
  width: calc(var(--width) * 1px);
}

[v-cloak] {
  display: none;
}

.sec {
  width: 100%;
  height: 56.25vw;
  background-size: cover;
  background-position: center;
  background-image: url("./images/sec-bg.jpg");
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec {
    height: 100vh;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .sec {
    width: 100vw;
    height: 173.6979166667vw;
    background-size: 100vw 173.6979166667vw;
    background-image: url("./images/sec-bg-m.jpg");
  }
}
.sec-info {
  width: 100%;
  height: 100%;
  position: relative;
}
.sec-title {
  font-size: 0;
}
.sec-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  width: 5.3645833333vw;
  height: 6.09375vw;
  background-size: 200%;
  background-image: url("./images/top.png");
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .top:hover {
    background-position-x: 100%;
  }
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .top {
    width: 9.537037037vh;
    height: 10.8333333333vh;
  }
}
@media screen and (max-width: 768px) {
  .top {
    width: 13.4114583333vw;
    height: 15.234375vw;
  }
}

.swiper-button-prev {
  width: 2.5520833333vw;
  height: 4.8958333333vw;
  background-image: url("./images/slide-prev.png");
  background-size: 100%;
  z-index: 2;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .swiper-button-prev {
    width: 4.537037037vh;
    height: 8.7037037037vh;
  }
}
@media screen and (max-width: 768px) {
  .swiper-button-prev {
    width: 6.1197916667vw;
    height: 11.8489583333vw;
  }
}
.swiper-button-prev:after {
  content: none;
}

.swiper-button-next {
  width: 2.5520833333vw;
  height: 4.8958333333vw;
  background-image: url("./images/slide-next.png");
  background-size: 100%;
  z-index: 2;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .swiper-button-next {
    width: 4.537037037vh;
    height: 8.7037037037vh;
  }
}
@media screen and (max-width: 768px) {
  .swiper-button-next {
    width: 6.1197916667vw;
    height: 11.8489583333vw;
  }
}
.swiper-button-next:after {
  content: none;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.2083333333vw;
     -moz-column-gap: 0.2083333333vw;
          column-gap: 0.2083333333vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -34px !important;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .swiper-pagination {
    -webkit-column-gap: 0.3703703704vh;
       -moz-column-gap: 0.3703703704vh;
            column-gap: 0.3703703704vh;
    bottom: -3.1481481481vh !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper-pagination {
    -webkit-column-gap: 0.5208333333vw;
       -moz-column-gap: 0.5208333333vw;
            column-gap: 0.5208333333vw;
    bottom: -7.03125vw !important;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 2.1354166667vw;
  height: 0.1041666667vw;
  background-color: rgba(255, 255, 255, 0.4);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d8b059;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 3.7962962963vh;
    height: 0.1851851852vh;
  }
}
@media screen and (max-width: 768px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 5.3385416667vw;
    height: 0.2604166667vw;
  }
}

.sec9 {
  background-image: url("./images/sec9/sec9-bg.jpg");
}
@media screen and (max-width: 768px) {
  .sec9 {
    background-image: url("./images/sec9/sec9-bg-m.jpg");
  }
}
.sec9-title1 {
  width: 62.2916666667vw;
  height: 4.5833333333vw;
  background-image: url("./images/sec9/sec9-title1.png");
  background-size: 100%;
  -webkit-filter: drop-shadow(0 0.3125vw 0.625vw rgba(0, 0, 0, 0.73));
          filter: drop-shadow(0 0.3125vw 0.625vw rgba(0, 0, 0, 0.73));
  position: absolute;
  top: 9.375vw;
  left: 50%;
  margin-left: -31.1458333333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-title1 {
    width: 110.7407407407vh;
    height: 8.1481481481vh;
    top: 16.6666666667vh;
    margin-left: -55.3703703704vh;
    -webkit-filter: drop-shadow(0 0.5555555556vh 1.1111111111vh rgba(0, 0, 0, 0.73));
            filter: drop-shadow(0 0.5555555556vh 1.1111111111vh rgba(0, 0, 0, 0.73));
  }
}
@media screen and (max-width: 768px) {
  .sec9-title1 {
    width: 92.3177083333vw;
    height: 41.6666666667vw;
    background-image: url("./images/sec9/sec9-title-m.png");
    margin-left: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 6.25vw;
    -webkit-filter: none;
            filter: none;
  }
}
.sec9-title2 {
  width: 18.6458333333vw;
  height: 1.3020833333vw;
  background-image: url("./images/sec9/sec9-title2.png");
  background-size: 100%;
  -webkit-filter: drop-shadow(0 0.2604166667vw 0.3125vw rgba(0, 0, 0, 0.84));
          filter: drop-shadow(0 0.2604166667vw 0.3125vw rgba(0, 0, 0, 0.84));
  position: absolute;
  top: 14.6875vw;
  left: 50%;
  margin-left: -9.3229166667vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-title2 {
    width: 33.1481481481vh;
    height: 2.3148148148vh;
    top: 26.1111111111vh;
    margin-left: -16.5740740741vh;
    -webkit-filter: drop-shadow(0 0.462962963vh 0.5555555556vh rgba(0, 0, 0, 0.84));
            filter: drop-shadow(0 0.462962963vh 0.5555555556vh rgba(0, 0, 0, 0.84));
  }
}
@media screen and (max-width: 768px) {
  .sec9-title2 {
    display: none;
  }
}
.sec9-content {
  width: 74.4791666667vw;
  position: absolute;
  top: 20vw;
  left: 50%;
  margin-left: -37.3958333333vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-content {
    width: 132.4074074074vh;
    top: 35.5555555556vh;
    margin-left: -66.4814814815vh;
    overflow: visible;
  }
}
@media screen and (max-width: 768px) {
  .sec9-content {
    width: 95.8333333333vw;
    top: 52.8645833333vw;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow: hidden;
    padding-top: 7.8125vw;
  }
}
.sec9-content .swiper {
  width: 74.4791666667vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-content .swiper {
    width: 132.4074074074vh;
  }
}
@media screen and (max-width: 768px) {
  .sec9-content .swiper {
    width: 95.8333333333vw;
    overflow: visible;
  }
}
.sec9-content .swiper img {
  width: 100%;
  display: block;
}
.sec9-content .swiper-slide {
  width: 41.3020833333vw;
  -webkit-filter: brightness(0.65);
          filter: brightness(0.65);
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-content .swiper-slide {
    width: 73.4259259259vh;
  }
}
@media screen and (max-width: 768px) {
  .sec9-content .swiper-slide {
    width: 100%;
    pointer-events: none;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
}
.sec9-content .swiper-slide.swiper-slide-active {
  -webkit-filter: drop-shadow(0 0 0.625vw rgba(0, 0, 0, 0.55));
          filter: drop-shadow(0 0 0.625vw rgba(0, 0, 0, 0.55));
  z-index: 10 !important;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-content .swiper-slide.swiper-slide-active {
    -webkit-filter: drop-shadow(0 0 1.1111111111vh rgba(0, 0, 0, 0.55));
            filter: drop-shadow(0 0 1.1111111111vh rgba(0, 0, 0, 0.55));
  }
}
@media screen and (max-width: 768px) {
  .sec9-content .swiper-slide.swiper-slide-active {
    pointer-events: auto;
    -webkit-filter: drop-shadow(0 0 1.5625vw rgba(0, 0, 0, 0.55));
            filter: drop-shadow(0 0 1.5625vw rgba(0, 0, 0, 0.55));
  }
}
.sec9-content .swiper-button-prev {
  left: 12.8125vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-content .swiper-button-prev {
    left: 22.7777777778vh;
  }
}
@media screen and (max-width: 768px) {
  .sec9-content .swiper-button-prev {
    left: 2.0833333333vw;
  }
}
.sec9-content .swiper-button-next {
  right: 12.8125vw;
}
@media screen and (min-width: 768px) and (max-height: 1080px) {
  .sec9-content .swiper-button-next {
    right: 22.7777777778vh;
  }
}
@media screen and (max-width: 768px) {
  .sec9-content .swiper-button-next {
    right: 2.0833333333vw;
  }
}

@media (max-width: 320px) {
  .sec9-content .swiper {
    width: 280px;
    height: 157px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .sec9-content .swiper {
    width: 291px;
    height: 165px;
  }
}
@media (min-width: 376px) and (max-width: 413px) {
  .sec9-content .swiper {
    width: 322px;
    height: 182px;
  }
}
@media (min-width: 414px) and (max-width: 540px) {
  .sec9-content .swiper {
    width: 322px;
    height: 182px;
  }
}
@media (min-width: 541px) and (max-width: 576px) {
  .sec9-content .swiper {
    width: 439px;
    height: 249px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .sec9-content .swiper {
    width: 594px;
    height: 336px;
  }
}